#chart-gauge, #chart-pie, #chart-column, #chart-line {
    display: block;
    min-width: 150px;
    max-width: 400px;
    height: 200px;
    margin: 0 auto;
  }
  .counter_dispaly{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;

}
.inner p {
  color: #333;
  font-size: large;
}
.icon_img{
    width: 70px;
}
.card-border{
    border-top: 4px solid #17a2b8;
}
.card-succs{
    border-top: 4px solid #28a745;
}
.card-warning1{
    border-top: 4px solid #ffc107;
}
.cm-draft {
  background-color: #4bb4e6;
}

.cm-submit {
  background-color: #a885db;
}

.cm-learning {
  background-color: #50be87;
}

.cm-reject {
  background-color: #ffb4e6;
}

.cm-expire {
  background-color: #333;
}

.cm-all {
  background-color: #085ebd;
}
