<div id="right-panel" class="right-panel">
    <app-header></app-header>

    <div class="breadcrumbs" style="background-color: #fbfbf7; padding: 9px 9px 20px 9px">
        <div class="col-sm-6">
            <div class="page-header float-left" style="background: transparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/creatnew.png" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span style="font-size: 20px" class="mb-1">Create new course </span>
                        <span style="color: #aba3a3; font-size: 13px">People Development & Learning Strives on Providing you with the
              best customer service we can drive</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-5 float-right">
      <div class="page-header float-right" style="background: transparent">
        <div class="page-title d-flex end_just">
          <ol class="breadcrumb text-right" style="background: transparent">
            <li>
              <a href="# ">
                <i class="fa fa-home" style="color: #5161ce"></i>
              </a>
            </li>
            <li>
              <a [routerLink]="['/dashboard']" style="color: #ff7901"
                >Dashboard</a
              >
            </li>
            <li>
              <a [routerLink]="['/dashboard/cources/']" style="color: #ff7901"
                >Create new Course</a
              >
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content mt-3">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-md-12">







            <div class="card">
                <div class="card-header" style="
                padding: 0.45rem 1.25rem;
                background-color: #fff;
                border-bottom: 1px solid #00000008;
              ">
                    <div>
                        <span class="card-title card_overall">Overall request Status</span
                >
                <!-- <a href="" class="btn btn-default float-right view_all"
                  >View All</a
                > -->
              </div>
            </div>
            <div class="card-body">
              <div class="Course_icon_parent" data-aos="fade-right">
                <div class="Course_icon_child">
                  <div class="alig_dashicon" (click)="getrecords(draftRequests)">
                    <div>
                      <div
                        class="fa-icons-des"
                        style="background-color: #4bb4e6"
                      >
                        <img src="../../../../assets/images/icon/drafts.png" />
                      </div>

                      <p>Draft</p>
                    </div>
                    <span class="number_css">{{draftRequests && draftRequests.length ? draftRequests.length : '0' }}</span>
                    </div>
                </div>
                <!--coled-->
                <div class="Course_icon_child">
                    <div class="alig_dashicon">
                        <div>
                            <div class="fa-icons-des" style="background-color: #a885db">
                                <img src="../../../../assets/images/icon/closed.png" />
                            </div>

                            <p>Submitted</p>
                        </div>
                        <span class="number_css">{{
                      collectionSize ? collectionSize : ""
                    }}</span>
                    </div>
                </div>
                <!--coled-->
                <div class="Course_icon_child" *ngIf="getUserrole.id != 2">
                    <div class="alig_dashicon" (click)="getrecords(pendingRequests)">
                        <div>
                            <div class="fa-icons-des" style="background-color: #ffd200">
                                <img src="../../../../assets/images/icon/pending.png" />
                            </div>

                            <p>Pending</p>
                        </div>
                        <span class="number_css">{{pendingRequests && pendingRequests.length ? pendingRequests.length : '0'}}</span>
                    </div>
                </div>
                <!--coled-->
                <div class="Course_icon_child">
                    <div class="alig_dashicon" (click)="getrecords(closedRequests)">
                        <div>
                            <div class="fa-icons-des" style="background-color: #50be87">
                                <img src="../../../../assets/images/icon/check.png" />
                            </div>

                            <p>Closed</p>
                        </div>
                        <span class="number_css">{{closedRequests && closedRequests.length ? closedRequests.length : '0'}}</span>
                    </div>
                </div>
                <!--coled-->
                <div class="Course_icon_child">
                    <div class="alig_dashicon" (click)="getrecords(rejectedRequests)">
                        <div>
                            <div class="fa-icons-des" style="background-color: #ffb4e6">
                                <img src="../../../../assets/images/icon/reject.png" />
                            </div>

                            <p>Rejected</p>
                        </div>
                        <span class="number_css">{{rejectedRequests && rejectedRequests.length ? rejectedRequests.length : '0'}}</span>
                    </div>
                </div>
                <!--coled-->
            </div>
            <!--ROW END-->
        </div>
        <div class="card-footer d-flex justify-content-center" style="border-top: 1px solid #00000008">
            <button class="btn btn-primary">
                <i class="fa fa-bar-chart mr-1" aria-hidden="true "></i> View
                complete report
              </button>
            <!-- </button> -->
            <button class="btn btn-primary ml-1" [routerLink]="['/dashboard/cources/create-cource']">
                + New request
              </button>
            <!-- </button> -->
        </div>
    </div>
</div>
</div>
<!-- .animated -->
</div>
<!-- .content -->
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12" *ngIf="getUserrole.id === 2">

                <div class="card">
                    <div class="card-header">
                        <div>
                            <i class="fa fa-table fa_table" aria-hidden="true "></i>
                            <span class="card-title card-title-text card_overall">Easy dynamic table</span
                >
                <i
                  class="fa fa-align-justify float-right fa_table"
                  aria-hidden="true "
                ></i>
              </div>
            </div>
            <div class="card-body">
              <div class="searc_dislp_inlin mt-1 mb-2 ml-2 mr-2">
                <div class="d-flex align-content-center">
                  <p style="font-size: 14px; color: #000">Show</p>
                  <p class="counter_css ml-1 mr-1">
                    10 <i class="fa fa-sort" aria-hidden="true "></i>
                  </p>
                  <p style="font-size: 14px; color: #000">entries</p>
                </div>
                <div _ngcontent-cue-c109=" " class="d-flex">
                  <label _ngcontent-cue-c109=" " class="mt-2 mr-1"
                    >Search:</label
                  >
                  <input
                    _ngcontent-cue-c109=" "
                    type="text "
                    name="search "
                    autocomplete="off "
                    [(ngModel)]="searchText"
                    placeholder=" "
                    class="form-control ng-untouched ng-pristine ng-valid"
                    ng-reflect-name="search "
                  />
                </div>
              </div>
              <div class="table-responsive">
                <table
                  id="bootstrap-data-table-export "
                  class="table table-striped table-bordered"
                >
                  <thead>
                    <tr>
                      <th sortable="id " (sort)="onSort($event)">
                        Request Id
                        <i
                          class="fa fa-long-arrow-up arrow_css"
                          aria-hidden="true "
                        ></i>
                        <i
                          class="fa fa-long-arrow-down arrow_css"
                          aria-hidden="true "
                        ></i>
                      </th>
                      <th sortable="user_name " (sort)="onSort($event)">
                        Requester Name
                        <i
                          class="fa fa-long-arrow-up arrow_css"
                          aria-hidden="true "
                        ></i>
                        <i
                          class="fa fa-long-arrow-down arrow_css"
                          aria-hidden="true "
                        ></i>
                      </th>

                      <th sortable="learning_type " (sort)="onSort($event)">
                        Activity Type
                        <i
                          class="fa fa-long-arrow-up arrow_css"
                          aria-hidden="true "
                        ></i>
                        <i
                          class="fa fa-long-arrow-down arrow_css"
                          aria-hidden="true "
                        ></i>
                      </th>
                      <!-- <th>Sent To</th> -->
                      <th>
                        Sent To
                        <i
                          class="fa fa-long-arrow-up arrow_css"
                          aria-hidden="true "
                        ></i>
                        <i
                          class="fa fa-long-arrow-down arrow_css"
                          aria-hidden="true "
                        ></i>
                      </th>
                      <th sortable="created_at " (sort)="onSort($event)">
                        Created Date
                        <i
                          class="fa fa-long-arrow-up arrow_css"
                          aria-hidden="true "
                        ></i>
                        <i
                          class="fa fa-long-arrow-down arrow_css"
                          aria-hidden="true "
                        ></i>
                      </th>
                      <th sortable="updated_at " (sort)="onSort($event)">
                        Last Modified
                        <i
                          class="fa fa-long-arrow-up arrow_css"
                          aria-hidden="true "
                        ></i>
                        <i
                          class="fa fa-long-arrow-down arrow_css"
                          aria-hidden="true "
                        ></i>
                      </th>
                      <th width="130 ">View History</th>
                      <th class="text-center">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cource of courcesList | filter: searchText">
                      <td>{{ cource.request_id }}</td>
                      <td>
                        {{
                          cource && cource.user_name ? cource.user_name : "- "
                        }}
                      </td>

                      <!-- <td>xyz</td> -->
                      <td>
                        {{ cource.learning_type ? cource.learning_type : "- " }}
                      </td>
                      <td>ROC</td>
                      <td>{{ cource.created_at | date: "short" }}</td>
                      <td>{{ cource.updated_at | date: "short" }}</td>
                      <td align="center ">
                        <i
                          class="fa fa-eye view"
                          aria-hidden="true "
                          (click)="openModal(cource)"
                        ></i>
                      </td>
                      <td  class="text-center">
                        <button class="btn btn-secondary pend_css">
                          Pending
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="pagintion_ parent d-flex justify-content-between ml-2 mr-2"
              >
                <div class="pagintion_ child">
                  <p style="font-size: 14px; color: #000">Showing 1 entries</p>
                </div>
                <div class="pagintion_ child">
                  <!-- <ngb-pagination
                    [collectionSize]="collectionSize "
                    [(page)]="service.page "
                    (pageChange)="refreshCourses() "
                    [maxSize]="service.maxSize "
                    [pageSize]="service.pageSize "
                    class="pagination "
                  >
                    <ng-template ngbPaginationPrevious>Prev</ng-template>
                    <ng-template ngbPaginationNext>Next</ng-template>
                    <ng-template ngbPaginationEllipsis>...</ng-template>
                    <ng-template
                      ngbPaginationNumber
                      let-page
                      style="color: #333 "
                      >{{ page }}</ng-template
                    >
                  </ngb-pagination> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-md-12"
          *ngIf="getUserrole.id === 3 || getUserrole.id === 4"
        >
          <div class="card">
            <div class="card-header" style="background-color: #fff">
              <div>
                <i class="fa fa-table fa_table" aria-hidden="true "></i>
                <span class="card-title card-title-text">Latest Requests</span>
                            <i class="fa fa-align-justify float-right fa_table" aria-hidden="true "></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="searc_dislp_inlin mt-1 mb-2 ml-2 mr-2">
                            <div class="d-flex align-content-center">
                                <p style="font-size: 14px; color: #000">Show</p>
                                <p class="counter_css ml-1 mr-1">
                                    10 <i class="fa fa-sort" aria-hidden="true "></i>
                                </p>
                                <p style="font-size: 14px; color: #000">entries</p>
                            </div>
                            <div _ngcontent-cue-c109=" " class="d-flex">
                                <label _ngcontent-cue-c109=" " class="mt-2 mr-1">Search:</label
                  >
                  <input
                    _ngcontent-cue-c109=" "
                    type="text "
                    name="search "
                    [(ngModel)]="searchText"
                    autocomplete="off "
                    placeholder=" "
                    class="form-control ng-untouched ng-pristine ng-valid"
                    ng-reflect-name="search "
                  />
                </div>
              </div>
              <div class="table-responsive">
                <table
                  id="bootstrap-data-table-export "
                  class="table table-striped table-bordered"
                >
                  <thead>
                    <tr style="font-size: 15px">
                      <th sortable="request_id" (sort)="onSort($event)">
                        Request Id
                        <i
                          class="fa fa-long-arrow-up arrow_css"
                          aria-hidden="true"
                        ></i>
                        <i
                          class="fa fa-long-arrow-down arrow_css"
                          aria-hidden="true"
                        ></i>
                      </th>
                      <th>
                        Requester Name<i
                          class="fa fa-long-arrow-up arrow_css"
                          aria-hidden="true"
                        ></i>
                        <i
                          class="fa fa-long-arrow-down arrow_css"
                          aria-hidden="true"
                        ></i>
                      </th>
                      <th sortable="learning_type" (sort)="onSort($event)">
                        Activity Type
                        <i
                          class="fa fa-long-arrow-up arrow_css"
                          aria-hidden="true"
                        ></i>
                        <i
                          class="fa fa-long-arrow-down arrow_css"
                          aria-hidden="true"
                        ></i>
                      </th>
                      <!-- <th>Sent To</th> -->
                      <th>
                        Sent To
                        <i
                          class="fa fa-long-arrow-up arrow_css"
                          aria-hidden="true"
                        ></i>
                        <i
                          class="fa fa-long-arrow-down arrow_css"
                          aria-hidden="true"
                        ></i>
                      </th>
                      <th sortable="created_at" (sort)="onSort($event)">
                        Created Date
                        <i
                          class="fa fa-long-arrow-up arrow_css"
                          aria-hidden="true"
                        ></i>
                        <i
                          class="fa fa-long-arrow-down arrow_css"
                          aria-hidden="true"
                        ></i>
                      </th>
                      <th sortable="updated_at" (sort)="onSort($event)">
                        Last Modified
                        <i
                          class="fa fa-long-arrow-up arrow_css"
                          aria-hidden="true"
                        ></i>
                        <i
                          class="fa fa-long-arrow-down arrow_css"
                          aria-hidden="true"
                        ></i>
                      </th>
                      <th  class="text-center">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let course of courcesList | filter: searchText"
                      (click)="getRequest(course)"
                    >
                      <td>{{ course.request_id }}</td>
                      <td>
                        {{
                          course && course.user_name ? course.user_name : "- "
                        }}
                      </td>
                      <!-- <td>xyz</td> -->
                      <td>
                        {{ course.learning_type ? course.learning_type : "- " }}
                      </td>
                      <td>ROC</td>
                      <td>{{ course.created_at | date: "short" }}</td>
                      <td>{{ course.updated_at | date: "short" }}</td>
                      <td  class="text-center">
                        <button class="btn btn-secondary pend_css">
                         {{course && course.status ? course.status :'-'}}
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div
                class="pagintion_ parent d-flex justify-content-between ml-2 mr-2"
              >
                <div class="pagintion_ child">
                  <p style="font-size: 14px; color: #000">Showing 1 entries</p>
                </div>
                <div class="pagintion_ child">
                  <!-- <ngb-pagination
                    [collectionSize]="collectionSize "
                    [(page)]="service.page "
                    (pageChange)="refreshCourses() "
                    [maxSize]="service.maxSize "
                    [pageSize]="service.pageSize "
                    class="pagination "
                  >
                    <ng-template ngbPaginationPrevious>Prev</ng-template>
                    <ng-template ngbPaginationNext>Next</ng-template>
                    <ng-template ngbPaginationEllipsis>...</ng-template>
                    <ng-template
                      ngbPaginationNumber
                      let-page
                      style="color: #333 "
                      >{{ page }}</ng-template
                    >
                  </ngb-pagination> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .animated -->
  </div>
</div>