.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-body {
    padding: 0.25rem;
}

.card-title-text {
    color: grey;
    position: relative;
    top: -4px;
    left: 5px;
}

.dash_wid {
    flex: 0 0 19.666667%;
    max-width: 20.666667%;
}

.fa_table {
    color: grey;
    font-size: 25px;
}

.alig_dashicon {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.alig_dashicon p {
    text-align: center;
    color: #ff7900;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0px;
}

.view-css {
    background: #ff7900;
    color: #fff;
    font-size: 0.8rem;
    box-shadow: 0 0.125rem 0.625rem rgb(255 121 1 / 64%), 0 0.0625rem 0.125rem rgb(255 121 1 / 15%);
}

.card .card-footer {
    background-color: #ffffff;
}

.number_css {
    font-size: 33px;
    color: #000;
    font-weight: 400;
    position: relative;
    top: 6px;
    left: 5px;
}

.fa-icons-des {
    background: red;
    padding: 7px 7px;
    border-radius: 56px;
}

.fa-icons-des img {
    width: 48px;
}

.fa-icons-des img {
    width: 48px;
}

.card_overall {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: #444054;
}

.view_all {
    border: 1px solid #444054;
    font-size: 0.8rem;
}

.view_all:hover {
    background: #ff871c;
    border-color: #ff7900;
    color: #fff;
}

.pending_css {
    padding: 2px 9px;
    font-size: 15px;
    background: #3f6ad8;
    border-color: #3f6ad8;
}