<aside id="left-panel" class="left-panel">
    <app-sidebar></app-sidebar>
  </aside>
  <!-- <app-header></app-header> -->
  <div id="right-panel" class="right-panel">
    <!-- Header-->
    <app-header></app-header> 
    <!-- /header -->
    <!-- Header-->
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Create New Course</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
              <li><a href="# ">Create New Course</a></li>
              <!-- <li><a href="# ">Create</a></li> -->
            </ol>
          </div>
        </div>
      </div>
    </div>
  
    <div class="content mt-3">
       
      </div>
    <!-- .content -->
  </div>