<!-- <aside id="left-panel" class="left-panel">
  <app-sidebar></app-sidebar>
</aside> -->
<!-- <app-header></app-header> -->
<div id="right-panel" class="right-panel">
  <!-- Header-->
  <app-header></app-header>
  <!-- /header -->
  <!-- Header-->
  <div class="breadcrumbs " style="background-color: #fbfbf7;padding: 9px 9px 20px 9px;">
    <div class="col-sm-1.5">
        <div class="page-header float-left " style="background:transparent;">
            <div class="page-title d-flex ">
                <img src="../../../../assets/images/creatnew.png" style="width: 60px;">



            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-left: -30px;">
        <div class="page-header float-left " style="background:transparent;">
            <div class="page-title ">
                <div class="d-flex flex-column">
                    <span style="font-size: 20px;">Create new course
                    </span>
                    <span style="color: #aba3a3;font-size: 13px;">People Development & Learning Strives on Providing you with the best customer
                    service we can drive</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 float-right">
        <div class="page-header float-right " style="background:transparent;">
            <div class="page-title d-flex ">
                <ol class="breadcrumb text-right " style="background:transparent;">
                    <li>
                        <a [routerLink]="['/dashboard']">
                            <i class="fa fa-home" style="color: #5161ce;"></i>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/dashboard']" style="color: #5161ce;">Dashboard</a>
                    </li>
                    <li><a [routerLink]="['/dashboard/cources']">Create new Course</a></li>

                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="padding: 0.45rem 1.25rem;background-color: #fff;">
                        <div>
                            <img src="../../../../assets/images/form.png" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; margin-right: 5px;">
                            <span>Complete this form and click on the submit button</span>
                            <a href="" class="float-right view_overall">View overall request status
                                <i class="fa fa-indent" aria-hidden="true" style="color: grey;"></i></a>
                        </div>
                    </div>


                </div>


            </div>
        </div>
        <!-- .animated -->
    </div>
    <!-- .content -->



</div>

<div class="content mt-1">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <span class="indicate_css"><span style="color: red;">*</span>Indicates required field</span>
                <div class="card">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label class=" form-control-label ">Email <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                                    <input type="email " placeholder="Enter Email" class="form-control form_width"></div>
                            </div>
                            <!--colend-->
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label class=" form-control-label ">Email <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                                    <input type="email " placeholder="Enter Email" class="form-control form_width"></div>
                            </div>
                            <!--colend-->
                        </div>
                        <!--row-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label class=" form-control-label ">Select <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                                    <select class="form-control  form_width">
<option>option 1</option>
<option>option 2</option>
<option>option 3</option>
<option>option 4</option>
<option>option 5</option>
</select></div>
                            </div>
                            <!--colend-->
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label class=" form-control-label ">Select <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                                    <select class="form-control  form_width">
<option>option 1</option>
<option>option 2</option>
<option>option 3</option>
<option>option 4</option>
<option>option 5</option>
</select></div>
                            </div>
                            <!--colend-->
                        </div>
                        <!--row-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label class=" form-control-label ">Password <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                                    <input type="text " placeholder="Enter ********" class="form-control form_width"></div>
                            </div>
                            <!--colend-->
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label class=" form-control-label ">Password <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                                    <input type="text " placeholder="Enter *******" class="form-control form_width"></div>
                            </div>
                            <!--colend-->
                        </div>
                        <!--row-->

                    </div>
                    <div class="card-footer d-flex justify-content-start">
                        <button class="btn btn-default submit-css">
                        Submit</button>
                        <!-- </button> -->
                        <button class="btn btn-default view-css ml-1" style="background :grey; 
                        color:#fff">
                       Save as draft</button>
                        <!-- </button> -->
                    </div>
                </div>


            </div>
        </div>
        <!-- .animated -->
    </div>
    <!-- .content -->



</div>
  <!-- .content -->
</div>
