<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Create a new test/quiz
    </h5>
    <button type="button" class="close" (click)="closeModal()">
        <span class="sr-only">Close live modal demo</span>
    </button>
</div>
<div class="modal-body">
    <div class="d-flex align-items-center justify-content-center">
        <div class="card mr-2 cursor-pointer" >
            <img (click)="openOrangeTest()" src="../../../../assets/images/icon/back_old.png" class="card-img-top w-100 " alt="...">
            <div (click)="openOrangeTest()" class="card-body">
                <p class="card-text text_orange text-center">Create a test  <br/>(Orange Learning format)
                </p>
            </div>
            <div class="card-footer jus_flex_start">
                <a  class="ul-li-sty">
                    <p class="color-black mb-0">Click <a (click)="openOrangeTestTemplate()" class="text_orange">here</a> to view the sample
                    </p>
                </a>
            </div>
        </div>
        <div class="card cursor-pointer" >
            <img (click)="openOrangeScorm()" src="../../../../assets/images/icon/back_old.png" class="card-img-top w-100 " alt="...">
            <div (click)="openOrangeScorm()" class="card-body">
                <p class="card-text text_orange text-center">Create a test <br/>(SCORM format)
                </p>
            </div>
            <div class="card-footer jus_flex_start">
                <a class="ul-li-sty">
                    <p class="color-black mb-0">Click <a (click)="openOrangeScormTemplate()" class="text_orange">here</a> to view the sample
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>