<nav class="navbar navbar-expand-lg navbar-light bg-light bac_des_css">
    <a class="logo_main d-flex align-items-end navbar-brand" [routerLink]="[ '/dashboard']">
        <img src="../../../../assets/images/Small_Logo_RGB.png" alt="logo" class="header_orange_logo" />
        <span class="pdl_text">PD&L requests</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse justify-content-end mt_6" id="navbarSupportedContent">
        <ul class="navbar-nav">

            <!-- <li class="nav-item">
                <a class="nav-link arrow_css_toggl" role="button" [routerLink]="[ '/dashboard']" style="margin-top: 3px;">
                    <i class=" fa fa-home icon_header_desi " aria-hidden="true "></i>

                </a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-dashcube icon_header_desi " aria-hidden="true "></i>
                    <span class="text_header_desi ">PD&L Only <i class="fa fa-angle-right ml-2 " aria-hidden="true "></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs " aria-labelledby="navbarDropdownMenuLink">
                    <div class="text-box_div ">

                        <div class="nav_p ">
                            <div id="myDIV ">
                                <button class="btn_active ">PD&L Dashboard</button>
                                <button class="btn_active ">User Management</button>
                            

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="getUserrole.id !=2 ">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-map-o icon_header_desi" aria-hidden="true"></i>
                    <span class="text_header_desi ">Set backups <i class="fa fa-angle-right ml-2 " aria-hidden="true "></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs" aria-labelledby="navbarDropdownMenuLink">
                    <div class="text-box_div ">

                        <div class="nav_p ">
                            <div class="text-box_div ">

                                <div class="nav_p ">
                                    <div id="myDIV ">
                                        <button class="btn_active " *ngIf="getUserrole.id==3 " [routerLink]="[ '/dashboard/set-backup'] ">Set ROC Backup</button>

                                        <button class="btn_active" *ngIf="getUserrole.id==4 " [routerLink]="[ '/dashboard/set-backup'] ">Set Publisher Backup</button>

                                        <button class="btn_active " [routerLink]="[ '/dashboard/sctworkflow'] ">Activate or Deactivate SCT Workflow</button>
                                        <button class="btn_active " [routerLink]="[ '/dashboard/sctworkflow'] ">Set CCT publisher backup</button>
                                        <button class="btn_active " [routerLink]="[ '/dashboard/sctworkflow'] ">Set Session Publisher backup</button>
                                        <button class="btn_active " [routerLink]="[ '/dashboard/sctworkflow'] ">Set OL role publisher backup</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-question-circle icon_header_desi " aria-hidden="true"></i>
                    <span class="text_header_desi ">Help Guide<i class="fa fa-angle-right ml-2 " aria-hidden="true "></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs " aria-labelledby="navbarDropdownMenuLink">
                    <div class="text-box_div ">

                        <div class="nav_p ">
                            <div id="myDIV ">
                                <button class="btn_active  ">Requester guide</button>
                                <button class="btn_active ">Publisher guide</button>
                               

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-link icon_header_desi" aria-hidden="true"></i>
                    <span class="text_header_desi ">Useful Links<i class="fa fa-angle-right ml-2 " aria-hidden="true "></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs " aria-labelledby="navbarDropdownMenuLink">
                    <div class="text-box_div ">

                        <div class="nav_p ">
                            <div id="myDIV ">
                                <button class="btn_active  "><a href="https://obs-learning-journey.sso.infra.ftgroup/">OBS Learning Journey</a></button>
                                <button class="btn_active "><a href="https://plazza.orange.com/login.jspa?referer=%252Fdocs%252FDOC-617886">Get to know us @ PD&L</a></button>
                                <button class="btn_active "><a href="https://idpfds.sso.infra.ftgroup/affwebservices/public/saml2sso?SPID=ole-01&ProtocolBinding=urn:oasis:names:tc:SAML:2.0:bindings:HTTP-">Orange Learning</a></button>
                                <button class="btn_active ">Contact Us</button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell-o icon_header " aria-hidden="true "></i>
                    <span class="bell_icon_number "><span>2</span></span>

                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs " aria-labelledby="navbarDropdownMenuLink ">
                    <div class="text-box_div ">

                        <div class="nav_p ">
                            <div id="myDIV ">
                                <button class="btn_active notifi_nowrap ">You have 2 Notifications</button>
                              

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                    <span class="text_header_desi_country ">{{selectedLaungauge}}
                        <i class="fa fa-angle-right ml-2 text_white" aria-hidden="true "></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs1 " aria-labelledby="navbarDropdownMenuLink ">
                    <div class="nav_p ">
                        <div id="myDIV ">
                            <button class="btn_active1" (click)="changeLaungauge(Laungauges.EN)">{{Laungauges.EN}}</button>
                            <button class="btn_active1" (click)="changeLaungauge(Laungauges.FR)">{{Laungauges.FR}}</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">

                    <span class="text_header_desi_logout ">Hello <span class="text_orange">{{firstName + " " + lastName}}</span>
                    <i class="fa fa-sign-out ml-2 " aria-hidden="true "></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs dropdown_header_width" aria-labelledby="navbarDropdownMenuLink ">

                    <!-- <div class="text-box_div ">
                            <h6 class="mark_anme d-flex justify-content-between ">
                                <span style="font-size: 9px; color: grey " class="mr-2 "></span
                >
                <span style="font-size: 9px; color: #000 ">
                  {{
                    getprofileDetails && getprofileDetails.first_name
                      ? getprofileDetails.first_name
                      : " "
                  }}
                  {{
                    getprofileDetails && getprofileDetails.last_name
                      ? getprofileDetails.last_name
                      : " "
                  }}</span
                >
              </h6>
              <h6 class="mark_anme d-flex justify-content-between ">
                <span style="font-size: 9px; color: grey " class="mr-2 "
                  >Profile-</span
                >
                <span class="web-dev " style="font-size: 9px; color: #000 "
                  >Web Developer</span
                >
              </h6>
            </div> -->
                    <!-- <div class="pb-2 " style="border-top: 1px solid grey; ">
                                <h6 class=" mt-2 ">
                                    <i class="fa fa-cog " aria-hidden="true "></i>
                                    <span class="pt-3 pb-3 pl-1 " style="color: grey; font-size: 16px ">Setting</span></h6>
                            <h6>
                                <i class="fa fa-universal-access " aria-hidden="true "></i>
                                <span class="pt-3 pb-3 pl-1 " style="color: grey; font-size: 16px ">Activity Log</span>
                            </h6>
                        </div> -->
                    <div class="info_div clearfix ">
                        <div class="image ">
                            <a href="# ">
                                <img src="../../../../assets/images/userimg.png " alt="John Doe ">
                            </a>
                        </div>
                        <div class="content_user ">
                            <h5 class="name ">
                                <a href="# "> {{
                    getprofileDetails && getprofileDetails.first_name
                      ? getprofileDetails.first_name
                      : " "
                  }}
                  {{
                    getprofileDetails && getprofileDetails.last_name
                      ? getprofileDetails.last_name
                      : " "
                  }}</a>
                            </h5>
                            <!-- <span class="email ">Web Developer</span> -->
                        </div>
                    </div>
                    <div class="text-box_div " (click)="logout() ">

                        <div class="nav_p ">
                            <div id="myDIV ">
                                <button class="btn_active "><i class="fa fa-exchange mr-3 fon_16" aria-hidden="true "></i><span class="fon_16">Switch User</span></button>
                                <button class="btn_active"><i class=" fa fa-sign-out mr-3 fon_16" aria-hidden="true "></i><span class="fon_16">Logout</span></button>


                            </div>
                        </div>
                    </div>

                    <!-- <div class="top-border text-center d-flex flex-column align-items-baseline " (click)="logout() ">
                        <div class="pb-1 p-2 ">
                            <a class="logout_button "></a>

                        </div>

                        <div class="pb-1 p-2 ">
                            <a class="logout_button "></a>

                        </div>
                    </div> -->
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV ");
    var btns = header.getElementsByClassName("btn ");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click ", function() {
            var current = document.getElementsByClassName("active ");
            current[0].className = current[0].className.replace(" active ", " ");
            this.className += " active ";
        });
    }
</script>