body {
    background: #f1f2f7;
}

.gear_css {
    font-size: 20px;
    color: #808080c4;
    margin-top: 7px;
    margin-right: 5px;
}

.set_backup {
    color: #ffffffe6;
    position: relative;
    top: -2px;
    font-size: 16px;
    left: -2px;
}

.icon_header_desi {
    font-size: 16px;
    background: #181818;
    padding: 18px;
    border-radius: 40px;
    color: grey;
}

.user-flag {
    width: 50px;
    position: relative;
    top: -5px;
}

.user_border {
    border-right: 1px solid #ffffff57;
    padding-right: 10px;
    border-left: 1px solid #ffffff57;
    padding-left: 10px;
}

.user-area .user-avatar {
    margin-top: -1px;
    width: 50px;
}

.user_dropicon {
    color: #fff;
    position: relative;
    top: 10px;
    font-size: 22px;
}

.bars_css {
    font-size: 26px;
    color: grey;
    margin-top: 9px;
}