<nav class="navbar navbar-expand-lg navbar-light bg-light bac_des_css">
    <a class="logo_main d-flex align-items-end navbar-brand" [routerLink]="['/']">
        <img src="../../../../assets/images/Small_Logo_RGB.png" alt="logo" class="header_orange_logo" />
        <span class="pdl_text">PD&L requests</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end mt_6" id="navbarSupportedContent">
        <ul class="navbar-nav">

            <!-- <li class="nav-item">
                <a class="nav-link arrow_css_toggl" role="button" [routerLink]="[ '/']" style="margin-top: 3px;">
                    <i class=" fa fa-home icon_header_desi " aria-hidden="true "></i>

                </a>
            </li> -->
            <li class="nav-item dropdown" *ngIf="pdlMember || isAdmin">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-dashcube icon_header_desi " aria-hidden="true "></i>
                    <span class="text_header_desi ">{{lableConstant.pdl_only}} <i class="fa fa-angle-right ml-2 "
                            aria-hidden="true "></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs " aria-labelledby="navbarDropdownMenuLink">
                    <div class="text-box_div ">

                        <div class="nav_p ">
                            <div id="myDIV ">
                                <button class="btn_active" *ngIf="pdlMember" [routerLink]="[ '/pdltools'] ">PD&L Dashboard</button>
                                <button class="btn_active" *ngIf="isAdmin" [routerLink]="[ '/user'] ">{{lableConstant.user_management}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="pdlMember || isAdmin || getUserrole.includes(3) || getUserrole.includes(4)|| getUserrole.includes(8) || getUserrole.includes(9)">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-map-o icon_header_desi" aria-hidden="true"></i>
                    <span class="text_header_desi ">{{lableConstant.set_backups}} <i class="fa fa-angle-right ml-2 "
                            aria-hidden="true "></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs" aria-labelledby="navbarDropdownMenuLink">
                    <div class="text-box_div ">
                        <div class="nav_p ">
                            <div class="text-box_div ">
                                <div class="nav_p ">
                                    <div id="myDIV ">
                                        <button class="btn_active " *ngIf="getUserrole.includes(3)"
                                            [routerLink]="[ '/set-backup'] ">Set ROC Backup</button>

                                        <button class="btn_active" *ngIf="getUserrole.includes(4)"
                                            [routerLink]="[ '/set-backup'] ">Set Publisher Backup</button>

                                        <button class="btn_active "  *ngIf="isAdmin" [routerLink]="[ '/sctworkflow'] ">Activate
                                            or Deactivate SCT Workflow</button>
                                        <button class="btn_active " *ngIf="getUserrole.includes(4)" [routerLink]="[ '/sctworkflow'] ">Set CCT
                                            publisher backup</button>
                                        <button class="btn_active " *ngIf="getUserrole.includes(9)" [routerLink]="[ '/sctworkflow'] ">Set
                                            Session Publisher backup</button>
                                        <button class="btn_active " *ngIf="getUserrole.includes(8)" [routerLink]="[ '/sctworkflow'] ">Set OL
                                            role publisher backup</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-question-circle icon_header_desi " aria-hidden="true"></i>
                    <span class="text_header_desi ">{{lableConstant.help_guide}}<i class="fa fa-angle-right ml-2 "
                            aria-hidden="true "></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs " aria-labelledby="navbarDropdownMenuLink">
                    <div class="text-box_div ">
                        <div class="nav_p ">
                            <div id="myDIV ">
                                <button class="btn_active">Requester guide</button>
                                <button class="btn_active" *ngIf="getUserrole && getUserrole.length > 0">Publisher guide</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-link icon_header_desi" aria-hidden="true"></i>
                    <span class="text_header_desi ">{{lableConstant.useful_links}}<i class="fa fa-angle-right ml-2 "
                            aria-hidden="true "></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs " aria-labelledby="navbarDropdownMenuLink">
                    <div class="text-box_div ">

                        <div class="nav_p ">
                            <div id="myDIV ">
                                <button class="btn_active  "><a
                                        href="https://obs-learning-journey.sso.infra.ftgroup/">OBS Learning Journey</a></button>
                                <button class="btn_active "><a
                                        href="https://plazza.orange.com/login.jspa?referer=%252Fdocs%252FDOC-617886">Get to know us @ PD&L</a></button>
                                <button class="btn_active "><a
                                        href="https://idpfds.sso.infra.ftgroup/affwebservices/public/saml2sso?SPID=ole-01&ProtocolBinding=urn:oasis:names:tc:SAML:2.0:bindings:HTTP-">
                                        Orange Learning</a></button>
                                <button class="btn_active ">Contact Us</button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell-o icon_header " aria-hidden="true "></i>
                    <span class="bell_icon_number "><span>{{totalNotification}}</span></span>

                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs " aria-labelledby="navbarDropdownMenuLink"
                    *ngIf="totalNotification > 0">
                    <div class="text-box_div ">
                        <div class="nav_p ">
                            <div id="myDIV">
                                <button class="btn_active notifi_nowrap" *ngIf="pendingRequestCount.course_pending > 0"
                                    (click)="navigatetoPending(modules.course)">
                                    You have {{pendingRequestCount.course_pending}} pending request in Create New Course
                                </button>
                                <button class="btn_active notifi_nowrap" *ngIf="pendingRequestCount.session_pending > 0"
                                    (click)="navigatetoPending(modules.session)">
                                    You have {{pendingRequestCount.session_pending}} pending request in Open Course
                                    Session
                                </button>
                                <button class="btn_active notifi_nowrap"
                                    *ngIf="pendingRequestCount.carousel_pending > 0"
                                    (click)="navigatetoPending(modules.carousel)">
                                    You have {{pendingRequestCount.carousel_pending}} pending request in Carousel
                                </button>
                                <button class="btn_active notifi_nowrap"
                                    *ngIf="pendingRequestCount.office_role_pending > 0"
                                    (click)="navigatetoPending(modules.backOffice)">
                                    You have {{pendingRequestCount.office_role_pending}} pending request in Back Office
                                    Role
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-expanded="false">
                    <span class="text_header_desi_country ">{{selectedLaungauge}}
                        <i class="fa fa-angle-right ml-2 text_white" aria-hidden="true "></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs1 " aria-labelledby="navbarDropdownMenuLink ">
                    <div class="nav_p ">
                        <div id="myDIV ">
                            <button class="btn_active1"
                                (click)="changeLaungauge(Laungauges.EN)">{{Laungauges.EN}}</button>
                            <button class="btn_active1"
                                (click)="changeLaungauge(Laungauges.FR)">{{Laungauges.FR}}</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-expanded="false">

                    <span class="text_header_desi_logout ">{{lableConstant.hello}} <span class="text_orange">{{firstName + " " +
                            lastName}}</span>
                        <i class="fa fa-sign-out ml-2 " aria-hidden="true "></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs dropdown_header_width"
                    aria-labelledby="navbarDropdownMenuLink ">

                    <!-- <div class="text-box_div ">
                            <h6 class="mark_anme d-flex justify-content-between ">
                                <span style="font-size: 9px; color: grey " class="mr-2 "></span
                >
                <span style="font-size: 9px; color: #000 ">
                  {{
                    getprofileDetails && getprofileDetails.first_name
                      ? getprofileDetails.first_name
                      : " "
                  }}
                  {{
                    getprofileDetails && getprofileDetails.last_name
                      ? getprofileDetails.last_name
                      : " "
                  }}</span
                >
              </h6>
              <h6 class="mark_anme d-flex justify-content-between ">
                <span style="font-size: 9px; color: grey " class="mr-2 "
                  >Profile-</span
                >
                <span class="web-dev " style="font-size: 9px; color: #000 "
                  >Web Developer</span
                >
              </h6>
            </div> -->
                    <!-- <div class="pb-2 " style="border-top: 1px solid grey; ">
                                <h6 class=" mt-2 ">
                                    <i class="fa fa-cog " aria-hidden="true "></i>
                                    <span class="pt-3 pb-3 pl-1 " style="color: grey; font-size: 16px ">Setting</span></h6>
                            <h6>
                                <i class="fa fa-universal-access " aria-hidden="true "></i>
                                <span class="pt-3 pb-3 pl-1 " style="color: grey; font-size: 16px ">Activity Log</span>
                            </h6>
                        </div> -->
                    <div class="info_div clearfix ">
                        <div class="image ">
                            <a>
                                <img src="../../../../assets/images/userimg.png " alt="logo">
                            </a>
                        </div>
                        <div class="content_user ">
                            <h5 class="name ">
                                <a> {{
                                    getprofileDetails && getprofileDetails.first_name
                                    ? getprofileDetails.first_name
                                    : " "
                                    }}
                                    {{
                                    getprofileDetails && getprofileDetails.last_name
                                    ? getprofileDetails.last_name
                                    : " "
                                    }}</a>
                            </h5>
                            <!-- <span class="email ">Web Developer</span> -->
                        </div>
                    </div>
                    <div class="text-box_div">
                        <div class="nav_p">
                            <div id="myDIV">
                                <button class="btn_active" *ngIf="isAdmin || isROM" (click)="switchUser()"><i class="fa fa-exchange mr-3 fon_16"
                                        aria-hidden="true"></i><span class="fon_16">Switch User</span></button>
                                <button class="btn_active" (click)="logout()"><i class=" fa fa-sign-out mr-3 fon_16"
                                        aria-hidden="true "></i><span class="fon_16">Logout</span></button>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="top-border text-center d-flex flex-column align-items-baseline " (click)="logout() ">
                        <div class="pb-1 p-2 ">
                            <a class="logout_button "></a>

                        </div>

                        <div class="pb-1 p-2 ">
                            <a class="logout_button "></a>

                        </div>
                    </div> -->
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV ");
    var btns = header.getElementsByClassName("btn ");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click ", function () {
            var current = document.getElementsByClassName("active ");
            current[0].className = current[0].className.replace(" active ", " ");
            this.className += " active ";
        });
    }
</script>