    body {
        background: #f1f2f7;
    }
    
    .logout_button {
        color: white;
        font-size: 14px;
        background: #5d5d5f;
        padding: 6px 9px;
        border-radius: 4px;
    }
    
    .gear_css {
        font-size: 20px;
        color: #808080c4;
        margin-top: 7px;
        margin-right: 5px;
    }
    
    .button_msg-div span {
        font-size: 14px;
        margin-left: 9px;
    }
    
    .set_backup {
        color: #ffffffe6;
        position: relative;
        top: -2px;
        font-size: 16px;
        left: -2px;
    }
    
    .icon_header_desi {
        font-size: 16px;
        background: #181818;
        padding: 18px;
        border-radius: 40px;
        color: grey;
    }
    
    .user-flag {
        width: 50px;
        position: relative;
        top: -5px;
    }
    
    .user_border {
        border-right: 1px solid #ffffff57;
        padding-right: 10px;
        border-left: 1px solid #ffffff57;
        padding-left: 10px;
    }
    
    .user-area .user-avatar {
        margin-top: -1px;
        width: 50px;
    }
    
    .user_dropicon {
        color: #fff;
        position: relative;
        top: 10px;
        font-size: 22px;
    }
    
    .bac_des_css {
        background-color: #000!important;
        padding: 6px 34px 1px;
    }
    
    .bars_css {
        font-size: 26px;
        color: grey;
        margin-top: 9px;
    }
    
    .navbar-light .navbar-toggler {
        background: #fff;
        color: #fff;
        border-color: #fff;
    }
    
    .drop_show {
        left: auto;
        right: 0;
    }
    
    .dropshow_main-cs {
        padding: 0px;
        width: 400px;
    }
    
    .after_backg_css1 {
        padding: 13px;
        background-image: url('../../../../assets/images/city3.png');
    }
    
    .arrow_css_toggl::after {
        display: none;
    }
    
    .arrow_css_show::after {
        color: #ffffff;
        position: relative;
        top: 9px;
        left: 3px;
    }
    
    .border_leftright {
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        margin-top: 9px;
        height: 51px;
    }
    
    @media (max-width: 768px) {
        .bred_marleft {
            margin-left: 0px;
        }
        .bac_des_css {
            padding: 6px 5px 1px !important;
        }
        .dropshow_main-cs {
            width: auto;
        }
        .border_leftright {
            border-left: none;
            border-right: none;
            height: none;
        }
        .res_lastdrop {
            margin-left: 10px;
        }
    }