<nav class="navbar navbar-expand-lg navbar-light bg-light bac_des_css">
    <a class="logo_main d-flex align-items-end navbar-brand">
        <img src="../../../../assets/images/Small_Logo_RGB.png" alt="logo" class="header_orange_logo" />
        <span class="pdl_text">PD&L requests</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="margin-top: -6px;">
        <ul class="navbar-nav">
            <li class="nav-item dropdown" *ngIf="getUserrole.id != 2">
                <a class="nav-link dropdown-toggle arrow_css_show mt-1" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-gear gear_css"></i>
                    <span class="set_backup">Set Backup</span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs" aria-labelledby="navbarDropdown">

                    <div class="text-box_div">
                        <div class="button_msg-div" *ngIf="getUserrole.id == 3">
                            <img src="https://img.icons8.com/ios/50/000000/security-user-female.png" style="width: 28px" />
                            <a [routerLink]="['/dashboard/set-backup']">Set ROC Backup</a>
                        </div>
                        <div class="button_msg-div" *ngIf="getUserrole.id == 4">
                            <img src="https://img.icons8.com/ios/50/000000/security-user-female.png" style="width: 28px" />
                            <a [routerLink]="['/dashboard/set-backup']">Set ROC Backup</a>
                        </div>
                        <!-- <div class="button_msg-div">
                                            <img src="https://img.icons8.com/ios/50/000000/security-user-female.png" style="width: 28px;" />
                                            <span>Set Session Publisher (Backup)</span>
                                        </div> -->
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../../../assets/images/HeaderIcon/Dash.png" class="icon_header_desi">
                    <span class="text_header_desi">Dashboard<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs" aria-labelledby="navbarDropdown">

                    <div class="text-box_div">

                        <div class="nav_p">
                            <div id="myDIV">
                                <button class="btn_active active">PD&L Dashboard</button>
                                <button class="btn_active">User Management</button>
                                <button class="btn_active">Admin Console</button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../../../assets/images/HeaderIcon/Setbackup.png" class="icon_header_desi">
                    <span class="text_header_desi">Set backups<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs" aria-labelledby="navbarDropdown">
                    <div class="text-box_div">

                        <div class="nav_p">
                            <div id="myDIV">
                                <button class="btn_active active">PD&L Dashboard</button>
                                <button class="btn_active">User Management</button>
                                <button class="btn_active">Admin Console</button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../../../assets/images/HeaderIcon/Helpguide.png" class="icon_header_desi">
                    <span class="text_header_desi">Help Guide<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs" aria-labelledby="navbarDropdown">
                    <div class="text-box_div">

                        <div class="nav_p">
                            <div id="myDIV">
                                <button class="btn_active active">PD&L Dashboard</button>
                                <button class="btn_active">User Management</button>
                                <button class="btn_active">Admin Console</button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../../../assets/images/HeaderIcon/Useful.png" class="icon_header_desi">
                    <span class="text_header_desi">Useful Links<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs" aria-labelledby="navbarDropdown">
                    <div class="text-box_div">

                        <div class="nav_p">
                            <div id="myDIV">
                                <button class="btn_active active">PD&L Dashboard</button>
                                <button class="btn_active">User Management</button>
                                <button class="btn_active">Admin Console</button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl mt-1 res_lastdrop" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell-o icon_header" aria-hidden="true"></i>
                    <span class="bell_icon_number"><span>2</span></span>

                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs" aria-labelledby="navbarDropdown">
                    <div class="text-box_div">

                        <div class="nav_p">
                            <div id="myDIV">
                                <button class="btn_active active">PD&L Dashboard</button>
                                <button class="btn_active">User Management</button>
                                <button class="btn_active">Admin Console</button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <span class="text_header_desi_country">EN
                        <i class="fa fa-angle-right ml-2" aria-hidden="true" style="color: #fff"></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs1" aria-labelledby="navbarDropdown">

                    <div class="nav_p">
                        <div id="myDIV">
                            <button class="btn_active1 active">EN</button>
                            <button class="btn_active1">FR</button>

                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow_css_toggl" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <span class="text_header_desi_logout">Welcome <span style="color: #ff7900;">Girish</span>
                    <i class="fa fa-sign-out ml-2" aria-hidden="true"></i></span>
                </a>
                <div class="dropdown-menu drop_show dropshow_main-cs" aria-labelledby="navbarDropdown">
                    <div class="top-border">
                        <div class="text-box_div">
                            <h6 class="mark_anme d-flex justify-content-between">
                                <span style="font-size: 9px; color: grey" class="mr-2">Username-</span
                >
                <span style="font-size: 9px; color: #000">
                  {{
                    getprofileDetails && getprofileDetails.first_name
                      ? getprofileDetails.first_name
                      : " "
                  }}
                  {{
                    getprofileDetails && getprofileDetails.last_name
                      ? getprofileDetails.last_name
                      : " "
                  }}</span
                >
              </h6>
              <h6 class="mark_anme d-flex justify-content-between">
                <span style="font-size: 9px; color: grey" class="mr-2"
                  >Profile-</span
                >
                <span class="web-dev" style="font-size: 9px; color: #000"
                  >Web Developer</span
                >
              </h6>
            </div>
            <!-- <div class="pb-2 " style="border-top: 1px solid grey; ">
                                <h6 class=" mt-2 ">
                                    <i class="fa fa-cog " aria-hidden="true "></i>
                                    <span class="pt-3 pb-3 pl-1 " style="color: grey; font-size: 16px ">Setting</span></h6>
                            <h6>
                                <i class="fa fa-universal-access " aria-hidden="true "></i>
                                <span class="pt-3 pb-3 pl-1 " style="color: grey; font-size: 16px ">Activity Log</span>
                            </h6>
                        </div> -->
                    </div>
                    <div class="top-border text-center d-flex justify-content-between" (click)="logout()">
                        <div class="pb-2 p-2">
                            <a class="logout_button">Change User</a>
                            <!-- <button (click)="logout() ">Logout</button> -->
                        </div>

                        <div class="pb-2 p-2">
                            <a class="logout_button">Logout</a>
                            <!-- <button (click)="logout() ">Logout</button> -->
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV");
    var btns = header.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>