<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/4.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">{{lableConstant.user_management}}</span>
                        <span class="divider_req"></span>
                        <span class="breade_text_span"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 float-right">
            <div class="page-header float-right bac_trasparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right bac_trasparent">
                        <li>
                            <a [routerLink]="['/dashboard']">
                                <i class="fa fa-home text_white"></i>
                            </a>
                        </li>
                        <li>
                            <span class="text_white span_dis">{{lableConstant.dashboard}}</span>
                        </li>
                        <li>
                            <span class="text_white span_dis">DNA</span>
                        </li>
                        <li>
                            <span class="text_white span_dis">Trackers</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-3">
        <div class="animated fadeIn">
            <form [formGroup]="learningNeedForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-control-label">Tracker Name</label>
                                            <input type="text" class="form-control form_width"
                                                formControlName="title" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-control-label">Tracker Description</label>
                                            <textarea type="text" class="form-control form_width-textarea"
                                                formControlName="description">
                                             </textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                {{lableConstant.Start_Date}}</label>
                                            <input type="date" class="form-control form_width"
                                                formControlName="open_date" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                {{lableConstant.End_Date}}</label>
                                            <input type="date" class="form-control form_width"
                                                formControlName="close_date" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-control-label">Type</label>
                                            <ng-select [items]="typeObj" bindLabel="name" bindValue="id"
                                                formControlName="type" class="w_100">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-control-label">Training DB</label>
                                            <ng-select [items]="trainingDataObj" bindLabel="name" bindValue="id"
                                                formControlName="training_data" class="w_100">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button *ngIf="isCreate" class="btn btn-primary mr-1" type="submit"
                                    (click)="save('active')"> <i class="fa fa-upload mr-1"
                                        aria-hidden="true"></i>Save</button>
                                <button *ngIf="!isCreate" class="btn btn-primary mr-1" data-toggle="modal"
                                    (click)="save('active')">
                                    <i class="fa fa-edit mr-1" aria-hidden="true"></i>Update
                                </button>
                                <button *ngIf="!isCreate" class="btn btn-secondary mr-1" data-toggle="modal"
                                    (click)="delete()">
                                    <i class="fa fa-trash" aria-hidden="true"></i>Delete
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>