 ::ng-deep body {
    background-color: #02121d !important;
    font-family: "Playfair Display", serif;
    font-family: "Raleway", sans-serif;
    font-family: "Ubuntu", sans-serif;
}


.main_body {
    width: 404px;
    margin: 68px auto;
    background: #fff;
    padding: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 14px;
}

.btn_login {
    background-color: #ff7900;
    border-color: #ff79006b;
    width: 100%;
    color: #fff;
}

.btn_login:hover {
    background-image: linear-gradient(to right, #ff7900, #ff79006b);
    border-color: #ff79006b;
    width: 100%;
    color: #fff;
}

.forgot_css {
    color: #000;
    float: right;
    font-size: 15px;
}

.forgot_css:hover {
    color: grey;
    float: right;
    font-size: 15px;
}

.form-field {
    padding: 40px 0px;
}

.errMsg {
    color: red;
    margin-top: 2px;
}