<div class="login">
    <div class="main_body">
        <div class="main_box">
            <div class="text-center parent_main_box">
                <img src="../../../assets/images/Small_Logo_RGB.png" alt="logo" />
            </div>
            <div class="form-field">
                <h4 class="text-center mb-3 fon_40">
                    <b>Login</b>
                </h4>
                <span *ngIf="incorrectCredential" class="mb-2 badge incorrect-error p-2">Username or Password
                    incorrect.</span>
                <form [formGroup]="loginForm">
                    <div class="form-group">
                        <label class="font_weig">Username</label>
                        <input type="text" class="form-control" placeholder="Enter Username"
                            formControlName="username" />

                        <div *ngIf="f.username?.touched && f.username?.invalid">
                            <p *ngIf="f.username.errors?.required" class="errMsg">
                                <small> *Username is required</small>
                            </p>

                            <p *ngIf="f.username.errors?.pattern" class="errMsg">
                                <small>Please enter valid email</small>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font_weig">Password</label>
                        <input type="password" class="form-control" placeholder="*********"
                            formControlName="password" />
                        <div *ngIf="f.password?.touched && f.password?.invalid">
                            <p *ngIf="f.password.errors?.required" class="errMsg">
                                <small>*Password is required</small>
                            </p>
                            <p *ngIf="f.password.errors?.minlength" class="errMsg">
                                <small> Password should be minimum 8</small>
                            </p>
                            <p *ngIf="f.password.errors?.maxlength" class="errMsg">
                                <small> Password should not exceed 20</small>
                            </p>

                            <p class="errMsg" *ngIf="
                !f.password.errors?.minlength &&
                !f.password.errors?.maxlength &&
                f.password.hasError('passwordStrength')
              ">
                                <small>{{ f.password.errors?.passwordStrength }}</small>
                            </p>
                        </div>
                    </div>
                    <a href="" class="forgot_css mb-2 font_weig">Forgot Password?</a>
                    <!-- </a> -->
                    <button type="submit" class="btn btn-default btn_login justify-content-center" value="Click Me"
                        onclick="this.style.backgroundColor = '#ff7900'; this.style.color = '#000';"
                        (click)="login()">Login</button>
                    <!-- </a> -->
                </form>
            </div>
        </div>
    </div>
</div>