<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/4.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">{{lableConstant.user_management}}</span>
                        <span class="divider_req"></span>
                        <span class="breade_text_span"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 float-right">
            <div class="page-header float-right bac_trasparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right bac_trasparent">
                        <li>
                            <a [routerLink]="['/dashboard']">
                                <i class="fa fa-home text_white"></i>
                            </a>
                        </li>
                        <li>
                            <span class="text_white span_dis">{{lableConstant.user_management}}</span>
                        </li>
                        <li>
                            <span class="text_white span_dis">{{lableConstant.users}}</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-3">
        <div class="animated fadeIn">
            <form [formGroup]="createUserForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2 ml-1">
                            <button *ngIf="!isCreate" class="btn btn-secondary mr-1" (click)="setPassword()">Change
                                Password</button>
                            <button *ngIf="isCreate" class="btn btn-secondary mr-1" type="submit" (click)="save()">
                                Save</button>
                            <button *ngIf="!isCreate" class="btn btn-secondary mr-1" data-toggle="modal"
                                (click)="save()">
                                <i class="fa fa-edit mr-1" aria-hidden="true"></i>
                                {{lableConstant.Update}}
                            </button>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                {{lableConstant.First_Name}}</label>
                                            <input type="text" class="form-control form_width"
                                                formControlName="first_name" />
                                            <div
                                                *ngIf="(createUserForm.controls['first_name'].invalid && (createUserForm.controls['first_name'].dirty || createUserForm.controls['first_name'].touched)) || isSubmitted">
                                                <div class="error_message"
                                                    *ngIf="createUserForm.controls['first_name'].errors?.required">
                                                    {{requiredMessage(this.lableConstant.First_Name)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                {{lableConstant.Last_Name}}</label>
                                            <input type="text" class="form-control form_width"
                                                formControlName="last_name" />
                                            <div
                                                *ngIf="(createUserForm.controls['last_name'].invalid && (createUserForm.controls['last_name'].dirty || createUserForm.controls['last_name'].touched)) || isSubmitted">
                                                <div class="error_message"
                                                    *ngIf="createUserForm.controls['last_name'].errors?.required">
                                                    {{requiredMessage(this.lableConstant.Last_Name)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="form-control-label">{{lableConstant.email}} </label>
                                            <input type="text" class="form-control form_width"
                                                formControlName="email" />
                                            <div class="error_message"
                                                *ngIf="(createUserForm.controls['email'].invalid && (createUserForm.controls['email'].dirty || createUserForm.controls['email'].touched)) ">
                                                Email is not valid.
                                                <div class="error_message"
                                                    *ngIf="createUserForm.controls['email'].errors?.required   || isSubmitted">
                                                    {{requiredMessage(this.lableConstant.email)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="isCreate">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-control-label">
                                                    {{lableConstant.enter_password}} </label>
                                                <input type="password" class="form-control form_width"
                                                    formControlName="password" />
                                                <div class="error_message"
                                                    *ngIf="(createUserForm.controls['password'].invalid && (createUserForm.controls['password'].dirty || createUserForm.controls['password'].touched)) "
                                                    class="error_message">
                                                    Please Enter Valid Password.
                                                    <div class="error_message"
                                                        *ngIf="createUserForm.controls['password'].errors?.required || isSubmitted">
                                                        {{requiredMessage(this.lableConstant.enter_password)}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-control-label">
                                                    {{lableConstant.confirm_password}}</label>
                                                <input type="password" class="form-control form_width"
                                                    formControlName="confirm_password" (keyup)=getConfirm_paassword() />

                                                <div *ngIf="(createUserForm.controls['confirm_password'].invalid && (createUserForm.controls['confirm_password'].dirty || createUserForm.controls['confirm_password'].touched))"
                                                    class="error_message">
                                                    Please Enter Valid Password
                                                    <div class="error_message" *ngIf="notmatched">
                                                        Password and confirm not match</div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="form-control-label">{{lableConstant.role}}</label>
                                            <ng-select [items]="rolesList" (change)="getSelectedRole($event)"
                                                [multiple]="true" bindLabel="role" bindValue="id"
                                                groupBy="module"
                                                formControlName="role_id">
                                            </ng-select>
                                            <div
                                                *ngIf="(createUserForm.controls['role_id'].invalid && (createUserForm.controls['role_id'].dirty || createUserForm.controls['role_id'].touched)) || isSubmitted">
                                                <div class="error_message"
                                                    *ngIf="createUserForm.controls['role_id'].errors?.required">
                                                    {{requiredMessage(this.lableConstant.role)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" *ngIf="isRegion">
                                        <div class="form-group">
                                            <label class="form-control-label">{{lableConstant.region}}</label>
                                            <ng-select [items]="regionList" [multiple]="false" bindLabel="name"
                                                bindValue="id" formControlName="region_id">
                                            </ng-select>
                                            <div
                                                *ngIf="(createUserForm.controls['region_id'].invalid && (createUserForm.controls['region_id'].dirty || createUserForm.controls['region_id'].touched)) || isSubmitted">
                                                <div class="error_message"
                                                    *ngIf="createUserForm.controls['region_id'].errors?.required">
                                                    {{requiredMessage(this.lableConstant.region)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" *ngIf="isLearningType">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                {{lableConstant.Learning_Type}}</label>
                                            <ng-select [items]="learningTypes" [multiple]="true" bindLabel="name"
                                                bindValue="id" formControlName="learning_type">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" *ngIf="isDnaRegion">
                                        <div class="form-group">
                                            <label class="form-control-label">{{lableConstant.region}}</label>
                                            <ng-select  [items]="regionDnaObj" 
                                            (change)="getSelectedRegion($event)"
                                                [multiple]="false" bindLabel="region_name" bindValue="id"
                                                formControlName="region_id">
                                            </ng-select>
                                            <div
                                            *ngIf="(createUserForm.controls['region_id'].invalid && (createUserForm.controls['region_id'].dirty || createUserForm.controls['region_id'].touched)) || isSubmitted">
                                            <div class="error_message"
                                             *ngIf="createUserForm.controls['region_id'].errors?.required">
                                             {{requiredMessage(this.lableConstant.region)}}
                                             </div>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" *ngIf="isCountry">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                {{lableConstant.Country}}
                                            </label>
                                            <ng-select  [items]="countriesObj"
                                                 bindLabel="country_name"
                                                bindValue="country_name" formControlName="country" class="w_100">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" *ngIf="isDomain">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                {{lableConstant.domain_training}}
                                            </label>
                                            <ng-select [items]="domainObj"
                                                 bindLabel="domain_name"
                                                bindValue="id" formControlName="domain_training_id" class="w_100">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" *ngIf="isBussinessUnit">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                {{lableConstant.business_unit_m1_level}}
                                            </label>
                                            <ng-select  [items]="bussinessUnitObj"
                                                 bindLabel="team_name"
                                                bindValue="id" formControlName="business_unit_id" class="w_100">
                                            </ng-select>     
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <input type="checkbox" formControlName="pdl_member" class="mr-1" /> <label
                                        class="mr-2">PD&L Member</label>
                                    <input type="checkbox" formControlName="status" class="mr-1" /> <label
                                        class="mr-2">Is Active</label>
                                    <input type="checkbox" formControlName="admin" class="mr-1" />
                                    <label class="mr-2">Admin</label>
                                    <input type="checkbox" formControlName="manager" class="mr-1" />
                                    <label class="mr-2">Manager</label>
                                    <input type="checkbox" formControlName="staff" class="mr-1" />
                                    <label class="mr-2">Staff</label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!isCreate" class="card">
                            <div _ngcontent-qub-c7="" class="card-header card_header_view">
                                <p>Login Details</p>
                            </div>
                            <div class="card-body">
                                <div class="col-sm-6 mt-2">
                                    <div class="form-group">
                                        <label class="form-control-label">Last Login</label>
                                        <div class="d-flex align-items-center">
                                            <span class="form_data">{{user_details?.last_login | date:
                                                dateTimeFormate}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mt-2">
                                    <div class="form-group">
                                        <label class="form-control-label">Joining Date</label>
                                        <div class="d-flex align-items-center">
                                            <span class="form_data">{{user_details?.created_at | date:
                                                dateTimeFormate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>