.btn_requst {
    box-shadow: 0 16px 26px -10px rgb(63 106 216 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(63 106 216 / 20%);
    border-radius: 0.25rem;
    background: #ff7900;
    border-color: #ff7900;
    color: #fff;
}

.error_message {
    font-size: 11px;
    margin-top: 3px;
    font-weight: bold;
    color: red;
}
.form-group .ng-touched.ng-invalid {
    border-color: red !important;
}

.form-group .ng-pristine.ng-invalid.ng-touched ::ng-deep .ng-select-container {
    border-color: red !important;
}


.tran_chekbox {
    width: 26px;
    height: 21px;
}

.trans_chk-label {
    position: relative;
    top: -3px;
}

.dis_inline_trans_header {
    display: flex;
    justify-content: space-between;
}

.card-height {
    height: 319px;
    overflow-y: scroll;
}

.card .card-footer {
    background-color: #ffffff;
}

.col-sm-5 {
    flex: 0 0 48.666667%;
    max-width: 48.666667%;
}

.trans_choose {
    background: grey;
    color: #fff;
}

@media (max-width: 768px) {
    .Requs_btn_inl-child {
        display: flex;
        margin-bottom: 15px;
    }
    .dis_inline_trans_header {
        flex-direction: column;
    }
    .col-sm-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}