body {
    margin: 0;
}

header {
    background: #000;
    padding: 5px;
    text-align: center;
}

.header-div {
    text-align: center;
}

.header-para {
    color: #fff;
    display: inline-block;
    font-size: 22px;
}

.header-span {
    color: #ff7900;
    font-size: 22px;
}

.main-section {
    padding: 10px;
}

.main-section-para {
    color: #000;
    font-weight: 600;
}

.main-section .heading_css {
    color: #000;
    font-weight: 500;
}

table,
th,
td {
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 10px;
}

.thead-css {
    background-color: #ff7900;
}

.tbody-css {
    background-color: #ececec;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    padding: 5px;
}

.footer-span-regards {
    color: #fff;
}

.footer-span-pdl {
    color: #ff7900;
}