<!DOCTYPE html>
<html>
<link rel="stylesheet" href="temp.css">

<head>
    <title>Page Title</title>
</head>

<body>
    <header>
        <div class="header-div">
            <p class="header-para">This is for testing-</p>
            <span class="header-span">Video Based trainning</span>
        </div>
    </header>

    <div class="main-section">
        <p class="main-section-para">Hello Gurmit Gulati</p>
        <h4 class="heading_css">Thank You for contacting People Development & Learning regarding the particular of a Learning object on Orange Learning
        </h4>
        <h4 class="heading_css">We will get back to you soon.
        </h4>
        <h4 class="heading_css">To view your request, click on the open link below.
        </h4>
        <table style="width:100%">
            <tr class="thead-css">
                <th>Course Name</th>
                <th>Status</th>
                <th>Link</th>
            </tr>
            <tr class="tbody-css">
                <td>This is for testing</td>
                <td>Submitted</td>
                <td>
                    <p><span style="color: red;">&#x2715;</span>The Linked</p>
                </td>
            </tr>

        </table>
    </div>
    <!--mai section-->
    <footer>
        <p class="footer-span-regards" style="margin-top: 0px;margin-bottom: 0px;">Kind Regards.</p>
        <p class="footer-span-pdl" style="margin-top: 0px;margin-bottom: 0px;">People Development & Learning.</p>
        <p class="" style="margin-top: 0px;"><a href="" class="footer-span-pdl">Connect to your potential--Development @ a Click!</a></p>
    </footer>
</body>

</html>