.filter_dispaly {
    display: flex;
}

.pagiantio_dispaly {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.label_course {
    font-weight: bold !important;
    font-size: 11px;
    margin-bottom: 0px;
    color: #000;
}

.form_width {
    width: 100%;
    padding: 8px!important;
    background: #fff!important;
    height: 35px!important;
    border-radius: 4px!important;
    font-size: 13px;
}

.card-title-text {
    color: grey;
    position: relative;
    top: -4px;
    left: 5px;
}

.Course_icon_parent {
    display: flex;
    justify-content: space-around;
}

.status_med_di {
    display: flex;
    justify-content: center;
}

.fa_table {
    color: grey;
    font-size: 25px;
}

.counter_css {
    border: 1px solid;
    width: 43px;
    font-size: 13px;
    text-align: center;
}

.view_history-img {
    width: 40px;
    cursor: pointer;
}

.alig_dashicon {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    cursor: pointer;
}

.sub-child-dashicon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alig_dashicon p {
    text-align: center;
    color: #ff7900;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0px;
    cursor: pointer;
}

.table thead tr {
    cursor: pointer;
}

.view-css {
    background: #ff7900;
    color: #fff;
    font-size: 0.8rem;
    box-shadow: 0 0.125rem 0.625rem rgb(255 121 1 / 64%), 0 0.0625rem 0.125rem rgb(255 121 1 / 15%);
}

.card .card-footer {
    background-color: #ffffff;
}

.number_css {
    font-size: 21px;
    color: #000;
    font-weight: 400;
    position: relative;
    top: -6px;
    left: 5px;
}

.searcshow_div {
    display: flex;
    justify-content: space-between;
    margin: 5px 13px;
}

.conter_number {
    color: #333;
    font-size: 11px;
    border: 1px solid;
    width: 43px;
    padding: 0px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer .btn-primary {
    color: #fff;
    font-size: 12px;
}
.bac_forwarded{
    background-color: #32c832;
}

.card_course_body {
    padding: 0.25rem;
}

.fa-icons-des {
    
    border-radius: 56px;
    height: 50px;
    width: 50px;
}

.fa-icons-des img {
    margin-top: -11px;
    width: 28px;
}

.overall_css {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_overall {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: #444054;
}

.view_all {
    border: 1px solid #444054;
    font-size: 0.8rem;
}

.view_all:hover {
    background: #ff871c;
    border-color: #ff7900;
    color: #fff;
}

.pending_css {
    padding: 2px 9px;
    font-size: 15px;
    background: #3f6ad8;
    border-color: #3f6ad8;
}

.submitted {
    color: #fff !important;
    background: #a885db;
    font-size: 11px;
    width: 73px;
    margin: auto;
}

.view_das {
    color: #fff !important;
    background: #085ebd;
    font-size: 11px;
    width: 73px;
    margin: auto;
}

.closed {
    color: #fff !important;
    background: #50be87;
    font-size: 11px;
    width: 73px;
    margin: auto;
}

.form-control {
    height: 1.9rem;
}

.card-header {
    padding: 0.45rem 1.25rem !important;
}

.current {
    background: #d96700 !important;
}
.filter_course{
    
    margin-bottom: 0;
    width: 240px;
}
.label_course {
    font-weight: bold !important;
    font-size: 13px;
    margin-bottom: 0px;
    color: #000;
}
.expired {
    color: #FFF !important;
    background: #333;
    font-size: 11px;
    width: 73px;
    margin: auto;
}
.publish {
    color: #000 !important;
    background: #50be87;
    font-size: 11px;
    width: 73px;
    margin: auto;
}
.sub_mitted{
    left: -4px;
}
.In_Active_Learning{
    left: -56px;
}
.pending {
    color: #000 !important;
    background: #ffd200;
    font-size: 11px;
    width: 73px;
    margin: auto;
}

.reject {
    color: #000 !important;
    background: #ffb4e6;
    font-size: 11px;
    width: 73px;
    margin: auto;
}

.draft {
    background-color: #4bb4e6;
    font-size: 11px;
    width: 73px;
    margin: auto;
    color: #fff !important;
}

.copy_file {
    border: 1px solid;
    padding: 7px 7px;
    border-radius: 50%;
    color: #000;
}

.bac_hover-table:hover {
    background-color: #e5e5e5;
}

.text-primary {
    color: #ff7901;
}

.copy_file .fa {
    font-size: 15px;
}

.pend_css {
    font-size: 0.8rem;
    width: 88px;
    justify-content: center;
}

tbody tr {
    font-size: 14px;
    cursor: pointer;
}

.pending_creat_course {
    font-size: 0.8rem;
    border-color: #ff7901;
    background: #ff7901;
    border-radius: 0.25rem;
}

.searc_dislp_inlin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_height_scroll {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.pagination {
    margin: 0px !important;
}

.sticky_header {
    position: sticky;
    top: -1px;
    background-color: #fff;
}

.re_id {
    color: #ff7901;
    font-weight: 600 !important;
}

.cm-card-header {
    padding: 0.45rem 1.25rem !important;
    background-color: #fff;
    border-bottom: 1px solid #00000008;
}

.title-sm-text {
    color: #aba3a3;
    font-size: 13px;
    margin-top: 6px;
}

.cm-draft {
    background-color: #4bb4e6;
}

.cm-submit {
    background-color: #a885db;
}

.cm-learning {
    background-color: #50be87;
}

.cm-reject {
    background-color: #ffb4e6;
}

.cm-expire {
    background-color: #333;
}

.cm-all {
    background-color: #085ebd;
}

.cm-card-header {
    padding: 0.45rem 1.25rem !important;
    background-color: #fff;
    border-bottom: 1px solid #00000008;
}

@media (max-width: 768px) {
    .page-title {
        margin-top: 10px;
    }

    .searc_dislp_inlin {
        display: flex;
        align-items: baseline;
        flex-direction: column;
    }

    .dash_wid {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .Course_icon_parent {
        display: inline;
    }

    .status_med_di {
        display: flex;
    }

    .overall_css {
        flex-direction: column;
    }

    .Course_icon_child {
        width: 33%;
        float: left;
        margin-top: 10px;
    }

    .filter_dispaly {
        flex-direction: column;
        width: 100%;
    }

    .filter_course {
        width: 100%;
        margin-bottom: 10px;
    }

    .pagiantio_dispaly {
        flex-direction: column;
    }
}