<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/4.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">Digital learning Needs Analysis</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">Digital learning Needs Analysis (DNA) is a tool that gathers learning needs from managers and helps align development needs with the overall business strategy. DNA also helps PD&L team to analyse and plan our learning resources efficiently.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 float-right">
            <div class="page-header float-right bac_trasparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right bac_trasparent">
                        <li>
                            <a [routerLink]="['/dashboard']">
                                <i class="fa fa-home text_white"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">Dashboard</a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard/dna']" class="text_white span_dis">Digital learning Needs Analysis</a>
                        </li>
                        <li>
                            <span class="text_white span_dis">View</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-2">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body card_course_body">
                            <div class="Course_icon_parent" data-aos="fade-right">
                                <div class="Course_icon_child" >
                                    <div class="alig_dashicon" (click)="showRecords(dnaStatus.pending)">
                                        <div class="sub-child-dashicon">
                                            <div class="fa-icons-des bac_yellow">
                                                <img src="../../../../assets/images/icon/pending.png" />
                                            </div>
                                            <p>Pending</p>
                                        </div>
                                        <span
                                            class="number_css ">{{dna_count.pending?dna_count.pending:0}}</span>
                                    </div>
                                </div>
                                <div class="Course_icon_child" >
                                    <div class="alig_dashicon" (click)="showRecords(dnaStatus.pending)">
                                        <div class="sub-child-dashicon">
                                            <div class="fa-icons-des bac_red">
                                                <img src="../../../../assets/images/icon/transfer.png" />
                                            </div>
                                            <p>Forwarded To ROM</p>
                                        </div>
                                        <span
                                            class="number_css ">{{dna_count.pending?dna_count.pending:0}}</span>
                                    </div>
                                </div>
                                <div class="Course_icon_child">
                                    <div class="alig_dashicon" (click)="showRecords(dnaStatus.closed)">
                                        <div class="sub-child-dashicon">
                                            <div class="fa-icons-des cm-learning">
                                                <img src="../../../../assets/images/icon/check.png" />
                                            </div>
                                            <p>Closed</p>
                                        </div>
                                        <span
                                            class="number_css pub_lished">{{dna_count.closed?dna_count.closed:0}}</span>
                                    </div>
                                </div>
                                <div class="Course_icon_child">
                                    <div class="alig_dashicon" (click)="showRecords(dnaStatus.transferred)">
                                        <div class="sub-child-dashicon">
                                            <div class="fa-icons-des bac_red">
                                                <img src="../../../../assets/images/icon/transfer.png" />
                                            </div>
                                            <p>Digital Learning</p>
                                        </div>
                                        <span
                                            class="number_css fow_warded">{{dna_count.transferred?dna_count.transferred:0}}</span>
                                    </div>
                                </div>
                                <div class="Course_icon_child">
                                    <div class="alig_dashicon" (click)="showRecords(dnaStatus.total)">
                                        <div class="sub-child-dashicon">
                                            <div class="fa-icons-des cm-all">
                                                <img src="../../../../assets/images/icon/viewall.png" />
                                            </div>
                                            <p>View All</p>
                                        </div>
                                        <span class="number_css">{{dna_count.total?dna_count.total:0}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header cm-card-header">
                            <div class="overall_css">
                                <div>
                                    <i class="fa fa-table fa_table" aria-hidden="true "></i>
                                    <span class="card-title card-title-text card_overall">Report</span>
                                </div>
                                 <div class="filter_dispaly">
                                    <button class="btn btn-primary btn_adduser mt-3 mr-2"      data-toggle="modal" (click)="openModal()">
                                        <i class="fa fa-plus mr-1" aria-hidden="true">
                                        </i><span>Forward the Request</span>
                                    </button>
                                  </div>                             
                                  </div>                                
                            </div> 
                          <div class="card-body">
                            <div class="table-responsive table_height_scroll">
                                <table id="bootstrap-data-table-export " class="table table-striped table-bordered">
                                    <thead class="sticky_header">
                                        <tr class="text-center font-13">
                                            <th sortable="request_id" >
                                                Details
                                                <i class="fa fa-long-arrow-up arrow_css" aria-hidden="true "></i>
                                                <i class="fa fa-long-arrow-down arrow_css" aria-hidden="true "></i>
                                            </th>
                                            <th sortable="request_id" >
                                                <input type="checkbox" >
                                            </th>
                                            <th sortable="request_id" >
                                                Priority
                                                <i class="fa fa-long-arrow-up arrow_css" aria-hidden="true "></i>
                                                <i class="fa fa-long-arrow-down arrow_css" aria-hidden="true "></i>
                                            </th>
                                            <th sortable="user_name" >
                                                Learning Type
                                                <i class="fa fa-long-arrow-up arrow_css" aria-hidden="true "></i>
                                                <i class="fa fa-long-arrow-down arrow_css" aria-hidden="true "></i>
                                            </th>

                                            <th sortable="first_name" >
                                                Learning Title<i class="fa fa-long-arrow-up arrow_css"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-long-arrow-down arrow_css" aria-hidden="true"></i>
                                            </th>
                                            <th sortable="last_name" >
                                                No. of Participants<i class="fa fa-long-arrow-up arrow_css"
                                                    aria-hidden="true"></i>
                                                <i class="fa fa-long-arrow-down arrow_css" aria-hidden="true"></i>
                                            </th>

                                            <th sortable="created_at" >
                                                Region Of Training
                                                <i class="fa fa-long-arrow-up arrow_css" aria-hidden="true "></i>
                                                <i class="fa fa-long-arrow-down arrow_css" aria-hidden="true "></i>
                                            </th>
                                            <th class="text-center">country Of Training</th>
                                            <th class="text-center">Management Code</th>
                                            <th class="text-center">Business Conultant Status</th>
                                            <th class="text-center">Comments</th>
                                            <th class="text-center">Closed By</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of learningList | filter: searchText  | paginate: { itemsPerPage: pagination.pageSize, currentPage: pagination.pageNumber } ; let i = index;"
                                        class="text-center bac_hover-table font-12">
                                            <td></td>
                                            <td> <input type="checkbox" [attr.disabled]="item.status == dnaStatus.close ? true : null" (click)="selectedItems(item)"></td>
                                            <td>{{item.user_email}}</td>
                                            <td>{{item.learning_type}}</td>
                                            <td>{{item.learning_type}}</td>
                                            <td>{{item.title}}</td>
                                            <td>{{item.number_of_participant}}</td>
                                            <td>{{item.priority_name}}</td>
                                            <td>{{item.country}}</td>
                                            <td>{{item.management_code}}</td>
                                            <td>{{item.business_unit_name}}</td>
                                            <td>{{item.status}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                           <!--  <div class="pagiantio_dispaly">
                                <div class="pagintion_ child">
                                    <p class="cm-pagination-fotter">Showing {{(pagination.pageSize *
                                        (pagination.pageNumber - 1)) + 1}} to
                                        {{(this.pagination.pageSize * this.pagination.pageNumber) >
                                        this.backOfficeListToShow?.length ? this.backOfficeListToShow?.length :
                                        this.pagination.pageSize * this.pagination.pageNumber}} of
                                        {{this.backOfficeListToShow?.length}} entries</p>
                                </div>
                                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>