.form_width {
    width: 100%;
    padding: 8px !important;
    background: #f9f9f9 !important;
    height: 40px !important;
    font-family: ubantu;
    border-radius: 4px !important;
}

.card-header {
    padding: 0.45rem 1.25rem !important;
}

.card-footer {
    padding: 0.45rem 1.25rem !important;
}

.label_font {
    font-family: ubantu !important;
}