.form-group .ng-touched.ng-invalid {
    border-color: red !important;
}

.form-group .ng-pristine.ng-invalid.ng-touched ::ng-deep .ng-select-container {
    border-color: red !important;
}
.error_message {
    font-size: 11px;
    margin-top: 3px;
    font-weight: bold;
    color: red;
}