<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/3.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">{{lableConstant.digital_learning_needs_analysis}}</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">{{lableConstant.dna_tool_feature}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 float-right">
            <div class="page-header float-right bac_trasparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right bac_trasparent">
                        <li>
                            <a [routerLink]="['/']" class="text_white">
                                <i class="fa fa-home" aria-colcount=""></i> {{lableConstant.home}}
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dna']" class="text_white span_dis">{{lableConstant.dna}}</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <ngb-alert [dismissible]="false" type="warning" *ngIf="!isManager" class="d-block m-3">
        <span>The DNA tool can be only accessible to a manager who has direct reporting of the employee.</span>
        <p class="mb-0">Please contact to administrator of this site for more details.</p>
    </ngb-alert>
    <div class="card mb-0" *ngIf="isManager">
        <div class="card-header color-orange">
            <div class="d-flex justify-content-between">
                <span class="row">
                    {{title}} <h5 class="card-title ml-1">
                        <b class="color-orange"></b>
                    </h5>
                </span>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="createDnaForm">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="form-control-label">
                                {{lableConstant.learning_title}}
                            </label>
                            <ng-select container="body" placement="bottom" [items]="titleList"
                                bindLabel="training_title" bindValue="id" addTagText="Create New" [addTag]="createNew"
                                formControlName="learning_id" class="w_100" (change)="getTitle($event)">
                                <ng-template ng-option-tmp let-item="item">
                                    <div title="{{item.training_description}}">
                                        {{item.training_title}}
                                    </div>
                                </ng-template>
                            </ng-select>
                            <div
                                *ngIf="(createDnaForm.controls['title'].invalid && (createDnaForm.controls['title'].dirty || createDnaForm.controls['title'].touched)) || isSubmitted">
                                <div class="error_message" *ngIf="createDnaForm.controls['title'].errors?.required">
                                    {{requiredMessage(this.lableConstant.learning_title)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" *ngIf="isDescription">
                        <div class="form-group">
                            <label class="form-control-label">
                                {{lableConstant.Description}}
                            </label>
                            <input type="text" class="form-control form_width" formControlName="description">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                {{lableConstant.number_of_participants}}
                            </label>
                            <input type="text" class="form-control form_width" formControlName="number_of_participant">
                            <div
                                *ngIf="(createDnaForm.controls['number_of_participant'].invalid && (createDnaForm.controls['number_of_participant'].dirty || createDnaForm.controls['number_of_participant'].touched)) || isSubmitted">
                                <div class="error_message"
                                    *ngIf="createDnaForm.controls['number_of_participant'].errors?.required">
                                    {{requiredMessage(this.lableConstant.number_of_participants)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                {{lableConstant.priority}}
                            </label>
                            <ng-select [items]="priorityObj" bindLabel="name" bindValue="id"
                                formControlName="priority_id" class="w_100">
                            </ng-select>
                            <div
                                *ngIf="(createDnaForm.controls['priority_id'].invalid && (createDnaForm.controls['priority_id'].dirty || createDnaForm.controls['priority_id'].touched)) || isSubmitted">
                                <div class="error_message"
                                    *ngIf="createDnaForm.controls['priority_id'].errors?.required">
                                    {{requiredMessage(this.lableConstant.priority)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="!isFrance">
                        <div class="form-group">
                            <label class="form-control-label">
                                {{lableConstant.Management_Code}}
                            </label>
                            <input type="text" class="form-control form_width" formControlName="management_code">
                            <div
                                *ngIf="(createDnaForm.controls['management_code'].invalid && (createDnaForm.controls['management_code'].dirty || createDnaForm.controls['management_code'].touched)) || isSubmitted">
                                <div class="error_message"
                                    *ngIf="createDnaForm.controls['management_code'].errors?.required">
                                    {{requiredMessage(this.lableConstant.Management_Code)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="isFrance">
                        <div class="form-group">
                            <label class="form-control-label">
                                {{lableConstant.domain_training}}
                            </label>
                            <ng-select [items]="domainObj" bindLabel="domain_name" bindValue="id"
                                formControlName="domain_training_id" class="w_100">
                            </ng-select>
                            <div
                                *ngIf="(createDnaForm.controls['domain_training_id'].invalid && (createDnaForm.controls['domain_training_id'].dirty || createDnaForm.controls['domain_training_id'].touched)) || isSubmitted">
                                <div class="error_message"
                                    *ngIf="createDnaForm.controls['domain_training_id'].errors?.required">
                                    {{requiredMessage(this.lableConstant.domain_training)}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                {{lableConstant.delivery_region}}
                            </label>
                            <ng-select [items]="isFrance ? regionObj : regionsObj" bindLabel="region_name"
                                bindValue="id" (change)="getEvent($event)" formControlName="region_id" class="w_100">
                            </ng-select>
                            <div
                                *ngIf="(createDnaForm.controls['region_id'].invalid && (createDnaForm.controls['region_id'].dirty || createDnaForm.controls['region_id'].touched)) || isSubmitted">
                                <div class="error_message" *ngIf="createDnaForm.controls['region_id'].errors?.required">
                                    {{requiredMessage(this.lableConstant.delivery_region)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="isCountry && !isFrance">
                        <div class="form-group">
                            <label class="form-control-label">
                                {{lableConstant.delivery_country}}
                            </label>
                            <ng-select [items]="countriesObj" bindLabel="country_name" bindValue="country_name"
                                formControlName="country" class="w_100">
                            </ng-select>
                            <div
                                *ngIf="(createDnaForm.controls['country'].invalid && (createDnaForm.controls['country'].dirty || createDnaForm.controls['country'].touched)) || isSubmitted">
                                <div class="error_message" *ngIf="createDnaForm.controls['country'].errors?.required">
                                    {{requiredMessage(this.lableConstant.delivery_country)}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4" *ngIf="isFrance">
                        <div class="form-group">
                            <label class="form-control-label">
                                {{lableConstant.delivery_location}}
                            </label>
                            <ng-select [items]="locationsObj" bindLabel="location_name" bindValue="location_name"
                                formControlName="location" class="w_100">
                            </ng-select>
                            <div
                                *ngIf="(createDnaForm.controls['location'].invalid && (createDnaForm.controls['location'].dirty || createDnaForm.controls['location'].touched)) || isSubmitted">
                                <div class="error_message" *ngIf="createDnaForm.controls['location'].errors?.required">
                                    {{requiredMessage(this.lableConstant.delivery_location)}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-control-label">
                                {{lableConstant.business_unit_m1_level}}
                            </label>
                            <ng-select [items]="bussinessUnitObj" bindLabel="team_name" bindValue="id"
                                (change)="getOtherBusinessUnit($event)" formControlName="business_unit_id"
                                class="w_100">
                            </ng-select>
                            <div
                                *ngIf="(createDnaForm.controls['business_unit_id'].invalid && (createDnaForm.controls['business_unit_id'].dirty || createDnaForm.controls['business_unit_id'].touched)) || isSubmitted">
                                <div class="error_message"
                                    *ngIf="createDnaForm.controls['business_unit_id'].errors?.required">
                                    {{requiredMessage(this.lableConstant.business_unit_m1_level)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="isOtherBU">
                        <div class="form-group">
                            <label class="form-control-label">
                                {{lableConstant.other_business_unit}}
                            </label>
                            <input type="text" class="form-control form_width" formControlName="other_bussiness_unit">
                            <div
                                *ngIf="(createDnaForm.controls['other_bussiness_unit'].invalid && (createDnaForm.controls['other_bussiness_unit'].dirty || createDnaForm.controls['other_bussiness_unit'].touched)) || isSubmitted">
                                <div class="error_message"
                                    *ngIf="createDnaForm.controls['other_bussiness_unit'].errors?.required">
                                    {{requiredMessage(this.lableConstant.other_business_unit)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary mr-1" type="submit" (click)="save()">
                <i aria-hidden="true" class="fa fa-upload">
                </i> <span class="pl-1">{{lableConstant.submit}}</span>
            </button>
            <button class="btn btn-secondary mr-1" type="button" (click)="close()">
                <i aria-hidden="true" class="fa fa-times">
                </i> <span class="pl-1">{{lableConstant.Close}}</span>
            </button>
        </div>
    </div>
</div>