<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/3.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">Digital learning Needs Analysis</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">Digital learning Needs Analysis (DNA) is a tool that gathers
                        learning needs from managers and helps align development needs with the overall business
                        strategy. DNA also helps PD&L team to analyse and plan our learning resources
                        efficiently.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 float-right">
            <div class="page-header float-right bac_trasparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right bac_trasparent">
                        <li>
                            <a [routerLink]="['/dashboard']">
                                <i class="fa fa-home text_white"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">Dashboard</a>
                        </li>
                        <li>
                            <span class="text_white span_dis">DNA</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-3">
        <div class="animated fadeIn">
            <form [formGroup]="createUserForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">                                   
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="form-control-label">{{lableConstant.role}}</label>
                                            <ng-select  [items]="rolesList"
                                                (change)="getSelectedRole($event)" [multiple]="false" bindLabel="role"
                                                bindValue="id" formControlName="role_id">
                                            </ng-select>
                                            <div
                                            *ngIf="(createUserForm.controls['role_id'].invalid && (createUserForm.controls['role_id'].dirty || createUserForm.controls['role_id'].touched)) || isSubmitted">
                                            <div class="error_message"
                                             *ngIf="createUserForm.controls['role_id'].errors?.required">
                                              {{requiredMessage(this.lableConstant.role)}}
                                                  </div>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" *ngIf="isRegion">
                                        <div class="form-group">
                                            <label class="form-control-label">{{lableConstant.region}}</label>
                                            <ng-select  [items]="regionObj" 
                                            (change)="getSelectedRegion($event)"
                                                [multiple]="false" bindLabel="region_name" bindValue="id"
                                                formControlName="region_id">
                                            </ng-select>
                                            <div
                                            *ngIf="(createUserForm.controls['region_id'].invalid && (createUserForm.controls['region_id'].dirty || createUserForm.controls['region_id'].touched)) || isSubmitted">
                                            <div class="error_message"
                                             *ngIf="createUserForm.controls['region_id'].errors?.required">
                                             {{requiredMessage(this.lableConstant.region)}}
                                             </div>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" *ngIf="isCountry">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Country
                                            </label>
                                            <ng-select  [items]="countriesObj"
                                                 bindLabel="country_name"
                                                bindValue="country_name" formControlName="country" class="w_100">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" *ngIf="isDomain">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Domain  Training
                                            </label>
                                            <ng-select [items]="domainObj"
                                                 bindLabel="domain_name"
                                                bindValue="id" formControlName="domain_training_id" class="w_100">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" *ngIf="isBussinessUnit">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Business Unit/M1 Level
                                            </label>
                                            <ng-select  [items]="bussinessUnitObj"
                                                 bindLabel="team_name"
                                                bindValue="id" formControlName="business_unit_id" class="w_100">
                                            </ng-select>     
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="card-footer">
                                <button class="btn btn-primary mr-1" type="submit" (click)="save()">
                                    <i aria-hidden="true" class="fa fa-upload">
                                    </i> <span class="pl-1">Save</span>
                                </button>
                                <button class="btn btn-secondary mr-1" type="button" 
                                (click)="close()">
                                    <i aria-hidden="true" class="fa fa-times">
                                    </i> <span class="pl-1">Close</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
