<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/3.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">Digital learning Needs Analysis</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">Digital learning Needs Analysis (DNA) is a tool that gathers
                        learning needs from managers and helps align development needs with the overall business
                        strategy. DNA also helps PD&L team to analyse and plan our learning resources
                        efficiently.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 float-right">
            <div class="page-header float-right bac_trasparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right bac_trasparent">
                        <li>
                            <a [routerLink]="['/dashboard']">
                                <i class="fa fa-home text_white"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">Dashboard</a>
                        </li>
                        <li>
                            <span class="text_white span_dis">Digital learning Needs Analysis</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-1">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <div class="card dna_card_data">
                        <div class="card-header dna_card_header">
                            <p>
                            </p>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body ">
                                    <div class="hide_button_admin">
                                        <button [routerLink]="[ '/dashboard/dna/user']" class="btn btn-primary">DNA Roles</button>
                                        </div>
                                    <div class="row">
                                        <div class="col-sm-3" *ngFor="let item of trackerObj">
                                            <div class="card card_seco_dna">
                                                <!-- <img src="../../../../assets/images/6.png" class="dna_img"> -->
                                                <div class="border_top_card_dna">
                                                    <p>{{item.type_name}}</p>
                                                </div>
                                                <div class="card_bac_dna">
                                                    <p class="color_balck fon_16 font_weight mt_13 mb-0">{{item.title}}</p>
                                                    <img src="../../../../assets/images/worl_co.png" class="w_50_dna">
                                                    <div class="date_amin_div d-flex justify-space_around">
                                                        <div class="start-date">
                                                            <p class="p_text_date">{{item.open_date | date: dateFormate}}</p>
                                                            <p class="p_text_date_0">Start Date</p>
                                                        </div>
                                                        <div class="border-betwe"></div>
                                                        <div class="end-date">
                                                            <p class="p_text_date">{{item.close_date | date: dateFormate}}</p>
                                                            <p class="p_text_date_0">End Date</p>
                                                        </div>
                                                    </div>
                                                    <p class="text_white fon_12 font_weight mt-1">Click Start button to see
                                                        added learning need.</p>
                                                    <div class="mb-2 buttonstart_ma">
                                                        <button class="btn btn-primary" *ngIf="item.isStart"
                                                        (click)="addLearning(item)"><span
                                                        class="fon_12">Start</span></button>
                                                        <button class="btn btn-primary" *ngIf="!item.isStart" (click)="viewReport(item)"><span
                                                            class="fon_12">View</span></button>
                                                        <button class="btn btn-secondary ml-1"
                                                        (click)="managerData(item)"><span class="fon_12">Manager
                                                                Report</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                     
                                    </div>
                                    </div>
                                </div>
                                
                              <div class="row mt-1">
                                <div class="col-sm-12 ng_container_header">
                                  
                                   
                                    <div class="card">
                                      
                                        <div class="card-header bac_white">
                                            <div class="d-flex justify_content align-items-center">
                                                <p class="mb-0 text_balck">PDL & Review</p>
                                               
                                            </div>
                                        </div>
                                    
                                   
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-4" *ngFor="let item of requestedTrackerList">
                                                    <div class="card mb-3">
                                                        <div class="row no-gutters">
                                                            <div class="col-md-4">
                                                                <div class="colection_data  bac_green">
                                                                    <p class="text_white fon_12 mb-1 lin_5">{{item.title}}</p>
                                                                    <div>
                                                                        <img
                                                                            src="../../../../assets/images/worl_co.png">
                                                                    </div>
                                                                    <a (click)="completeReport(item.id)" class="color_balck fon_12 mt-2">Full
                                                                        report <i class="fa fa-arrow-right ml-1"
                                                                            aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="card-body">
                                                                    <h5 class="fon_14 color_balck mb-1 font_weight">{{item.title}}</h5>
                                                                    <h5 class="lin_5 fon_13 color_balck">Click 'start'
                                                                        Review of your regional needs.</h5>
                                                                    <div class="d-flex end_just">
                                                                        <button class="btn btn-primary btn_review" (click)=" review(item.id)"><span
                                                                                class="fon_13">Start
                                                                                Review</span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                             
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>