.dna_card_data{
  border-left: 4px solid #f16e00 !important;
    border-radius: 0px;
    background: #fff !important;
}
.hide_button_admin{
  text-align: right;
    margin-bottom: 22px;
}
.accordion .card-header {
  color: #ffffff !important;
}
.car_body_padd{
  padding: 15px !important;
  margin: 0px !important;
}
.cm-card-header[_ngcontent-nko-c7] {
  padding: 0.45rem 1.25rem !important;
  background-color: #fff;
  border-bottom: 1px solid #00000008;
}
.dna_card_header{
  border-bottom: 0px solid  !important;
  border-radius: 0px;
  background: #fff !important;
}
.ng_container_header .accordion .card-header {
  background-color: #fff !important;
  border-radius: 0px !important;
  padding: 10px 17px !important;
}
.card-header{
  background-color: #fff !important;
}
.bac-blur{
  background-image: url('../../../../assets/images/SKYPE.png');
    height: 100%;
    border-radius: 6%;
    filter: grayscale(80%);
    background-size: cover;
}

.dna_card_header p{
 color: #000  !important;
}
.card_seco_dna{
  border-radius: 10px;
  border: 1px solid #000!IMPORTANT;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 1px, rgb(51 51 51) 0px 0px 0px 1px;
  position: relative;
  text-align: center;
  height: 310px;
  border-radius: 6% !IMPORTANT;
  max-width: 303px;
  margin: auto;
}
.card_seco_dna1{
  border-radius: 10px;
  border: 1px solid #f16e00!IMPORTANT;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 1px, rgb(51 51 51) 0px 0px 0px 1px;
  position: relative;
  text-align: center;
  height: 310px;
  border-radius: 6% !IMPORTANT;
  max-width: 303px;
  margin: auto;
}
.border_top_card_dna{
  padding: 2px 4px;
  background-color: #f16e00;
  width: 130px;
  border-radius: 50px;
  margin: auto;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.border_top_card_dna p{margin-bottom: 0px;
  color: #fff;
  font-size: 12px;}

  .border_top_card_dna1{
    padding: 2px 4px;
    background-color: #000;
    width: 130px;
    border-radius: 50px;
    margin: auto;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .border_top_card_dna1 p{margin-bottom: 0px;
    color: #fff;
    font-size: 12px;}
.card_bac_dna{
  position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.w_50_dna{
  width: 70px;
}
.dna_img{
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  border-radius: 10px;
}
.mt_13{
  margin-top: 13% !important;
}
.date_amin_div .p_text_date{
  font-size: 14px;
    margin-bottom: 0;
    color: #000;
}
.date_amin_div1 .p_text_date{
  font-size: 14px;
    margin-bottom: 0;
    color: #000;
}
.p_text_date_0{
  font-size: 13px;
    margin-bottom: 0;
    color: #000;
}
.p_text_date1{
  font-size: 14px;
    margin-bottom: 0;
    color: #000;
}
.p_text_date_1{
  font-size: 13px;
    margin-bottom: 0;
    color: #333;
}
.date_amin_div{border-top: 1px solid #000;
  width: 88%;
  margin: auto;
  border-bottom: 1px solid #000;}
  .date_amin_div1{border-top: 1px solid #fff;
    width: 88%;
    margin: auto;
    border-bottom: 1px solid #fff;}
 
  .border-betwe{
    border-left: 1px solid #666;
    height: 37px;
    margin-top: 5px;
  }
 
  .border-betwe1{
    border-left: 1px solid #fff;
    height: 37px;
    margin-top: 5px;
  }
.buttonstart_ma{
  display: flex;
  padding: 0px 10px;
}


.buttonstart_ma .btn{
  width: 100%;
  justify-content: center;
}



.colection_data{
  border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 10px;
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.end_just{
  justify-content: end !important;

}
.lin_5{
  line-height: 1.5;
}
.prog_1{
  height: 6px !important;
    border-radius: 10px !important;
}
.btn_review{
  height: 30px;
    border-radius: 16px;
}

