.card_header_Dna{
    padding: 3px 11px !important;
    background: #333 !important;
}

.header_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.header_data h4{
    margin-bottom: 0px;
}

.header_data1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header_data1 h4{
   
    margin-bottom: 10px;
    color: #fff;

}

.font_size{
    font-size: 16px;
}

.font_size1{
    font-size: 14px;
}

.wor_col_img{
    position: relative;
    bottom: -31px;
}
.wor_col_img img{
    width: 61px;
}

.date_amin{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.start_date {
  text-align: center;
}
.start_date h4{
    margin-bottom: 7px;
    font-weight: bolder !important;
}

.end_date {
    text-align: center;
  }
  .end_date h4{
      margin-bottom: 7px;
      font-weight: bolder !important;
  }

  .total_re {
    text-align: center;
  }
  .total_re h4{
      margin-bottom: 7px;
      font-weight: bolder !important;
  }
.tota_re_divider{
    border: 1px solid;
    margin: 2px auto;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #ff7900, black) 1;
}
.button_dna{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}

.button_dna .btn{
    height: 33px;
}
.button_dna .btn span{
    font-size: 13px;
}
.card_body_consu{
    padding: 10px 10px !important;
}
.consu_img{
    text-align: center;
    position: relative;
    bottom: 39px;
}

.consu_img img{
   width:80px;
}
.cosn_data{
    margin-top: -23px;
    text-align: center;
}

.cosn_data h4{
    font-size: 15px;
    text-align: center;
}

.cosn_data span{
    text-align: center;
    font-size: 14px;
    color: #666;
}

.cosn_data1 h4{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}
.counters{
    display: flex;
    justify-content: space-evenly;
    width: 57%;
    margin: auto;
}

.counters p{
    padding-right: 10px;
    border-right: 1px solid grey;
}
.border_right{
    border-right: none  !important;
}
.icons_data{
    display: flex;
    justify-content: space-between;
    width: 57%;
    margin: 6px auto 13px;
    background: #f16e00;
    padding: 10px 16px;
    border-radius: 8px;
}

.icons_data .fa{
    font-size: 21px;
    color: #fff;
}