<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/first.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">Digital learning Needs Analysis</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">Digital learning Needs Analysis (DNA) is a tool that gathers
                            learning needs from managers and helps align development needs with the overall business
                            strategy. DNA also helps PD&L team to analyse and plan our learning resources
                            efficiently.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 float-right">
            <div class="page-header float-right">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">
                                <i class="fa fa-home" aria-colcount=""></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">Dashboard</a>
                        </li>
                        <li>
                            <span class="text_white span_dis">Digital learning Needs Analysis</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-1">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-header das_header_card">
                            <h5 class="card-title">Reporting</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="fon_13">Managers</label>
                                <input type="text" placeholder="serach" class="forn-control form_width_dash">
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="manger_name"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>Gulati
                                        Guirpreet Sing</p>
                                </div>
                                <div class="col-sm-12">
                                    <p class="manger_name"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>Gulati
                                        Guirpreet Sing</p>
                                </div>
                                <div class="col-sm-12">
                                    <p class="manger_name"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>Gulati
                                        Guirpreet Sing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card bac_card_total">
                                        <div class="card-body">
                                            <div class="d-flex just_spa align-items-center">
                                                <h5 class="mb-0">0</h5>
                                                <img src="../../../../assets/images/icon/all.png" class="imae_card_pen">
                                            </div>
                                        </div>
                                        <div class="card-footer card_footer_dash">
                                            <p>Total Request</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card bac_card_pen">
                                        <div class="card-body">
                                            <div class="d-flex just_spa align-items-center">
                                                <h5 class="mb-0">0</h5>
                                                <img src="../../../../assets/images/icon/pending.png"
                                                    class="imae_card_pen">
                                            </div>
                                        </div>
                                        <div class="card-footer card_footer_dash">
                                            <p>Pending</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card bac_card_closed">
                                        <div class="card-body">
                                            <div class="d-flex just_spa align-items-center">
                                                <h5 class="mb-0">0</h5>
                                                <img src="../../../../assets/images/icon/check.png"
                                                    class="imae_card_pen">
                                            </div>
                                        </div>
                                        <div class="card-footer card_footer_dash">
                                            <p>Published</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card bac_card_parti">
                                        <div class="card-body">
                                            <div class="d-flex just_spa align-items-center">
                                                <h5 class="mb-0">0</h5>
                                                <img src="../../../../assets/images/icon/group.png"
                                                    class="imae_card_pen">
                                            </div>
                                        </div>
                                        <div class="card-footer card_footer_dash">
                                            <p>Total no of participants</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>