.das_header_card{
    background-color: #fff  !important;
}
.das_header_card .card-title{
    color: #000 !important;
    font-size: 13px;
}
.form_width_dash {
    width: 100%;
    padding: 8px !important;
    background: #ffff !important;
    height: 29px !important;
    border-radius: 4px !important;
    border: 1px solid #ced4da !important;
    font-size: 12px;
}
.manger_name{
    background: green;
    padding: 3px 15px;
    color: #fff;
    border-radius: 5px;
    font-size: 11px;
    margin-bottom: 7px;
}
.bac_card_total{
background-color: #ff7900;
}
.bac_card_pen{
    background: #ffd200;
}
.bac_card_closed{
    background-color: #50be87;
}
.bac_card_parti{
background-color: #4bb4e6;
}
.imae_card_pen{
    width: 29px;
    
}
.card_footer_dash{
    background: #00000036;
    padding: 6px 14px;
    border-radius: 5px;
    border-color: #00000000;
}

.card_footer_dash p{
    margin-bottom: 0px;
    color: #fff !important;
    font-size: 15px;
}
