<div class="card mb-0">
    <div class="card-header color-orange">
        <div class="d-flex justify-content-between">
            <span class="row">
            View History <h5 class="card-title ml-1">
                <b class="color-orange"> ({{objectDetail.request_id}})</b>
            </h5>
            </span>
            <a (click)="closeModal()"><i class="fa fa-times color-black" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive table_height_scroll">
        <table class="table table-bordered">
            <thead>
                <tr class="font-14 text-center sticky_header">
                    <th scope="col">Sr.No</th>
                    <th scope="col">Updated by</th>
                    <th scope="col">Last Modified</th>
                    <th scope="col">Status</th>
                    <th scope="col">Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let history of historyList;let i = index" class="text-center font-13">
                    <th scope="row">{{i+1}}</th>
                    <td>{{ history && history.transfer_by_name ? history.transfer_by_name : history.action_by_name}}
                    </td>
                    <td>{{ history.updated_at | date: "short"}}</td>
                    <td>
                        <span class="{{history.status}}">{{history.status | titlecase}}</span>
                    </td>
                    <td>
                        <p  class="history_data">{{history.status_comment}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>