<div class="card mb-0">
    <div class="card-header text_orange">
        <div class="d-flex justify_content">
            Beautification Template
            <a (click)="closeModal()" class="text_black"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-2">
            <button type="button" class="btn btn-primary" (click)="copyToClipBoardSource()">
              <i class="fa fa-copy" aria-hidden="true"></i><span class="pl-1">Source code copy to clipboard</span>
            </button>
          </div>
        <!-- <section [innerHTML]="templateData"></section> -->
        <section>
            <div class="for-whom">
                <img src="https://orange.csod.com/clientimg/orange/welcome/Core/pq.png" />
                <div class="heading_class">
                    <p class="header_p">For Whom ?</p>
                    <span>{{courseDetail.for_whoom}}</span>
                </div>
            </div>
            <div class="for-whom border_css">
                <img src="https://orange.csod.com/clientimg/orange/welcome/Core/pr.png" />
                <div class="heading_class">
                    <p class="header_p">Prerequisite</p>
                    <span> {{courseDetail.prerequisite}}</span>
                </div>
            </div>
            <div class=" sectiion2 ">
                <div class="for-whom ">
                    <div class="heading_class ">
                        <p class="header_p">Description</p>
                        <span>{{courseDetail.description}}</span>
                    </div>
                </div>
                <div class="for-whom mt-2">
                    <div class="heading_class ">
                        <p class="header_p">Objectives</p>
                    </div>
                    <ul class="ml_2">
                        <li *ngFor="let data of courseDetail.objectiveByLang">
                            <p class="color_box" [ngClass]="data.color"></p>
                            <span class="span_text">{{data.description}}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-section ">
                <div class="for-whom">
                    <div class="heading_class">
                        <p class="header_p">More Information</p>
                        <div class="contact-button">
                            <a  href="mailto:{{courseDetail.email_training_contact}}?subject=Request information for:{{courseDetail.titleByLang}}"><img
                                    src="https://img.icons8.com/windows/32/000000/secured-letter--v3.png" />Contacts</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>