<div class="card mb-0">
    <div class="card-header text_orange">
        <div class="d-flex justify_content">
            Beautification Template
            <a (click)="closeModal()" class="text_black"><i class="fa fa-times" aria-hidden="true"></i></a>

        </div>
    </div>
    <div class="card-body">
        <section>
            <div class="for-whom">
                <div class="img_class">
                    <div class="img_border-css">
                        <img
                            src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-user-user-flatart-icons-outline-flatarticons-9.png" />
                    </div>
                </div>
                <div class="heading_class">
                    <p class="header_p">For Whom ?</p>
                    <span>{{courseDetail.for_whoom}}</span>
                </div>
            </div>
            <div class="for-whom border_css">
                <div class="img_class" style="background-color: #a885db;">
                    <div class="img_border-css">
                        <img
                            src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-document-business-vitaliy-gorbachev-fill-vitaly-gorbachev-4.png" />
                    </div>
                </div>
                <div class="heading_class">
                    <p class="header_p">Prerequisite</p>
                    <span> {{courseDetail.prerequisite}}</span>
                </div>
            </div>
            <div class=" sectiion2 ">
                <div class="for-whom ">
                    <div class="heading_class ">
                        <p class="header_p">Description</p>
                        <span>{{courseDetail.description}}</span>
                    </div>
                </div>
                <div class="border_divider ">
                </div>
                <div class="for-whom ">
                    <div class="heading_class ">
                        <p class="header_p">Objectives</p>
                    </div>
                    <ul>
                        <li *ngFor="let data of courseDetail.objectiveByLang">
                            <p class="color_box" [ngClass]="data.color"></p>
                            <span class="span_text">{{data.description}}</span>
                        </li>
                    </ul>
                    <div class="border_divider ">
                    </div>
                </div>
            </div>

            <div class="footer-section ">
                <div class="for-whom">
                    <div class="heading_class">
                        <p class="header_p">More Information</p>
                        <a href="">For Whom ?</a>
                        <div class="contact-button">
                            <a href=""><img
                                    src="https://img.icons8.com/windows/32/000000/secured-letter--v3.png" />Contacts</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>