<div id="right-panel" class="right-panel">
    <app-header></app-header>

    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-7">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/first.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">label</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">label</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 float-right">
            <div class="page-header float-right">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a [routerLink]="['/']" class="text_white">
                                <i class="fa fa-home" aria-colcount=""></i> {{lableConstant.home}}
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/oltest']" class="text_white">OL Test</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <div class="content mt-2">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-header cm-card-header">
                        <div class="overall_css d-flex m-2">
                            <h4 class="mb-0 mr-4"><span class="color-black mr-1">Request No
                                    :</span> <span class="bg-light p-1">{{requestdata.request_id}}</span></h4>
                            <h4 class="mb-0"><span class="color-black mr-1">Project Status
                                    :</span> <span class="bg-supporting-yellow p-1">{{requestdata.status |
                                    titlecase}}</span></h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center justify-content-between">
                            <button class="btn btn-primary">Review and Submit </button>
                            <div class="d-flex" *ngIf="requestdata.test_type == OLTestType.Scorm">
                                <button class="btn btn-secondary" (click)="exportTest()"><i class="fa fa-download mr-2"
                                        aria-hidden="true"></i>Export </button>
                                <button class="btn btn-secondary ml-2" (click)="previewTest()"><i
                                        class="fa fa-play mr-2" aria-hidden="true"></i>Preview test
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header cm-card-header">
                            <div class="overall_css d-flex m-1 justify_content align-items-center">
                                <div>
                                    <h4 class="mb-0 mr-2 color-black fon_16">Question list </h4>
                                </div>
                                <div>
                                    <button class="btn btn-secondary mr-1" (click)="createSection()"><i
                                            class="fa fa-plus mr-2"></i>Add Section
                                    </button>
                                    <button class="btn btn-secondary" (click)="createQuestion()"><i
                                            class="fa fa-plus mr-2"></i>Add Question
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="card-body card_course_body mt-2">
                            <div class="filter_dispaly">
                                <div class="d-flex" *ngIf="requestdata.test_type == OLTestType.Scorm">
                                    <input type="checkbox" class="mr-2"><label>Shuffle questions in the test</label>
                                </div>
                                <div class="form-group filter_course">
                                    <input type="text " name="search " autocomplete="off" [(ngModel)]="searchText"
                                        placeholder="Type to Search"
                                        class="form-control ng-untouched ng-pristine ng-valid form_width"
                                        ng-reflect-name="search" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive table_height_scroll">
                                        <table id="bootstrap-data-table-export "
                                            class="table table-striped table-bordered">
                                            <thead class="sticky_header">
                                                <tr class="text-center font-13">
                                                    <th scope="col">Order</th>
                                                    <th scope="col">SECTIONS AND QUESTIONS </th>
                                                    <th *ngIf="requestdata.test_type == OLTestType.Scorm">Random
                                                        Selection</th>
                                                    <th scope="col">Display </th>
                                                    <th scope="col">Type </th>
                                                    <th scope="col">Action </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container
                                                    *ngFor="let item of requestdata.section | filter: searchText ;let i = index">
                                                    <tr class="text-center font-14">
                                                        <td>{{i+1}}</td>
                                                        <td>{{item.section}}
                                                        </td>
                                                        <td *ngIf="requestdata.test_type == OLTestType.Scorm"> <input
                                                                type="checkbox" class="mr-2"></td>
                                                        <td>
                                                            <select class="form-control form_width">
                                                            </select>
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            <a (click)="editRequest()" class="copy_file mr-1"
                                                                data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                            </a>
                                                            <a (click)="deleteSection(item.id)" class="copy_file mr-1"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="Delete">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr class="text-center font-14"
                                                        *ngFor="let question of item.question ;let j = index">
                                                        <td>{{j+1}}</td>
                                                        <td>{{question.question}}
                                                        </td>
                                                        <td *ngIf="requestdata.test_type == OLTestType.Scorm"> </td>
                                                        <td>
                                                        </td>
                                                        <td>{{getQuestionType(question.type)}}</td>
                                                        <td>
                                                            <a (click)="copyRequest()" class="copy_file mr-1"
                                                                data-toggle="tooltip" data-placement="top" title="Copy">
                                                                <i class="fa fa-files-o" aria-hidden="true"></i>
                                                            </a>
                                                            <a (click)="editRequest()" class="copy_file mr-1"
                                                                data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                            </a>
                                                            <a (click)="deleteQuestion(question.id)" class="copy_file mr-1"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="Delete">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                                <ng-container
                                                    *ngFor="let question of requestdata.questionWithoutSection | filter: searchText ;let i = index">

                                                    <tr class="text-center font-14">
                                                        <td>{{i+1}}</td>
                                                        <td>{{question.question}}
                                                        </td>
                                                        <td *ngIf="requestdata.test_type == OLTestType.Scorm"> </td>
                                                        <td>
                                                        </td>
                                                        <td>{{getQuestionType(question.type)}}</td>
                                                        <td>
                                                            <a (click)="copyRequest()" class="copy_file mr-1"
                                                                data-toggle="tooltip" data-placement="top" title="Copy">
                                                                <i class="fa fa-files-o" aria-hidden="true"></i>
                                                            </a>
                                                            <a (click)="editRequest()" class="copy_file mr-1"
                                                                data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                            </a>
                                                            <a (click)="deleteQuestion(question.id)" class="copy_file mr-1"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="Delete">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>