<div id="right-panel" class="right-panel">
    <app-header></app-header>

    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/first.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">label</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">label</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 float-right">
            <div class="page-header float-right bac_trasparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right bac_trasparent">
                        <li>
                            <a [routerLink]="['/dashboard']">
                                <i class="fa fa-home text_white"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">label</a>
                        </li>
                        <li>
                            <span class="text_white span_dis">label</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <div class="content mt-2">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header cm-card-header">
                            <div class="overall_css d-flex m-2">
                                <h4 class="mb-0 mr-4"><span class="color-black mr-1">Request No
                                        :</span> <span class="bg-light p-1">PDL10</span></h4>
                                <h4 class="mb-0"><span class="color-black mr-1">Project Status
                                        :</span> <span class="bg-supporting-yellow p-1">PDL10</span></h4>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header cm-card-header">
                            <div class="overall_css d-flex m-1 justify_content align-items-center">
                                <div>
                                    <h4 class="mb-0 mr-2 color-black fon_16">Question list </h4>
                                </div>
                                <div>
                                    <button class="btn btn-secondary mr-1">+ Add Section </button>
                                    <button class="btn btn-secondary ">+ Add Question </button>
                                </div>

                            </div>
                        </div>
                        <div class="card-body card_course_body mt-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive table_height_scroll">
                                        <table class="table table-bordered ">
                                            <thead>
                                                <tr class="fon_15 text-center sticky_header">
                                                    <th scope="col">Order </th>
                                                    <th>SECTIONS AND QUESTIONS </th>
                                                    <th>Display</th>
                                                    <th>Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>




                        </div>



                    </div>

                </div>
            </div>


        </div>