<div class="card mb-0">
    <div class="card-header color-orange">
        <div class="float_right">
         <!--    <span class="row">
            Agree Terms <h5 class="card-title ml-1">
            </h5>
            </span> -->
            <a (click)="closeModal()"><i class="fa fa-times color-black" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card-body">
        <p>Before submitting your request to become part of OBS SME community, please take the time to read our covenant and acknowledging it:  </p>
        <p class="color-orange fon_500">PDL SME Community covenant</p>
           <p> <b>SME Community Mission</b></p>
            <p>The SME Community is one of the enablers for OBS to become a Learning organization by enabling a co-development environment through sharing knowledge and hands-on experience on the latest industry technologies and practices.
            </p>
            <p class="mb-1 font_600">As a SME Community Member</p>
           <p class="mb-1"> •	Agree to transform your own knowledge into an OBS knowledge 
            by providing training materials [Powerpoint, participant guide and recorded
             session audio or video] to be owned by OBS/PD&L.</p>
             <p class="mb-1">  •	Dedicate 100% of the community allocated time to the agreed learning activity.</p>
                <p class="mb-1">  •	Prepare and arrange for the training material for use in classroom, face to face or virtual including pre and post testing and evaluation forms.</p>
                <p class="mb-1"> •	Follow all PD&L processes, procedures including the use of the company learning management system (Orange Learning) and PD&L templates.</p>
                    <p class="mb-1"> •	Restrict the use of the knowledge acquired within Orange PDL SME community to the internal usage within Orange. External 
                    use would be limited to publicly available content.</p>
                    <p class="mb-1"> •	Not to participate in delivery of any external learning activity externally involving Orange Employees.</p>
           
                    <p class="mb-1 font_600">As a SME Community Leader</p>
                    <p class="mb-1"> •	Animate and lead the operation of your domain SME Learning Community.</p>
                        <p class="mb-1"> •	Appoint trainers for the different missions and needs.</p>
                            <p class="mb-1"> •	Manage membership of current and new members for the community [Refreshment of members, additions of new members and removal of members]</p>
                                <p class="mb-1"> •	Review with PD&L the evaluations and feedbacks from learning activities by SMEs and plan improvements accordingly.</p>
                                    <p class="mb-1"> •	Ensuring trainer’s within your community follow PD&L process for Training delivery and post training activity.</p>
          
    </div>
    <div class="card-footer">
        
    </div>
</div>