<div class="card mb-0">
    <div class="card-header text_orange">
        <div class="d-flex justify_content">
            {{title}}
            <a (click)="closeModal()" class="text_black"><i class="fa fa-times" aria-hidden="true"></i></a>

        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title fon_0.9">
            <b>{{courseDetail.learning_type_name}}</b>
            <span></span>
            <b class="ml-1">({{courseDetail.request_id}})</b></h5>
            <div class="table-responsive table_height_scroll">
        <table class="table table-bordered ">
            <thead>
                <tr class="fon_15 text-center sticky_header">
                    <th scope="col">Sr.No</th>
                    <th scope="col">Request Name</th>
                    <th scope="col">Sent to</th>
                    <th scope="col">Last Modified</th>
                    <th scope="col">Status</th>
                    <th scope="col">Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let history of courseHistory;let i = index" class="text-center fon_16">
                    <th scope="row">{{i+1}}</th>
                    <td>{{ history && history.transfer_by_name ? history.transfer_by_name : history.action_by_name}}</td>
                    <td>{{history && history.transfer_by_name ? history.transfer_to_name : '-'}}</td>
                    <td>{{ history.updated_at | date: "short"}}</td>
                    <td>
                        {{history.status | titlecase}}
                    </td>
                    <td>
                        <p  class="histor_status">{{history.status_comment}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>