<div class="card mb-0">
    <div class="card-header color-orange">
        <div class="d-flex justify-content-between">
            <span class="row">
                Translate
            </span>
            <a (click)="closeModal()"><i class="fa fa-times color-black" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="multiLaungaugeForm">
            <div class="row">
                <div class="col-sm-12" formArrayName="titleArr"
                *ngFor="let language of titlecontrol.controls; let i = index">
                    <div class="form-group">
                        <div [formGroupName]="i">
                            <label class="form-control-label">{{this.availableLanguages[i].name}}</label>
                            <textarea class="form-control form_width-textarea" maxlength="500" rows="3"
                                placeholder="Enter" formControlName="value"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-right">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="gettitlelanguage()">Submit</button>
        <button type="button" class="btn btn-secondary ml-2" (click)="closeModal()">Close</button>
    </div>
</div>