<div class="card mb-0">
    <div class="card-header color-orange">
        <div class="d-flex justify-content-between">
            {{title}}
            <a (click)="closeModal()"><i class="fa fa-times color-black" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="publishCarouselForm">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-control-label">
                        {{lableConstant.Comments}} <span class="text-danger-ligth" *ngIf="status != CarouselStatus.publish">* </span>
                    </label>
                    <textarea class="form-control form_width-textarea mb-2" maxlength="500" rows="3"
                        formControlName="status_comment" placeholder="Enter Comments" (change)="valueChange()"></textarea>
                    <span class="charcter_limit ">{{remainingText}} {{lableConstant.characters_remaining}}</span>
                    <div
                        *ngIf="(publishCarouselForm.controls['status_comment'].invalid && (publishCarouselForm.controls['status_comment'].dirty || publishCarouselForm.controls['status_comment'].touched)) || isSubmitted ">
                        <div class="error_message"
                            *ngIf="publishCarouselForm.controls['status_comment'].errors?.required">
                            {{requiredMessage(this.lableConstant.Comments)}}
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary mr-1" type="submit" (click)="publishCarousel()">{{status | titlecase}}</button>
        <button class="btn btn-secondary" type="submit" (click)="closeModal()">{{lableConstant.cancel}}</button>
    </div>
</div>