.error_message {
    font-size: 11px;
    margin-top: 3px;
    font-weight: bold;
    color: red;
}
//rakhna
.cm-card-header {
    padding: 0.45rem 1.25rem !important;
    background-color: #fff;
    border-bottom: 1px solid #00000008;
}
.chekbox_ol{
    width: 20px !important;
    position: relative !important;
    top: -1px  !important;
    right: 2px !important;
}


.card_course_body {
    padding: 1.25rem;
}
.w-h-21{
    width: 20px;
    height: 21px;
}