

    <div id="right-panel" class="right-panel">
        <app-header></app-header>

        <div class="breadcrumbs " style="background-color: #fbfbf7;padding: 9px 9px 20px 9px;">
            <div class="col-sm-1.5">
                <div class="page-header float-left " style="background:transparent;">
                    <div class="page-title d-flex ">
                        <img src="images/creatnew.png" style="width: 60px;">
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="margin-left: -30px;">
                <div class="page-header float-left " style="background:transparent;">
                    <div class="page-title ">
                        <div class="d-flex flex-column">
                            <span style="font-size: 20px;">Create new course
                            </span>
                            <span style="color: #aba3a3;font-size: 13px;">People Development & Learning Strives on Providing you with the best customer
                            service we can drive</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 float-right">
                <div class="page-header float-right " style="background:transparent;">
                    <div class="page-title d-flex ">
                        <ol class="breadcrumb text-right " style="background:transparent;">
                            <li>
                                <a href="# ">
                                    <i class="fa fa-home" style="color: #5161ce;"></i>
                                </a>
                            </li>
                            <li>
                                <a href="# " style="color: #5161ce;">Dashboard</a>
                            </li>
                            <li><a href="# ">Create new Course</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="padding: 0.45rem 1.25rem;background-color: #fff;">
                                <div class="d-flex">
                                    <img src="../../../../assets/images/formm.png" class="ml-2" style="width: 40px;">
                                    <p class="mt-3 ml-2 view-re_css">
                                        <span>View Request</span>
                                        <span class="cc-text_css">( CCT2577 ) - </span>
                                        <span style="color: #ff7900;">Request Status</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .animated -->
            </div>
            <!-- .content -->
        </div>
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-body">
                        <div class="Requs_btn_inl">
                            <div class="Requs_btn_inl-child">
                                <button class=" btn btn-default btn_requst " data-toggle="modal " data-target="#publishModal ">
                                 <i class="fa fa-plus mr-1" aria-hidden="true"></i>Add
                                </button>

                                <button class="btn btn-default btn_requst ml-2 " data-toggle="modal " data-target="#exampleModal " >
                  <i class="fa fa-edit mr-1" aria-hidden="true"></i>Edit
                
                </button>

                                <button class="btn btn-default btn_requst ml-2 " >
                 <i class="fa fa-floppy-o mr-1" aria-hidden="true"></i>Save
                </button>
                                <button class="btn btn-default btn_requst ml-2 " data-toggle="modal " data-target="#rejectModal ">
                 <i class="fa fa-trash mr-1" aria-hidden="true"></i>Delete
                </button>
                            </div>

                        </div>
                    </div>
                    <!--colensd-->
                </div>
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="card ">
                            <div class=" ">
                                <div class="row ">
                                    <div class="col-sm-12 ">
                                        <div class="user_image ">
                                            <i class="fa fa-user-o " aria-hidden="true "></i>
                                        </div>
                                        <p class="text-center user_info ">User Information</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body ">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Username
                        
                      </label>
                                            <input type="text " placeholder="Enter Username" class="form-control form_width" />
                                        </div>
                                    </div>
                                    <!--colend-->
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Password</label>
                                            <p>No Password set.</p>
                                            <label class="form-control-label">Row Password are not stored, so there is no way to see
                                                this user's password,but you can change the password using this form
                                            </label>
                                        </div>
                                    </div>
                                    <!--colend-->
                                </div>
                                <!--row end-->

                            </div>
                            <!--colensd-->
                        </div>
                        <div class="card">
                            <div class="card-header ">
                                <span class="card-title card-title-text">Personal Information</span>

                            </div>

                            <div class="card-body ">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="">First and last name</label>
                                        <div class="input-group">



                                            <input type="text " placeholder="Enter Firstname" class="form-control form_width" />
                                            <input type="text " placeholder="Enter Lastname" class="form-control form_width" />
                                        </div>

                                    </div>
                                    <!--colend-->

                                    <div class="col-sm-6 mt-2">
                                        <div class="form-group">
                                            <label class="form-control-label">Email </label>
                                            <input type="text " placeholder="Enter Username" class="form-control form_width" />
                                        </div>
                                    </div>
                                    <!--colend-->
                                </div>
                                <!--row end-->

                            </div>
                            <!--colensd-->
                        </div>
                        <div class="card">
                            <div class="card-header ">
                                <div class="dis_inline_trans_header">
                                    <span class="card-title card-title-text">Permissions</span>
                                    <div class="d-flex">
                                        <div class="mr-3">
                                            <input type="checkbox" class="tran_chekbox">
                                            <label class="trans_chk-label">Is Active</label>
                                        </div>
                                        <div class="mr-md-3">
                                            <input type="checkbox" class="tran_chekbox">
                                            <label class="trans_chk-label">Is Staff</label>
                                        </div>
                                        <div class="mr-3">
                                            <input type="checkbox" class="tran_chekbox">
                                            <label class="trans_chk-label">Is Superuser</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">

                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="card">
                                            <div class="card-header">
                                                Availabel user permissions
                                            </div>
                                            <div class="card-body card-height">

                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-secondary" type="button" id="button-addon1"> <i class="fa fa-search" aria-hidden="true"></i></button>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                </div>
                                                <div class="">
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>

                                                </div>

                                            </div>
                                            <div class="card-footer">
                                                <div class="text-center">
                                                    <button class="btn btn-default trans_choose">Choose All</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--colend-->
                                    <div class="col-sm-0.1 d-flex">
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <i class="fa fa-arrow-circle-left mb-3" aria-hidden="true"></i>
                                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="card">
                                            <div class="card-header">
                                                Chosen user permissions<i class="fa fa-question" aria-hidden="true"></i>
                                            </div>
                                            <div class="card-body card-height">
                                                <div class="">
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>
                                                    <p class="card-text">Special title treatment</p>

                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="text-center">
                                                    <button class="btn btn-default trans_choose">Remove All</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--colend-->

                                    <!--colend-->
                                </div>
                                <!--row end-->
                                <p>Specific permssions for this user Hold down 'Control' or 'Command' on a Mac,to select more then one
                                </p>

                            </div>
                            <!--colensd-->
                        </div>
                        <div class="card">
                            <div class="card-header ">
                                <span class="card-title card-title-text">Important Dates</span>

                            </div>

                            <div class="card-body ">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Last Login</span>
                                            </div>
                                            <input type="date" aria-label="First name" class="form-control">
                                            <input type="date" aria-label="Last name" class="form-control">
                                        </div>
                                    </div>
                                    <!--colend-->

                                </div>
                                <!--row end-->
                                <p class="mt-2">Note: you are 5.5 hours ahead of several time.
                                </p>

                            </div>
                            <!--colensd-->
                        </div>
                    </div>
                </div>
                <!-- .animated -->
            </div>
            <!-- .content -->
        </div>
    </div>