.learing_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_section{
    display: flex;
}

.text_section{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 8px 14px;
}
.text_section img{
    width: 70px;
}

.text_section h4{
    font-size: 14px;
    margin: 7px 0px;
}
.btn_section{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn_section .btn-primary{
    width: 131px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background: transparent;
    color: #000 !IMPORTANT;
    border-radius: 4px;
    border: 1px solid #ff7901;
}
.btn_section .btn-primary span{
   font-size: 12px;
}
.star_adte_div{
    background: #c1c1c14d;
    padding: 14px 17px;
    white-space: nowrap;
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: column;
}
.star_adte_div h4{
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 15px;
}
.star_adte_div p{
    font-size: 12px;
}
.p_pen_close{
    margin-bottom: 0px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px, rgb(134 130 127) 0px 0px 0px 3px;
    margin-top: 8px;
    color: #000;
    font-weight: bold;
}
.bus_h4{
    font-size: 12px !important;
    color: #000;
}
.bus_h4{
    font-size: 11px !important;
    color: #333;
}
// .que_mark{
//     position: relative;
//     top: -14px;
// }