<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/first.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">Create new course </span>
                        <span class="divider"></span>
                        <span class="breade_text_span">People Development & Learning Strives on
                            Providing you with the
                            best customer service we can drive</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 float-right">
            <div class="page-header float-right">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">
                                <i class="fa fa-home" aria-colcount=""></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">Dashboard</a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard/cct']" class="text_white">Create new Course</a>
                        </li>
                        <li>
                            <span class="text_white span_dis">New Request</span>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
  

    <div class="content mt-1">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header cm-card-header">
                            <div class="learing_head">
                                <span class="card_overall color-black">All request Report</span>
                                <i class="fa fa-minus color-black" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 text-center">
                                    <div class="main_section">
                                        <div class="text_section">
                                            <img src="../../../../assets/images/worl_co.png">
                                            <h4 class="">liberal political party in France. On 5 May 2022, the party changed ...</h4>
                                            <span class="font_weight">FRENCH</span>
                                            <div class="btn_section">
                                                <button class="btn btn-primary"><span>Start</span> </button>
                                                <button class="btn btn-primary"><span>View Report</span> </button>
                                                </div>
                                                <p class="fon_12 text_orange">Click Start Button to add learning need.</p>
                                            </div><!--text-->
                                            <div class="date_section">
                                                <div class="star_adte_div">
                                                    <h4>Start Date</h4>
                                                    <p>12-2-2022</p>
                                                    </div>
                                                    <div class="star_adte_div">
                                                        <h4>Start Date</h4>
                                                        <p>12-2-2022</p>
                                                        </div>
                                                        <div class="star_adte_div">
                                                            <h4>Total Request Date</h4>
                                                            <span>
                                                            <p class="p_pen_close">Pending - 0</p>
                                                            <p class="p_pen_close">Closed - 12</p>
                                                            </span>
                                                            </div>
                                                </div><!--date section-->
                                                
                                        </div><!--amin-->
                                    </div><!--cp;edn-->
                                    <div class="col-sm-4 text-center">
                                        <div class="main_section">
                                            <div class="text_section">
                                                <img src="../../../../assets/images/worl_co.png">
                                                <h4 class="">liberal political party in France. On 5 May 2022, the party changed ...</h4>
                                                <span class="font_weight">FRENCH</span>
                                                <div class="btn_section">
                                                    <button class="btn btn-primary"><span>Start</span> </button>
                                                    <button class="btn btn-primary"><span>View Report</span> </button>
                                                    </div>
                                                    <p class="fon_12 text_orange">Click Start Button to add learning need.</p>
                                                </div><!--text-->
                                                <div class="date_section">
                                                    <div class="star_adte_div">
                                                        <h4>Start Date</h4>
                                                        <p>12-2-2022</p>
                                                        </div>
                                                        <div class="star_adte_div">
                                                            <h4>Start Date</h4>
                                                            <p>12-2-2022</p>
                                                            </div>
                                                            <div class="star_adte_div">
                                                                <h4>Total Request Date</h4>
                                                                <span>
                                                                <p class="p_pen_close">Pending - 0</p>
                                                                <p class="p_pen_close">Closed - 12</p>
                                                                </span>
                                                                </div>
                                                    </div><!--date section-->
                                                    
                                            </div><!--amin-->
                                        </div><!--cp;edn-->
                                        <div class="col-sm-4 text-center">
                                            <div class="main_section">
                                                <div class="text_section">
                                                    <img src="../../../../assets/images/worl_co.png">
                                                    <h4 class="">liberal political party in France. On 5 May 2022, the party changed ...</h4>
                                                    <span class="font_weight">FRENCH</span>
                                                    <div class="btn_section">
                                                        <button class="btn btn-primary"><span>Start</span> </button>
                                                        <button class="btn btn-primary"><span>View Report</span> </button>
                                                        </div>
                                                        <p class="fon_12 text_orange">Click Start Button to add learning need.</p>
                                                    </div><!--text-->
                                                    <div class="date_section">
                                                        <div class="star_adte_div">
                                                            <h4>Start Date</h4>
                                                            <p>12-2-2022</p>
                                                            </div>
                                                            <div class="star_adte_div">
                                                                <h4>Start Date</h4>
                                                                <p>12-2-2022</p>
                                                                </div>
                                                                <div class="star_adte_div">
                                                                    <h4>Total Request Date</h4>
                                                                    <span>
                                                                    <p class="p_pen_close">Pending - 0</p>
                                                                    <p class="p_pen_close">Closed - 12</p>
                                                                    </span>
                                                                    </div>
                                                        </div><!--date section-->
                                                        
                                                </div><!--amin-->
                                            </div><!--cp;edn-->
                                </div><!--row end-->
                          
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header cm-card-header">
                                <div class="learing_head">
                                    <span class="card_overall color-black">All request Report</span>
                                    <i class="fa fa-minus color-black" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <div class="main_section">
                                            <div class="text_section">
                                                
                                                <h4 class="">liberal political party in France. On 5 May 2022, the party changed ...</h4>
                                                <span class="que_mark"><i class="fa fa-question-circle color-black" aria-hidden="true"></i></span>
                                                <div class="btn_section">
                                                    <button class="btn btn-primary"><span>Start Review</span> </button>
                                                    <button class="btn btn-primary"><span>View Report</span> </button>
                                                    </div>
                                                    <p class="fon_12 text_orange">Click Start Button to add learning need.</p>
                                                </div><!--text-->
                                               
                                                    
                                            </div><!--amin-->
                                        </div><!--cp;edn-->
                                        <div class="col-sm-4 text-center">
                                            <div class="main_section">
                                                <div class="text_section">
                                                    
                                                    <h4 class="">liberal political party in France. On 5 May 2022, the party changed ...</h4>
                                                    <span class="que_mark"><i class="fa fa-question-circle color-black" aria-hidden="true"></i></span>
                                                    <div class="btn_section">
                                                        <button class="btn btn-primary"><span>Start Review</span> </button>
                                                        <button class="btn btn-primary"><span>View Report</span> </button>
                                                        </div>
                                                        <p class="fon_12 text_orange">Click Start Button to add learning need.</p>
                                                    </div><!--text-->
                                                   
                                                        
                                                </div><!--amin-->
                                            </div><!--cp;edn-->
                                            <div class="col-sm-4 text-center">
                                                <div class="main_section">
                                                    <div class="text_section">
                                                        
                                                        <h4 class="">liberal political party in France. On 5 May 2022, the party changed ...</h4>
                                                        <span class="que_mark"><i class="fa fa-question-circle color-black" aria-hidden="true"></i></span>
                                                        <div class="btn_section">
                                                            <button class="btn btn-primary"><span>Start Review</span> </button>
                                                            <button class="btn btn-primary"><span>View Report</span> </button>
                                                            </div>
                                                            <p class="fon_12 text_orange">Click Start Button to add learning need.</p>
                                                        </div><!--text-->
                                                       
                                                            
                                                    </div><!--amin-->
                                                </div><!--cp;edn-->
                                       
                                    </div><!--row end-->
                              
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                <div class="card">
                                    <div class="card-header cm-card-header">
                                        <div class="learing_head">
                                            <span class="card_overall color-black">All request Report</span>
                                            <i class="fa fa-minus color-black" aria-hidden="true"></i>
                                        </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-2 text-center">
                                                    <div class="main_section">
                                                        <div class="text_section">
                                                            <img src="../../../../assets/images/worl_co.png">
                                                            <h4 class="bus_h4">liberal political party in France. On 5 May 2022, the party changed ...</h4>
                                                            <span class="font_weight mt-1 bus_h4">FRENCH</span>
                                                           
                                                               
                                                            </div><!--text-->
                                                            
                                                                
                                                        </div><!--amin-->
                                                    </div><!--colend-->
                                                    <div class="col-sm-2 text-center">
                                                        <div class="main_section">
                                                            <div class="text_section">
                                                                <img src="../../../../assets/images/worl_co.png">
                                                                <h4 class="bus_h4">liberal political party in France. On 5 May 2022, the party changed ...</h4>
                                                                <span class="font_weight mt-1 bus_h4">FRENCH</span>
                                                               
                                                                   
                                                                </div><!--text-->
                                                                
                                                                    
                                                            </div><!--amin-->
                                                        </div><!--colend-->
                                                        <div class="col-sm-2 text-center">
                                                            <div class="main_section">
                                                                <div class="text_section">
                                                                    <img src="../../../../assets/images/worl_co.png">
                                                                    <h4 class="bus_h4">liberal political party in France. On 5 May 2022, the party changed ...</h4>
                                                                    <span class="font_weight mt-1 bus_h4">FRENCH</span>
                                                                   
                                                                       
                                                                    </div><!--text-->
                                                                    
                                                                        
                                                                </div><!--amin-->
                                                            </div><!--colend-->
                                                            <div class="col-sm-2 text-center">
                                                                <div class="main_section">
                                                                    <div class="text_section">
                                                                        <img src="../../../../assets/images/worl_co.png">
                                                                        <h4 class="bus_h4">liberal political party in France. On 5 May 2022, the party changed ...</h4>
                                                                        <span class="font_weight mt-1 bus_h4">FRENCH</span>
                                                                       
                                                                           
                                                                        </div><!--text-->
                                                                        
                                                                            
                                                                    </div><!--amin-->
                                                                </div><!--colend-->
                                                                <div class="col-sm-2 text-center">
                                                                    <div class="main_section">
                                                                        <div class="text_section">
                                                                            <img src="../../../../assets/images/worl_co.png">
                                                                            <h4 class="bus_h4">liberal political party in France. On 5 May 2022, the party changed ...</h4>
                                                                            <span class="font_weight mt-1 bus_h4">FRENCH</span>
                                                                           
                                                                               
                                                                            </div><!--text-->
                                                                            
                                                                                
                                                                        </div><!--amin-->
                                                                    </div><!--colend-->
                                                                    <div class="col-sm-2 text-center">
                                                                        <div class="main_section">
                                                                            <div class="text_section">
                                                                                <img src="../../../../assets/images/worl_co.png">
                                                                                <h4 class="bus_h4">liberal political party in France. On 5 May 2022, the party changed ...</h4>
                                                                                <span class="font_weight mt-1 bus_h4">FRENCH</span>
                                                                               
                                                                                   
                                                                                </div><!--text-->
                                                                                
                                                                                    
                                                                            </div><!--amin-->
                                                                        </div><!--colend-->
                                                </div><!--row -->
                                            </div>
                                    </div>
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    </div>
   