.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-body {
    padding: 0.25rem;
}

.card-title-text {
    color: grey;
    position: relative;
    top: -4px;
    left: 5px;
}

.dash_wid {
    flex: 0 0 19.666667%;
    max-width: 20.666667%;
}

.fa_table {
    color: grey;
    font-size: 25px;
}

.alig_dashicon {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.alig_dashicon p {
    text-align: center;
    color: #ff7900;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0px;
}

.view-css {
    background: #ff7900;
    color: #fff;
    font-size: 13px;
}

.card .card-footer {
    background-color: #ffffff;
}

.number_css {
    font-size: 33px;
    color: #000;
    font-weight: 400;
    position: relative;
    top: 6px;
    left: 5px;
}