.view_overall {
    color: #ff7900;
}

.indicate_css {
    position: relative;
    bottom: 13px;
}

.form_width {
    width: 60%;
}

.card .card-footer {
    background-color: #ffffff;
}

.submit-css {
    background: #ff7900;
    color: #fff;
}