.view_overall {
    color: #ff7900;
}

.indicate_css {
    position: relative;
    bottom: 13px;
}

.form_width {
    width: 60%;
}

.card .card-footer {
    background-color: #ffffff;
}

.submit-css {
    background: #ff7900;
    color: #fff;
}

.info_circle {
    color: #000 !important;
}

.upload_field input {
    width: 60%;
    padding: 6px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

#collapseExample {
    width: 25%;
    position: absolute;
    top: 68px;
    right: 0;
}

.fa-icons-des {
    background: #4bb4e6;
    padding: 14px 14px !important;
    border-radius: 56px !important;
    font-size: 27px !important;
    color: #ffff !important;
}

.req_status-card {
    padding: 1px 14px 0px 0px;
    border-left: 3px solid #66696a;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.card_header {
    border-bottom: 1px solid #80808052;
    background: #f8f9fa;
    margin-bottom: 10px;
}

.fa_cross {
    position: absolute;
    top: 28px;
    right: 0;
    color: #ff0000b8;
    font-size: 19px;
    background: #fff;
    border-radius: 50%;
    padding: 7px;
}

.body_padidng {
    padding: 9px 6px;
}

.number_css {
    font-size: 31px;
    color: #000;
    font-weight: 500;
    position: relative;
    top: 0px;
    left: 5px;
}

.card_header p {
    padding: 2px 17px;
    margin-top: 10px;
    color: #000;
    font-size: 18px;
}

.dash_wid {
    flex: 0 0 100%;
    max-width: 100%;
}

.alig_dashicon {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    margin-bottom: 26px;
    padding-top: 11px;
}

.stat-text p {
    margin-bottom: 0px;
    color: #ff7900;
    font-weight: 600;
    font-size: 17px;
}

.stat-widget-one .stat-content {
    margin-left: 13px;
    margin-top: 3px;
}

.bored_marleft {
    margin-left: -30px;
}

@media (max-width: 768px) {
    .bred_marleft {
        margin-left: 0px;
    }
    .form_width {
        width: 100%;
    }
    .dash_wid {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #collapseExample {
        width: 70%;
        position: absolute;
        top: 136px;
        right: 0;
    }
}