.fon_40 {
    font-size: 40px
}

.main_box {
    position: relative
}

.parent_main_box {
    position: absolute;
    top: -63px;
    border: 0;
    right: 0;
    left: 0;
}

.parent_main_box img {
    width: 60px;
}

.font_weig {
    font-weight: 600
}

.main_body {
    width: 380px;
    margin: 70px 0px 0px 15px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 14px;
    position: relative;
}

.btn-close-icon{
    position: absolute;
    top: -2.8rem;
    right: 0.3rem;
    background: transparent;
    font-size: 2rem;
    color: #fff;
}







@media (max-width: 768px) {
    .main_body {
        width: 90%;
    }
}
