<div class="login">
    <div class="main_body">
        <div class="main_box">
            <div class="text-center parent_main_box">
                <img src="../../../assets/images/Small_Logo_RGB.png" alt="logo" />
            </div>
            <div class="form-field">
                <h4 class="text-center mb-3 fon_40">
                    <b>Change Password</b>
                </h4>
                <form [formGroup]="setPassswordForm">
                    <div class="form-group">
                        <label class="font_weig">New Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password"
                            formControlName="password" />
                        <div *ngIf="(setPassswordForm.controls['password'].invalid && (setPassswordForm.controls['password'].dirty || setPassswordForm.controls['password'].touched))"
                         class="error_message">
                             Enter a valid password.
                           <div class="error_message"
                                *ngIf="setPassswordForm.controls['password'].errors?.required">
                                {{requiredMessage('Password')}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">
                            Confirm Password</label>
                        <input type="password" placeholder="Enter Username"
                            class="form-control" formControlName="confirm_password"
                            (keyup)=getConfirm_paassword() />

                        <div *ngIf="(setPassswordForm.controls['confirm_password'].invalid && (setPassswordForm.controls['confirm_password'].dirty || setPassswordForm.controls['confirm_password'].touched))"
                            class="error_message">
                            Please Enter Valid Password
                            <div class="error_message" *ngIf="notmatched">
                                Password and confirm not match</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default btn_login justify-content-center"
                        onclick="this.style.backgroundColor = '#ff7900'; this.style.color = '#000';"
                        (click)="setPassword()">Set Password</button>
                </form>
            </div>
        </div>
    </div>
</div>