<div class="card mb-0" *ngIf="modalType=='viewhistory'">
    <div class="card-header color-orange">
        <div class="d-flex justify-content-between">
            <span class="row">
            {{title}} <h5 class="card-title ml-1">
                <b class="color-orange"> ({{objectDetail.request_id}})</b>
            </h5>
            </span>
            <a (click)="closeModal()"><i class="fa fa-times color-black" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr class="font-14 text-center">
                    <th scope="col">{{lableConstant.sr_no}}</th>
                    <th scope="col">{{lableConstant.submitted_by}}</th>
                    <th scope="col">{{lableConstant.sent_to}}</th>
                    <th scope="col">{{lableConstant.last_modified}}</th>
                    <th scope="col">{{lableConstant.Status}}</th>
                    <th scope="col">{{lableConstant.Comments}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let history of historyList;let i = index" class="text-center font-13">
                    <th scope="row">{{i+1}}</th>
                    <td>{{ history && history.transfer_by_name ? history.transfer_by_name : history.action_by_name}}
                    </td>
                    <td>{{history && history.transfer_by_name ? history.transfer_to_name : '-'}}</td>
                    <td>{{ history.updated_at | date: "short"}}</td>
                    <td>
                        {{history.status | titlecase}}
                    </td>
                    <td>
                        <p style="width: 154px; overflow-y: auto;font-size: 12px;">{{history.status_comment}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>