<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/3.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">{{lableConstant.digital_learning_needs_analysis}}</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">{{lableConstant.dna_tool_feature}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 float-right">
            <div class="page-header float-right bac_trasparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right bac_trasparent">
                        <li>
                            <a [routerLink]="['/dashboard']">
                                <i class="fa fa-home text_white"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">{{lableConstant.dashboard}}</a>
                        </li>
                        <li>
                            <span class="text_white span_dis">DNA</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <ngb-alert [dismissible]="false"  type="warning" *ngIf="!isManager" class="d-block m-3">
        <span>The DNA tool can be only accessible to a manager who has direct reporting of the employee.</span>
        <p class="mb-0">Please contact to administrator of this site for more details.</p>
    </ngb-alert>
    <div class="card bac_grey" *ngIf="isManager">
        <div class="card-header cm-card-header">
            <div class="learing_head">
               
                    <div>
                    <span class="card_overall color-black fon_12">Click the Add Learning button to Begin</span>
                    </div>
                    <div class="learn_head_sub">
                    <div class="form-group mb-0">
                        <input type="text" [(ngModel)]="searchText" class="form-control form_width_dna" placeholder="search..">
                    </div>
                    <div>
                    <button (click)="createNew()" class="btn btn-primary hei_27 ml-1"><span class="fon_12">Add Learning</span></button>
                    <button (click)="viewReport()" class="btn btn-primary hei_27 ml-1"><span class="fon_12">List of Employee Learning</span></button>
                </div>
            </div>
                
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="row  mb-4">
                        <div class="col-sm-3 mb-4" *ngFor="let item of learningListToShow | filter: searchText">
                            <div class="main_box_lear">
                                <div class="lear_box">
                             
                                 
                                        <p class="text_hight_css" ngbTooltip="Priority">{{item.priority_name}}</p>
                                        <img *ngIf="!item.is_digital" src="../../../../assets/images/icon/calendaro.png" class="calender_css">
                                        <img *ngIf="item.is_digital" src="../../../../assets/images/icon/laptop.png" class="calender_css">
                                  
                                    </div>
                                    <p class="mb-2 fon_12 mt-2 line_hei_one" 
                                    ngbTooltip="{{item.learning_training_data ? item.learning_training_data.training_description : item.description}}">{{item.title}}</p>
                                    <div class="lear_box">
                             
                                 <div class="d-flex">
                                      <img src="../../../../assets/images/icon/useregroup.png" ngbTooltip="No of Participants" class="img_user_lap ml-1">
                                      <span>{{item.number_of_participant}}</span>
                                </div>
                                <div>
                                    <a (click)="update(item)" ngbTooltip="Update Added Learning"> <i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i></a>
                                    <a (click)="delete(item)" ngbTooltip="Delete Added Learning"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                                  </div>
                                  </div><!--lear-->
                            </div><!--colend-->
                        <!-- <div class="col-sm-3" *ngFor="let item of learningListToShow | filter: searchText">
                           <div class="digital_learning">
                            <h4 class="bus_h4 text_orange" ngbTooltip="{{item.learning_training_data ? item.learning_training_data.training_description : item.description}}">{{item.title}}</h4>
                            <div class="d-flex justify-content-center">
                                <span class="text_digi">{{item.priority_name}}</span>
                                <span class="border_lr">
                                    <img src="../../../../assets/images/icon/useregroup.png" class="img_user_lap mr-1">
                                    <span class="top_posi">{{item.number_of_participant}} </span>
                                </span>
                                <span class="text_digi1"><img src="../../../../assets/images/icon/laptop.png" class="img_user_lap mr-1">
                                    <span>{{item.training_type}}
                                    </span>
                                    </span>
                            </div>
                            <div class="d-flex justify-content-end digi_footer">
                                <a (click)="share(item)" ngbTooltip="Orange Learning Direct URL"><i class="fa fa-share-square-o mr-1" aria-hidden="true"></i></a>
                                <a (click)="update(item)" ngbTooltip="Update Added Learning"> <i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i></a>
                                <a (click)="delete(item)" ngbTooltip="Delete Added Learning"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                        </div>  
                        </div>  -->
                    </div>
                </div>

             <!--    <div class="col-sm-3">
                    <div class="main_box_lear">
                        <div class="lear_box">
                     
                         
                                <p class="text_hight_css">High</p>
                                <img src="../../../../assets/images/icon/calendaro.png" class="calender_css">
                          
                            </div>
                            <p class="mb-2 fon_12 mt-2 line_hei_one">"Reference site about Lorem Ipsum, giving
                               information on its origins, as well as a random Lipsum generator."</p>
                            <div class="lear_box">
                     
                         <div class="d-flex">
                              <span>33</span>
                              <img src="../../../../assets/images/icon/useregroup.png" class="img_user_lap ml-1">
                        </div>
                        <div>
                            <a  ngbTooltip="Update Added Learning"> <i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i></a>
                            <a  ngbTooltip="Delete Added Learning"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </div>
                          </div>
                          </div>
              </div> -->
            </div>
        </div>
    </div>
</div>
