<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/3.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">Digital learning Needs Analysis</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">Digital learning Needs Analysis (DNA) is a tool that gathers learning needs from managers and helps align development needs with the overall business strategy. DNA also helps PD&L team to analyse and plan our learning resources efficiently.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 float-right">
            <div class="page-header float-right bac_trasparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right bac_trasparent">
                        <li>
                            <a [routerLink]="['/dashboard']">
                                <i class="fa fa-home text_white"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">Dashboard</a>
                        </li>
                        <li>
                            <span class="text_white span_dis">DNA</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header cm-card-header">
            <div class="learing_head">
               
                    <div>
                    <span class="card_overall color-black fon_12">Click the Add Learning button to Begin</span>
                    </div>
                    <div class="learn_head_sub">
                    <div class="form-group mb-0">
                        <input type="text" [(ngModel)]="searchText" class="form-control form_width_dna" placeholder="search..">
                    </div>
                    <button (click)="createNew()" class="btn btn-primary hei_27 ml-1"><span class="fon_12">Add Learning</span></button>
                    <button (click)="viewReport()" class="btn btn-primary hei_27 ml-1"><span class="fon_12">List of Employee Learning</span></button>
                </div>
            
                
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="row  mb-4">
                        <div class="col-sm-3" *ngFor="let item of learningListToShow | filter: searchText">
                           <div class="digital_learning">
                            <h4 class="bus_h4 text_orange" ngbTooltip="{{item.learning_training_data ? item.learning_training_data.training_description : item.description}}">{{item.title}}</h4>
                            <div class="d-flex justify-content-center">
                                <span class="text_digi">{{item.priority_name}}</span>
                                <span class="border_lr">
                                    <img src="../../../../assets/images/icon/useregroup.png" class="img_user_lap mr-1">
                                    <span class="top_posi">{{item.number_of_participant}} </span>
                                </span>
                                <span class="text_digi1"><img src="../../../../assets/images/icon/laptop.png" class="img_user_lap mr-1">
                                    <span>{{item.training_type}}
                                    </span>
                                    </span>
                            </div>
                            <div class="d-flex justify-content-end digi_footer">
                                <a (click)="share(item)" ngbTooltip="Orange Learning Direct URL"><i class="fa fa-share-square-o mr-1" aria-hidden="true"></i></a>
                                <a (click)="update(item)" ngbTooltip="Update Added Learning"> <i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i></a>
                                <a (click)="delete(item)" ngbTooltip="Delete Added Learning"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                        </div>  
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
