<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/3.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">Digital learning Needs Analysis</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">Digital learning Needs Analysis (DNA) is a tool that gathers learning needs from managers and helps align development needs with the overall business strategy. DNA also helps PD&L team to analyse and plan our learning resources efficiently.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 float-right">
            <div class="page-header float-right bac_trasparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right bac_trasparent">
                        <li>
                            <a [routerLink]="['/dashboard']">
                                <i class="fa fa-home text_white"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">Dashboard</a>
                        </li>
                        <li>
                            <span class="text_white span_dis">Digital learning Needs Analysis</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-header cm-card-header">
                    <div class="learing_head">
                        <div>
                            <span class="card_overall color-black fon_12">Click the Add Learning button to Begin</span>
                            <button (click)="createNew()" class="btn btn-primary hei_27 ml-1"><span class="fon_12">Add Learning</span></button>
                            <button class="btn btn-primary hei_27 ml-1"><span class="fon_12">List of Employee
                                    Learning</span></button>
                        </div>
                        <div class="form-group mb-0">
                            <input type="text" class="form-control form_width" placeholder="search..">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <div class="main_section">
                                <div class="digital_learning">
                                    <h4 class="bus_h4 text_orange">liberal political party in France. On 5 May 2022, the
                                        party changed ...</h4>
                                    <div class="d-flex justify-content-center">
                                        <span class="text_digi">Text</span>
                                        <span class="border_lr">Text</span>
                                        <span class="text_digi1">Text</span>
                                    </div>
                                    <div class="d-flex justify-content-end digi_footer">
                                        <i class="fa fa-share-square-o mr-1" aria-hidden="true"></i>
                                        <i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i>
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
