.main_box_lear{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 10px;
}
.lear_box{
    display: flex;
    justify-content: space-between;
  
    align-items: center;
}
.line_hei_one{
    line-height: 1.6;
}
.text_hight_css{
    margin-bottom: 0px;
    font-size: 15px;
    color: #fff !IMPORTANT;
    background: #ff7901;
    padding: 4px 14px;
    border-radius: 15px;
    cursor: pointer;
}
.calender_css{
    width:30px;
}
.sub_lear img{width: 30px;}


.bus_h4{
    font-size: 11px !important;
    color: #333;
    height: 20px;
}
.hei_27{
    height: 27px;
}
.digital_learning{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 20px 14px;
    margin: 0px 10px;
    
}
.learn_head_sub{
display: flex;

}
.top_posi{
    position: relative;
    top: 4px;
}
.img_user_lap{
    width: 18px;
}
.form_width_dna{
    font-size: 12px !important;
    padding: 8px !important;
    background: #ffff !important;
    height: 30px !important;
    border-radius: 4px !important;
    border: 1px solid #ced4da !important;
}
.main_section{
    display: flex;
}
.learing_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text_digi{
    font-size: 12px;
    margin-right: 8px;
    position: relative;
    top: 4px;
}
.border_lr{
    font-size: 12px;
    margin-right: 8px;
    border-left: 1px solid;
    border-right: 1px solid;
    padding-left: 4px;
    padding-right: 6px;
}
.text_digi1{
    font-size: 12px;
    
}
.digi_footer{

    background: #000;
    color: #fff;
    padding: 5px 8px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .learing_head{
        flex-direction: column;
    }
    .learn_head_sub{
        margin-top: 10px;
        flex-direction: column;
    }
    .learn_head_sub .btn{
      margin-top: 10px;
    }
    
}