<div class="card">
    <div class="card-header" style="color: #ff7901;">
        View History
    </div>
    <div class="card-body">
        <h5 class="card-title" style="font-size: 0.9rem;">
            <b>Be a Memorable Spaker(Coaching)-Non CoopNet Virtual Classroom:
</b>{{courseHistory.learning_type}}
            <b>({{courseHistory.request_id}})</b></h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">Request Name</th>
                    <th scope="col">Sent to</th>
                    <th scope="col">Last Modified</th>
                    <th scope="col">Status</th>
                    <th scope="col">Reject Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>{{ courseHistory.updated_at | date: "short"}}</td>
                    <td>
                        <!-- <button class="btn btn-success" style="font-size: 0.8rem;">{{courseHistory.status | titlecase}}</button> -->
                        {{courseHistory.status | titlecase}}
                    </td>
                    <td>
                        <span *ngIf="courseHistory.status=='pending'">-</span>
                        <span *ngIf="courseHistory.status=='reject'">{{courseHistory.reject_comment}}</span>
                    </td>
                </tr>
                <!-- <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><button class="btn btn-warning" style="font-size: 0.8rem;">Submitted</button></td>
                    <td>@mdo</td>
                </tr> -->


            </tbody>
        </table>
    </div>
</div>