<div class="card" *ngIf="modalType=='viewhistory'" style="margin-bottom: 0px;">
    <div class="card-header" style="color: #ff7901;">
        <!-- View History -->
        <div class="d-flex" style="justify-content: space-between;">
            {{title}}
            <a (click)="closeModal()"><i class="fa fa-times" aria-hidden="true" style="color: #000;"></i></a>

        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title" style="font-size: 0.9rem;">
            <b>Be a Memorable Spaker(Coaching)-:
         </b>
            <b>{{courseDetail.learning_type_name}}</b>
            <span></span>
            <b>({{courseDetail.request_id}})</b></h5>
        <table class="table table-bordered">
            <thead>
                <tr style="font-size: 13px;">
                    <th scope="col">Sr.No</th>
                    <th scope="col">Request Name</th>
                    <th scope="col">Sent to</th>
                    <th scope="col">Last Modified</th>
                    <th scope="col">Status</th>
                    <th scope="col">Reject Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let history of courseHistory;let i = index" class="text-center" style="font-size: 12px;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{ history && history.transfer_by_name ? history.transfer_by_name : history.action_by_name}}</td>
                    <td>{{history && history.transfer_by_name ? history.transfer_to_name : '-'}}</td>
                    <td>{{ history.updated_at | date: "short"}}</td>
                    <td>
                        <!-- <button class="btn btn-success" style="font-size: 0.8rem;">{{courseHistory.status | titlecase}}</button> -->
                        {{history.status | titlecase}}
                    </td>
                    <td>
                        <span *ngIf="history.status !='reject'">-</span>
                        <p *ngIf="history.status =='reject'" style="width: 154px;
    overflow-y: auto;font-size: 12px;">{{history.status_comment}}</p>
                    </td>
                </tr>
                <!-- <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><button class="btn btn-warning" style="font-size: 0.8rem;">Submitted</button></td>
                    <td>@mdo</td>
                </tr> -->


            </tbody>
        </table>
    </div>
</div>

<div class="card" *ngIf="modalType =='copy'" style="margin-bottom: 0px;">
    <div class="card-header" style="color: #ff7901;">
        {{title}}
    </div>
    <div class="card-body text-center">
        <p> Are you sure you want to copy?</p>

        <button class="btn btn-primary mr-1" (click)="copyRequest()">Yes</button>
        <button class="btn btn-secondary" (click)="onClose()">No</button>

    </div>
</div>

<div class="card" *ngIf="modalType =='delete'" style="margin-bottom: 0px;">
    <div class="card-header" style="color: #ff7901;">
        {{title}}
    </div>
    <div class="card-body text-center">
        <p> Are you sure you want to delete?</p>
        <button class="btn btn-primary mr-1" (click)="deleteRequest()">Yes</button>
        <button class="btn btn-secondary" (click)="onClose()">No</button>
    </div>
</div>