<div id="right-panel" class="right-panel">
    <app-header></app-header>

    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-7">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/first.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">label</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">label</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5 float-right">
            <div class="page-header float-right">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a [routerLink]="['/']" class="text_white">
                                <i class="fa fa-home" aria-colcount=""></i> {{lableConstant.home}}
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/oltest']" class="text_white">OL Test</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <form [formGroup]="createOlTestForm" enctype="multipart/form-data">
        <div class="content mt-2">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header cm-card-header">
                                <div class="overall_css">
                                    <h4 class="mb-0"><span class="text_orange mr-1">New Request:</span> <span
                                            class="color-black">Create a Orange Learning test </span></h4>

                                </div>
                            </div>
                            <div class="card-body card_course_body mt-2">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Test Name <span class="text_red">* </span>
                                                </label>
                                                <input type="text" placeholder="Enter Name"
                                                    class="form-control form_width" formControlName="test_name" />
                                                <div
                                                    *ngIf="(createOlTestForm.controls['test_name'].invalid && (createOlTestForm.controls['test_name'].dirty || createOlTestForm.controls['test_name'].touched)) || isSubmitted">
                                                    <div class="error_message"
                                                        *ngIf="createOlTestForm.controls['test_name'].errors?.required">
                                                        {{requiredMessage('Test Name')}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Test Description <span class="text_red">* </span>
                                                </label>
                                                <input type="text" placeholder="Enter Test Description"
                                                    class="form-control form_width"
                                                    formControlName="test_description" />
                                                <div
                                                    *ngIf="(createOlTestForm.controls['test_description'].invalid && (createOlTestForm.controls['test_description'].dirty || createOlTestForm.controls['test_description'].touched)) || isSubmitted">
                                                    <div class="error_message"
                                                        *ngIf="createOlTestForm.controls['test_description'].errors?.required">
                                                        {{requiredMessage('Test Description')}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Training Hours / Duration <span class="text_red">* </span>
                                                </label>
                                                <input type="text" placeholder="Enter Duration"
                                                    class="form-control form_width" formControlName="duration" />

                                                <div
                                                    *ngIf="(createOlTestForm.controls['duration'].invalid && (createOlTestForm.controls['duration'].dirty || createOlTestForm.controls['duration'].touched)) || isSubmitted">
                                                    <div class="error_message"
                                                        *ngIf="createOlTestForm.controls['duration'].errors?.required">
                                                        {{requiredMessage('Training Hours / Duration')}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="selectedTestType == OLTestType.Online">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Subjects <span class="text_red">* </span>
                                                </label>
                                                <ng-select placeholder="Please select subject" formControlName="subject"
                                                    [items]="yesNo" bindLabel="name" bindValue="id" class="w_100">
                                                </ng-select>

                                                <div
                                                    *ngIf="(createOlTestForm.controls['subject'].invalid && (createOlTestForm.controls['subject'].dirty || createOlTestForm.controls['subject'].touched)) || isSubmitted">
                                                    <div class="error_message"
                                                        *ngIf="createOlTestForm.controls['subject'].errors?.required">
                                                        {{requiredMessage('Subject')}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Attempts Allowed <span class="text_red">* </span>
                                                </label>
                                                <input type="text" placeholder="Enter Title"
                                                    class="form-control form_width" formControlName="attempt_allow" />

                                                <div
                                                    *ngIf="(createOlTestForm.controls['attempt_allow'].invalid && (createOlTestForm.controls['attempt_allow'].dirty || createOlTestForm.controls['attempt_allow'].touched)) || isSubmitted">
                                                    <div class="error_message"
                                                        *ngIf="createOlTestForm.controls['attempt_allow'].errors?.required">
                                                        {{requiredMessage('Attempts Allowed')}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="selectedTestType == OLTestType.Scorm">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Question submission  <span class="text_red">* </span>
                                                </label>
                                                <ng-select placeholder="Please select review" [items]="yesNo"
                                                    bindLabel="name" bindValue="id" formControlName="question_submission"
                                                    class="w_100">
                                                </ng-select>

                                                <div
                                                    *ngIf="(createOlTestForm.controls['question_submission'].invalid && (createOlTestForm.controls['question_submission'].dirty || createOlTestForm.controls['question_submission'].touched)) || isSubmitted">
                                                    <div class="error_message"
                                                        *ngIf="createOlTestForm.controls['question_submission'].errors?.required">
                                                        {{requiredMessage('Question submission')}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Allow Review After Every Attempt <span class="text_red">* </span>
                                                </label>
                                                <ng-select placeholder="Please select review" [items]="yesNo"
                                                    bindLabel="name" bindValue="id" formControlName="allow_review"
                                                    class="w_100">
                                                </ng-select>

                                                <div
                                                    *ngIf="(createOlTestForm.controls['allow_review'].invalid && (createOlTestForm.controls['allow_review'].dirty || createOlTestForm.controls['allow_review'].touched)) || isSubmitted">
                                                    <div class="error_message"
                                                        *ngIf="createOlTestForm.controls['allow_review'].errors?.required">
                                                        {{requiredMessage('Allow Review After Every Attempt')}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="selectedTestType == OLTestType.Scorm">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Timer <span class="text_red">* </span>
                                                </label>
                                                <ng-select placeholder="Please select review" [items]="yesNo"
                                                    bindLabel="name" bindValue="id" formControlName="timer"
                                                    class="w_100">
                                                </ng-select>

                                                <div
                                                    *ngIf="(createOlTestForm.controls['timer'].invalid && (createOlTestForm.controls['timer'].dirty || createOlTestForm.controls['timer'].touched)) || isSubmitted">
                                                    <div class="error_message"
                                                        *ngIf="createOlTestForm.controls['timer'].errors?.required">
                                                        {{requiredMessage('Timer')}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="selectedTestType == OLTestType.Online">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Instruction
                                                </label>
                                                <input type="text" placeholder="Enter Instruction"
                                                    class="form-control form_width" formControlName="instruction" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="selectedTestType == OLTestType.Online">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Choose one of the following <span class="text_red">* </span>
                                                </label>
                                                <ng-select placeholder="Please select subject"
                                                    formControlName="choose_following" [items]="yesNo" bindLabel="name"
                                                    bindValue="id" class="w_100">
                                                </ng-select>

                                                <div
                                                    *ngIf="(createOlTestForm.controls['choose_following'].invalid && (createOlTestForm.controls['choose_following'].dirty || createOlTestForm.controls['choose_following'].touched)) || isSubmitted">
                                                    <div class="error_message"
                                                        *ngIf="createOlTestForm.controls['choose_following'].errors?.required">
                                                        {{requiredMessage('Choose one of the following')}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-6" *ngIf="selectedTestType == OLTestType.Online">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Time allowed to complete the test (in minutes)
                                                    <span class="text_red">* </span>
                                                </label>
                                                <input type="text" placeholder="Enter Title"
                                                    class="form-control form_width"
                                                    formControlName="time_to_complete" />

                                                <div
                                                    *ngIf="(createOlTestForm.controls['time_to_complete'].invalid && (createOlTestForm.controls['time_to_complete'].dirty || createOlTestForm.controls['time_to_complete'].touched)) || isSubmitted">
                                                    <div class="error_message"
                                                        *ngIf="createOlTestForm.controls['time_to_complete'].errors?.required">
                                                        {{requiredMessage('Time allowed to complete the test (in
                                                        minutes)')}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Do you wish to randomize Sections?
                                                    <span class="text_red">* </span>
                                                </label>
                                                <ng-select placeholder="Please select sections" [items]="yesNo"
                                                    bindLabel="name" bindValue="id" formControlName="randomize_section"
                                                    class="w_100">
                                                </ng-select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Do you wish to randomize questions?
                                                    <span class="text_red">* </span>
                                                </label>
                                                <ng-select placeholder="Please select questions" [items]="yesNo"
                                                    bindLabel="name" bindValue="id" formControlName="randomize_question"
                                                    class="w_100">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="selectedTestType == OLTestType.Scorm">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Number of attempts
                                                </label>
                                                <ng-select placeholder="Please select Number of attempts" [items]="yesNo"
                                                bindLabel="name" bindValue="id" formControlName="number_of_attempt"
                                                class="w_100">
                                            </ng-select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="selectedTestType == OLTestType.Scorm">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Time to complete the quiz [MM:SS]:
                                                </label>
                                                <input type="text" placeholder="Enter MM:SS"
                                                class="form-control form_width"
                                                formControlName="time_to_complete_quiz" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="selectedTestType == OLTestType.Scorm">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Language
                                                </label>
                                                <ng-select placeholder="Please select questions" [items]="yesNo"
                                                    bindLabel="name" bindValue="id" formControlName="language"
                                                    class="w_100">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="selectedTestType == OLTestType.Scorm">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Scoring Type
                                                </label>
                                                <div>
                                                    <label class="mr-3">
                                                        <input type="radio" class="mr-2" value="by_passing_score"
                                                            formControlName="scoring_type">
                                                        <span>By passing score</span>
                                                    </label>
                                                    <label class="mr-3">
                                                        <input type="radio" class="mr-2" value="none"
                                                            formControlName="scoring_type">
                                                        <span>None</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="(selectedTestType == OLTestType.Scorm && scoringType == 'by_passing_score') || selectedTestType == OLTestType.Online">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Passing Score (%)
                                                    <span class="text_red" *ngIf="selectedTestType == OLTestType.Online">* </span>
                                                </label>
                                                <input type="text" placeholder="Enter Title"
                                                    class="form-control form_width" formControlName="passing_score" />
                                                    <div
                                                    *ngIf="(createOlTestForm.controls['passing_score'].invalid && (createOlTestForm.controls['passing_score'].dirty || createOlTestForm.controls['passing_score'].touched)) || isSubmitted">
                                                    <div class="error_message"
                                                        *ngIf="createOlTestForm.controls['passing_score'].errors?.required">
                                                        {{requiredMessage('Passing Score (%)')}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="selectedTestType == OLTestType.Scorm && scoringType == 'by_passing_score'">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Passed
                                                </label>
                                                <input type="text" placeholder="Enter Passed"
                                                    class="form-control form_width" formControlName="passed" />

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="selectedTestType == OLTestType.Scorm && scoringType == 'by_passing_score'">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Failed
                                                </label>
                                                <input type="text" placeholder="Enter Failed"
                                                    class="form-control form_width" formControlName="failed" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="selectedTestType == OLTestType.Scorm && scoringType == 'none'">
                                        <div class="d-flex align-items-center">
                                            <div class="form-group w-100">
                                                <label class="form-control-label">
                                                    Quiz results
                                                </label>
                                                <input type="text" placeholder="Enter Quiz results"
                                                    class="form-control form_width" formControlName="quiz_result" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary" (click)="saveTest('draft')">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>