.cm-card-header {
    padding: 0.45rem 1.25rem !important;
    background-color: #fff;
    border-bottom: 1px solid #00000008;
}

.card_course_body {
    padding: 1.25rem;
}

.error_message {
    font-size: 11px;
    margin-top: 3px;
    font-weight: bold;
    color: red;
}