<div id="right-panel" class="right-panel">
    <app-header></app-header>
  
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/SME_DB.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">SME Database</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">The SME learning Community is one of the enablers for OBS to
                            become a Learning organization by enabling a co-development environment through sharing
                            knowledge and hands-on experience on the latest industry technologies and practices.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 float-right">
            <div class="page-header float-right bac_trasparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right bac_trasparent">
                        <li>
                            <a [routerLink]="['/dashboard']">
                                <i class="fa fa-home text_white"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">Dashboard</a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard/smedb']" class="text_white">Create new SME</a>
                        </li>
                        <li>
                            <span class="text_white span_dis">View</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center justify_content card_header_common">
        <div class="d-flex">
            <img src="../../../../assets/images/formm.png" class="ml-2 form_img_req" />
            <p class="mt-2 ml-2 mb-2 view-re_css">
                <span>View SME Details</span>
                <span class="cc-text_css"> ({{ requestdata.request_id }}) -
                </span>
                <span spellcheck="text_orange" class="text_orange">Request Status - {{ requestdata.action_status }}</span>
            </p>
        </div>
    </div>
    <div class="content">
        <div class="animated fadeIn">
            <div class="mb-2" *ngIf="isUpdate() || isApprove() || isReject()">
                <div class="Requs_btn_inl">
                    <div class="Requs_btn_inl-child">
                        <button type="button" class="btn mr-2 btn-primary" *ngIf="isUpdate()"
                            (click)="updateRequest()">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="pl-1">Update</span>
                        </button>
                        <button type="button" class="btn btn-primary mr-1" *ngIf="isApprove()"
                            (click)="approveRequest()">
                            <i class="fa fa-times" aria-hidden="true"></i> <span class="pl-1">Approve Request</span>
                        </button>
                        <button type="button" class="btn btn-secondary" *ngIf="isReject()"
                            (click)="statusChangeRequest(SMEStatus.reject)">
                            <i class="fa fa-times" aria-hidden="true"></i> <span class="pl-1">Send back to SME</span>
                        </button>
                    </div>
                </div>

            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="card border-radius-0">
                        <div class="card-header card_header_view">
                            <p>SME Information is as follow</p>
                        </div>
                        <div class="card-body">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Requester Name</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.requester_name}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Available?</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.available | titlecase }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1"> Volunteered for domain/expertise/training</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{requestdata.domain}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">When you are not available - Start date </label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.start_date | date: dateFormate }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">When you are not available - End date</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.end_date | date: dateFormate}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Created date</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.created_at | date: dateFormate}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Created By</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.requester_name}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Contcat Persion in PD&L</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.contact_person_name }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Status</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.action_status}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="d-flex col-sm-12" *ngIf="contentSupportData && contentSupportData.length > 0">
                       
                        <ngb-panel id="panel-content-support" class="mr-1 w_100  ">
                           
                            <ng-template ngbPanelTitle>
                                <span>Content support</span>
                            </ng-template>
                            
                            <ng-template ngbPanelContent>
                                <div class="table-responsive table_height_scroll p-2">
                                    <table id="bootstrap-data-table-export " class="table table-striped table-bordered">
                                        <thead class="sticky_header">
                                            <tr class="text-center font-13">
                                                <th>#</th>
                                                <th> Title </th>
                                                <th> Level </th>
                                                <th> status </th>
                                                <th> Date created </th>
                                                <th> Date Modified</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of contentSupportData; let i =index;"
                                                class="text-center bac_hover-table font-12">
                                                <td scope="row">{{1 + i}}</td>
                                                <td>{{ item.title }}</td>
                                                <td>{{ item.level }}</td>
                                                <td>{{ requestdata.status }}</td>
                                                <td>{{ requestdata.created_at | date: dateFormate }}</td>
                                                <td>{{ requestdata.updated_at | date: dateFormate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>

                     <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="d-flex col-sm-12" *ngIf="deliveryData && deliveryData.length > 0">
                       
                        <ngb-panel id="panel-delivery" class="mr-1 w_100  ">
                           
                            <ng-template ngbPanelTitle>
                                <span>Delivery</span>
                            </ng-template>
                            
                            <ng-template ngbPanelContent>
                                <div class="table-responsive table_height_scroll p-2">
                                    <table id="bootstrap-data-table-export " class="table table-striped table-bordered">
                                        <thead class="sticky_header">
                                            <tr class="text-center font-13">
                                                <th>#</th>
                                                <th> Title </th>
                                                <th> Level </th>
                                                <th> Previous experience in delivery/facilitation of training </th>
                                                <th> Provide a brief of experience </th>
                                                <th> Would you need help? </th>
                                                <th> How can we help you? </th>
                                                <th> status </th>
                                                <th> Date created </th>
                                                <th> Date Modified</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of deliveryData; let i =index;"
                                                class="text-center bac_hover-table font-12">
                                                <td scope="row">{{1 + i}}</td>
                                                <td>{{ item.title }}</td>
                                                <td>{{ item.level }}</td>
                                                <td>{{ item.previous_experience }}</td>
                                                <td>{{ item.comment }}</td>
                                                <td>{{ item.need_help }}</td>
                                                <td>{{ item.comment }}</td>
                                                <td>{{ requestdata.status }}</td>
                                                <td>{{ requestdata.created_at | date: dateFormate }}</td>
                                                <td>{{ requestdata.updated_at | date: dateFormate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>

                    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="d-flex col-sm-12" *ngIf="voiceOverLearningData && voiceOverLearningData.length > 0">
                       
                        <ngb-panel id="panel-voice-over-learning" class="mr-1 w_100  ">
                           
                            <ng-template ngbPanelTitle>
                                <span>Voice</span>
                            </ng-template>
                            
                            <ng-template ngbPanelContent>
                                <div class="table-responsive table_height_scroll p-2">
                                    <table id="bootstrap-data-table-export " class="table table-striped table-bordered">
                                        <thead class="sticky_header">
                                            <tr class="text-center font-13">
                                                <th>#</th>
                                                <th> Laungauge </th>
                                                <th> Other Laungauge </th>
                                                <th> Male or female voice </th>
                                                <th> Previous experience in voice-over </th>
                                                <th> Uploaded a semple voice recording </th>
                                                <th> status </th>
                                                <th> Date created </th>
                                                <th> Date Modified</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of voiceOverLearningData; let i =index;"
                                                class="text-center bac_hover-table font-12">
                                                <td scope="row">{{1 + i}}</td>
                                                <td>{{ item.language | titlecase}}</td>
                                                <td>{{ item.other_language }}</td>
                                                <td>{{ item.gender_voice }}</td>
                                                <td>{{ item.previous_experience }}</td>
                                                <td>
                                                    <div *ngIf="item.voice_recording && item.voice_recording.length > 0">
                                                        <ngx-audio-player [playlist]="item.msaapPlaylist"
                                                            [displayTitle]="msaapDisplayTitle" [autoPlay]="false"
                                                            muted="muted" [displayPlaylist]="msaapDisplayPlayList"
                                                            [pageSizeOptions]="msaapPageSizeOptions"
                                                            [displayArtist]="msaapDisplayArtist"
                                                            [displayDuration]="msaapDisplayDuration" [expanded]="true"
                                                            (trackEnded)="onEnded($event)"
                                                            [displayVolumeControls]="msaapDisplayVolumeControls"
                                                            [displayRepeatControls]="msaapDisplayRepeatControls"
                                                            [disablePositionSlider]="msaapDisablePositionSlider">
                                                        </ngx-audio-player>
                                                    </div></td>
                                                <td>{{ requestdata.status }}</td>
                                                <td>{{ requestdata.created_at | date: dateFormate }}</td>
                                                <td>{{ requestdata.updated_at | date: dateFormate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="d-flex col-sm-12" *ngIf="professionalCertificationsData && professionalCertificationsData.length > 0">
                       
                        <ngb-panel id="panel-professional-certifications" class="mr-1 w_100  ">
                           
                            <ng-template ngbPanelTitle>
                                <span>Professional certificate</span>
                            </ng-template>
                            
                            <ng-template ngbPanelContent>
                                <div class="table-responsive table_height_scroll p-2">
                                    <table id="bootstrap-data-table-export " class="table table-striped table-bordered">
                                        <thead class="sticky_header">
                                            <tr class="text-center font-13">
                                                <th>#</th>
                                                <th> Certification Title </th>
                                                <th> Year of completion </th>
                                                <th> status </th>
                                                <th> Date created </th>
                                                <th> Date Modified</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of professionalCertificationsData; let i =index;"
                                                class="text-center bac_hover-table font-12">
                                                <td scope="row">{{1 + i}}</td>
                                                <td>{{ item.certification_title }}</td>
                                                <td>{{ item.completion_year }}</td>
                                                <td>{{ requestdata.status }}</td>
                                                <td>{{ requestdata.created_at | date: dateFormate }}</td>
                                                <td>{{ requestdata.updated_at | date: dateFormate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="d-flex col-sm-12" *ngIf="commentsData && commentsData.length > 0">
                       
                        <ngb-panel id="panel-comments" class="mr-1 w_100  ">
                           
                            <ng-template ngbPanelTitle>
                                <span>SME Comment</span>
                            </ng-template>
                            
                            <ng-template ngbPanelContent>
                                <div class="table-responsive table_height_scroll p-2">
                                    <table id="bootstrap-data-table-export " class="table table-striped table-bordered">
                                        <thead class="sticky_header">
                                            <tr class="text-center font-13">
                                                <th>#</th>
                                                <th> Other Comments </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of commentsData; let i =index;"
                                                class="text-center bac_hover-table font-12">
                                                <td scope="row">{{1 + i}}</td>
                                                <td>{{ item.other_comment }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
            </div>
        </div>
    </div>
</div>