<div id="right-panel" class="right-panel">
    <app-header></app-header>
  
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left bac_trasparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/SME_DB.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">{{lableConstant.sme_database}}</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">{{lableConstant.sme_learning_community_feature}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 float-right">
            <div class="page-header float-right bac_trasparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right bac_trasparent">
                        <li>
                            <a [routerLink]="['/dashboard']">
                                <i class="fa fa-home text_white"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">{{lableConstant.dashboard}}</a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard/smedb']" class="text_white">{{lableConstant.create_new_sme}}</a>
                        </li>
                        <li>
                            <span class="text_white span_dis">View</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center justify_content card_header_common">
        <div class="d-flex">
            <img src="../../../../assets/images/formm.png" class="ml-2 form_img_req" />
            <p class="mt-2 ml-2 mb-2 view-re_css">
                <span>{{lableConstant.view_sme_details}}</span>
                <span class="cc-text_css"> ({{ requestdata.request_id }}) -
                </span>
                <span spellcheck="text_orange" class="text_orange">{{lableConstant.Request_Status}} - {{ requestdata.action_status }}</span>
            </p>
        </div>
    </div>
    <div class="content">
        <div class="animated fadeIn">
            <div class="mb-2" *ngIf="isUpdate() || isApprove() || isReject()">
                <div class="Requs_btn_inl">
                    <div class="Requs_btn_inl-child">
                        <button type="button" class="btn mr-2 btn-primary" *ngIf="isUpdate()"
                            (click)="updateRequest()">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="pl-1">{{lableConstant.Update}}</span>
                        </button>
                        <button type="button" class="btn btn-primary mr-1" *ngIf="isApprove()"
                            (click)="approveRequest()">
                            <i class="fa fa-upload" aria-hidden="true"></i> <span class="pl-1">{{lableConstant.approve_request}}</span>
                        </button>
                        <button type="button" class="btn btn-secondary" *ngIf="isReject()"
                            (click)="statusChangeRequest(SMEStatus.reject)">
                            <i class="fa fa-exchange" aria-hidden="true"></i> <span class="pl-1">{{lableConstant.send_back_to_sme}}</span>
                        </button>
                    </div>
                </div>

            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="card border-radius-0">
                        <div class="card-header card_header_view">
                            <p>{{lableConstant.sme_information_is_as_follow}}</p>
                        </div>
                        <div class="card-body">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{lableConstant.requester_name}}</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.requester_name}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{lableConstant.available}}</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.available | titlecase }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1"> {{lableConstant.volunteered_for_domain_expertise}}</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{requestdata.domain}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{lableConstant.when_you_are_not_available_start_date}} </label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.start_date | date: dateFormate }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{lableConstant.when_you_are_not_available_end_date}}</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.end_date | date: dateFormate}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{lableConstant.created_date}}</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.created_at | date: dateFormate}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{lableConstant.created_by}}</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.requester_name}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Contcat Persion in PD&L</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.contact_person_name }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{lableConstant.Status}}</label>
                                    <div class="d-flex align-items-center">
                                        <span class="form_data">
                                            {{ requestdata.action_status}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="d-flex col-sm-12" *ngIf="contentSupportData && contentSupportData.length > 0">
                       
                        <ngb-panel id="panel-content-support" class="mr-1 w_100  ">
                           
                            <ng-template ngbPanelTitle>
                                <span>{{lableConstant.content_support}}</span>
                            </ng-template>
                            
                            <ng-template ngbPanelContent>
                                <div class="table-responsive table_height_scroll p-2">
                                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered tabel_sme_view">
                                        <thead class="sticky_header">
                                            <tr class="text-center font-13">
                                                <th>#</th>
                                                <th> {{lableConstant.Title}} </th>
                                                <th> {{lableConstant.Level}} </th>
                                                <th> {{lableConstant.Status}} </th>
                                                <th> Date created </th>
                                                <th> Date Modified</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of contentSupportData; let i =index;"
                                                class="text-center bac_hover-table font-12">
                                                <td scope="row">{{1 + i}}</td>
                                                <td>{{ item.title }}</td>
                                                <td>{{ item.level }}</td>
                                                <td>{{ requestdata.status }}</td>
                                                <td>{{ requestdata.created_at | date: dateFormate }}</td>
                                                <td>{{ requestdata.updated_at | date: dateFormate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>

                     <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="d-flex col-sm-12" *ngIf="deliveryData && deliveryData.length > 0">
                       
                        <ngb-panel id="panel-delivery" class="mr-1 w_100  ">
                           
                            <ng-template ngbPanelTitle>
                                <span>Delivery</span>
                            </ng-template>
                            
                            <ng-template ngbPanelContent>
                                <div class="table-responsive table_height_scroll p-2">
                                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered tabel_sme_view">
                                        <thead class="sticky_header">
                                            <tr class="text-center font-13">
                                                <th>#</th>
                                                <th> {{lableConstant.Title}} </th>
                                                <th> {{lableConstant.Level}} </th>
                                                <th> {{lableConstant.previous_experience_in_delivery_facilitation}} </th>
                                                <th> {{lableConstant.provide_a_brief_of_experience}} </th>
                                                <th> {{lableConstant.would_you_need_help}} </th>
                                                <th> {{lableConstant.how_can_we_help_you}} </th>
                                                <th> {{lableConstant.Status}} </th>
                                                <th> Date created </th>
                                                <th> Date Modified</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of deliveryData; let i =index;"
                                                class="text-center bac_hover-table font-12">
                                                <td scope="row">{{1 + i}}</td>
                                                <td>{{ item.title }}</td>
                                                <td>{{ item.level }}</td>
                                                <td>{{ item.previous_experience }}</td>
                                                <td>{{ item.comment }}</td>
                                                <td>{{ item.need_help }}</td>
                                                <td>{{ item.comment }}</td>
                                                <td>{{ requestdata.status }}</td>
                                                <td>{{ requestdata.created_at | date: dateFormate }}</td>
                                                <td>{{ requestdata.updated_at | date: dateFormate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>

                    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="d-flex col-sm-12" *ngIf="voiceOverLearningData && voiceOverLearningData.length > 0">
                       
                        <ngb-panel id="panel-voice-over-learning" class="mr-1 w_100  ">
                           
                            <ng-template ngbPanelTitle>
                                <span>Voice</span>
                            </ng-template>
                            
                            <ng-template ngbPanelContent>
                                <div class="table-responsive table_height_scroll p-2">
                                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered tabel_sme_view">
                                        <thead class="sticky_header">
                                            <tr class="text-center font-13">
                                                <th>#</th>
                                                <th> {{lableConstant.laungauge}} </th>
                                                <th> {{lableConstant.other_laungauge}} </th>
                                                <th> {{lableConstant.male_or_female_voice}} </th>
                                                <th> {{lableConstant.previous_experience_in_voice_over}} </th>
                                                <th> {{lableConstant.upload_sample_of_voice_recording}} </th>
                                                <th> {{lableConstant.Status}} </th>
                                                <th> Date created </th>
                                                <th> Date Modified</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of voiceOverLearningData; let i =index;"
                                                class="text-center bac_hover-table font-12">
                                                <td scope="row">{{1 + i}}</td>
                                                <td>{{ item.language | titlecase}}</td>
                                                <td>{{ item.other_language }}</td>
                                                <td>{{ item.gender_voice }}</td>
                                                <td>{{ item.previous_experience }}</td>
                                                <td>
                                                    <div *ngIf="item.voice_recording && item.voice_recording.length > 0">
                                                        <ngx-audio-player [playlist]="item.msaapPlaylist"
                                                            [displayTitle]="msaapDisplayTitle" [autoPlay]="false"
                                                            muted="muted" [displayPlaylist]="msaapDisplayPlayList"
                                                            [pageSizeOptions]="msaapPageSizeOptions"
                                                            [displayArtist]="msaapDisplayArtist"
                                                            [displayDuration]="msaapDisplayDuration" [expanded]="true"
                                                            (trackEnded)="onEnded($event)"
                                                            [displayVolumeControls]="msaapDisplayVolumeControls"
                                                            [displayRepeatControls]="msaapDisplayRepeatControls"
                                                            [disablePositionSlider]="msaapDisablePositionSlider">
                                                        </ngx-audio-player>
                                                    </div></td>
                                                <td>{{ requestdata.status }}</td>
                                                <td>{{ requestdata.created_at | date: dateFormate }}</td>
                                                <td>{{ requestdata.updated_at | date: dateFormate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="d-flex col-sm-12" *ngIf="professionalCertificationsData && professionalCertificationsData.length > 0">
                       
                        <ngb-panel id="panel-professional-certifications" class="mr-1 w_100  ">
                           
                            <ng-template ngbPanelTitle>
                                <span>Professional certificate</span>
                            </ng-template>
                            
                            <ng-template ngbPanelContent>
                                <div class="table-responsive table_height_scroll p-2">
                                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered tabel_sme_view">
                                        <thead class="sticky_header">
                                            <tr class="text-center font-13">
                                                <th>#</th>
                                                <th> Certification Title </th>
                                                <th> {{lableConstant.year_of_completion}} </th>
                                                <th> {{lableConstant.Status}} </th>
                                                <th> Date created </th>
                                                <th> Date Modified</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of professionalCertificationsData; let i =index;"
                                                class="text-center bac_hover-table font-12">
                                                <td scope="row">{{1 + i}}</td>
                                                <td>{{ item.certification_title }}</td>
                                                <td>{{ item.completion_year }}</td>
                                                <td>{{ requestdata.status }}</td>
                                                <td>{{ requestdata.created_at | date: dateFormate }}</td>
                                                <td>{{ requestdata.updated_at | date: dateFormate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="d-flex col-sm-12" *ngIf="commentsData && commentsData.length > 0">
                       
                        <ngb-panel id="panel-comments" class="mr-1 w_100  ">
                           
                            <ng-template ngbPanelTitle>
                                <span>SME Comment</span>
                            </ng-template>
                            
                            <ng-template ngbPanelContent>
                                <div class="table-responsive table_height_scroll p-2">
                                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered tabel_sme_view">
                                        <thead class="sticky_header">
                                            <tr class="text-center font-13">
                                                <th>#</th>
                                                <th> {{lableConstant.other_comments}} </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of commentsData; let i =index;"
                                                class="text-center bac_hover-table font-12">
                                                <td scope="row">{{1 + i}}</td>
                                                <td>{{ item.other_comment }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
            </div>
        </div>
    </div>
</div>