<div id="right-panel" class="right-panel">
    <!-- Header-->
    <app-header></app-header>
    <!-- /header -->
    <!-- Header-->
    <div class="breadcrumbs" style="background-color: #fbfbf7; padding: 6px 9px 6px 9px">
        <div class="col-sm-7">
            <div class="page-header float-left" style="background: transparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/creatnew.png" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span style="font-size: 20px" class="mb-1">Create new course </span>
                        <span style="color: #aba3a3; font-size: 13px">People Development & Learning Strives on Providing you with the
              best customer service we can drive</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-5 float-right">
      <div class="page-header float-right" style="background: transparent">
        <div class="page-title d-flex end_just">
          <ol class="breadcrumb text-right" style="background: transparent">
            <li>
              <a href="# ">
                <i class="fa fa-home" style="color: #5161ce"></i>
              </a>
            </li>
            <li>
              <a [routerLink]="['/dashboard']" style="color: #ff7901"
                >Dashboard</a
              >
            </li>
            <li>
              <a [routerLink]="['/dashboard/cources/']" style="color: #ff7901"
                >Create new Course</a
              >
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="content mt-3">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div
              class="card-header"
              style="padding: 0rem 1.25rem !important; background-color: #fff"
            >
              <div class="d-flex align-items-center">
                <img
                  src="../../../../assets/images/formm.png"
                  class="ml-2"
                  style="height: 34px"
                />
                <p class="mt-3 ml-2 view-re_css">
                  <span>View Request</span>
                        <span class="cc-text_css">( {{ routegetdata.request_id }} ) -
                  </span>
                        <span style="color: #ff7900">Request Status - {{ routegetdata.status | titlecase }}</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .animated -->
    </div>
    <!-- .content -->
  </div>

  <div class="content">
    <div class="animated fadeIn">
      <div class="card" *ngIf="getUserrole.id != 2 && !routegetdata.issave">
        <div class="card-body">
          <div class="Requs_btn_inl">
            <div class="Requs_btn_inl-child">
              <button
                type="button"
                class="btn btn-primary btn_requst ml-2"
                data-toggle="modal"
                data-target="#publishModal"
                *ngIf="getUserrole.id == 4"
              >
                <img src="../../../../assets/images/publish.png " />Publish
              </button>

              <button
                type="button"
                class="btn btn-primary btn_requst ml-2"
                data-toggle="modal"
                data-target="#exampleModal"
                *ngIf="getUserrole.id == 3"
                (click)="getPublisher()"
              >
                <img src="../../../../assets/images/publish.png " /> Transfer to
                Publisher
              </button>

              <button
                class="btn btn-primary btn_requst ml-2"
                (click)="updateCource()"
              >
                <img src="../../../../assets/images/update.png " />Update
              </button>
              <button
                type="button"
                class="btn btn-primary btn_requst ml-2"
                data-toggle="modal"
                data-target="#rejectModal"
                *ngIf="getUserrole.id == 3 || getUserrole.id == 4"
                (click)="getPublisher()"
              >
                <img src="../../../../assets/images/reject.png " />Reject
              </button>
            </div>
            <div class="Requs_btn_inl-child1" *ngIf="getUserrole.id == 3">
              <button
                type="button"
                class="btn btn-primary btn_requst ml-2"
                data-toggle="modal"
                data-target="#transferotherRoc"
                (click)="transferOtherroc()"
              >
                <img src="../../../../assets/images/trans.png " />Transfer to
                other ROC
              </button>
            </div>
          </div>
        </div>
        <!--colensd-->
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="container-fluid">
              <div class="row mt-1">
                 <div class="col-sm-12">
                      <div class="form-group">
<label for="exampleInputEmail1">Learning Type</label>
<input type="text" class="form-control form_width" id="exampleInputEmail1" disabled placeholder="{{
                            routegetdata.learning_type_name
                              ? routegetdata.learning_type_name
                              : routegetdata.learning_type
                          }}">
</div>
                    
                  </div>
                  <!--cole dn-->
                  </div>
                  </div>
              </div>
            </div>
          <div class="card">
            <div class=" ">
              <div class="row">
                <div class="col-sm-12">
                  <div class="user_image">
                    <i class="fa fa-user-o" aria-hidden="true "></i>
                  </div>
                  <p class="text-center user_info">View Request</p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="container-fluid animate__fadeInDown">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
<label for="exampleInputEmail1">Request Number</label>
<input type="text" class="form-control form_width" id="exampleInputEmail1" disabled placeholder="{{
                          routegetdata.request_id
                        }}">
</div>
                    
                  </div>
                  <!--cole dn-->
                  <div class="col-sm-4">
                    <div class="form-group">
<label for="exampleInputEmail1">Requester Name</label>
<input type="text" class="form-control form_width" id="exampleInputEmail1" disabled placeholder="{{
                            routegetdata.user_name
                              ? routegetdata.user_name
                              : routegetdata.user_id
                          }}">
</div>
                    
                  </div>
                  <!--cole dn-->
               
               
                  <div class="col-sm-4">
                      <div class="form-group">
<label for="exampleInputEmail1">Title one</label>
<span class="form-control form_width" id="exampleInputEmail1" disabled >{{
                            routegetdata.titleByLang
                              ? (routegetdata.titleByLang | titlecase)
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Training Provided By</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{ routegetdata.training_provided_by }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Training Duration</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{ routegetdata.duration }}</span>
                    </div>

                </div>
                <!--cole dn-->

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{ routegetdata.descriptionByLang }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Objective</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{ routegetdata.objectiveByLang }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Subject</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{ routegetdata.subject_name }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Available Language</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.available_language_name
                              ? routegetdata.available_language_name
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Level</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.level_name
                              ? routegetdata.level_name
                              : routegetdata.level
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email of content owner</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{ routegetdata.email_content_owner }}</span>
                    </div>

                </div>
                <!--cole dn-->

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email of training contact</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.email_training_contact
                              ? routegetdata.email_training_contact
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Prerequisite</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.prerequisite
                              ? routegetdata.prerequisite
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Delivery Method</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.delivery_method_name
                              ? routegetdata.delivery_method_name
                              : routegetdata.delivery_method
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1"> Does this course integrate digital?</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.digital
                              ? (routegetdata.digital | titlecase)
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Purchase order required</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.purchase_order
                              ? (routegetdata.purchase_order | titlecase)
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Manage Approval</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.manager_approval
                              ? (routegetdata.manager_approval | titlecase)
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->



                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Who can see?</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.who_see_course_name
                              ? (routegetdata.who_see_course_name | titlecase)
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">  Email of preffered Instructor ?</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.email_training_contact
                              ? routegetdata.email_training_contact
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Certification</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>                          {{
                            routegetdata.certification
                              ? (routegetdata.certification | titlecase)
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">  Certification Expiry type name</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled> {{
                            routegetdata.certification_expiry_type_name
                              ? (routegetdata.certification_expiry_type_name
                                | titlecase)
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">External Vendor</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.external_vendor
                              ? (routegetdata.external_vendor | titlecase)
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">External Vendor name</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.external_vendor
                              ? (routegetdata.external_vendor | titlecase)
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">For Whom ?</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.for_whoomByLang
                              ? routegetdata.for_whoomByLang
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Updated At</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{ routegetdata.updated_at | date: "short" }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Regional Cordinator Name</label>
                        <span class="form-control form_width" id="exampleInputEmail1" disabled>{{
                            routegetdata.regional_cordinator_name
                              ? (routegetdata.regional_cordinator_name
                                | titlecase)
                              : "-"
                          }}</span>
                    </div>

                </div>
                <!--cole dn-->
                <!--cole dn-->
            </div>
            <!--row end-->

            <!--row end-->
        </div>
    </div>
    <!--colensd-->
</div>
</div>
</div>
<!-- .animated -->
</div>
<!-- .content -->
</div>
<!-- /#right-panel -->

<!-- Right Panel -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 150px;">
    <div class="modal-dialog modal-lg" role="document ">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Transfer to Publisher</label>
                            <select name="select " id="select " class="form-control" (change)="getPublisherselected($event)">
                  <option value="0 ">Please select</option>
                  <option
                    *ngFor="let publisher of publisherList"
                    [value]="publisher.id"
                  >
                    {{ publisher.first_name }}
                  </option>
                </select>
                        </div>
                    </div>
                    <!--col end-->
                </div>
                <!--row-->
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="transfertoPublisher()">
            Submit
          </button>
            </div>
        </div>
    </div>
    <!-- </ng-template> -->
</div>
<div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 150px;">
    <div class="modal-dialog modal-lg" role="document ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="font-size: 14px; color: #ff7900;margin-bottom: 0px;">Reject Request</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Comments</label>
                            <textarea class="form-control form_width-textarea" [(ngModel)]="rejectcomment" rows="3 " placeholder="Enter Your Comments ">
                </textarea>
                        </div>
                    </div>
                    <!--col end-->
                </div>
                <!--row-->
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="reject()">
            Submit
          </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="transferotherRoc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 150px;">
    <div class="modal-dialog modal-lg" role="document ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="font-size: 14px; color: #ff7900;margin-bottom: 0px;">
                    Transfer the requet to other ROC
                </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Regional Operation Coordinator</label>
                            <select class="form-control form_width" (change)="getRoc($event)">
                  <option value=" ">Please select any</option>
                  <option
                    *ngFor="let otherroc of otherRocsList"
                    [value]="otherroc.id"
                  >
                    {{ otherroc.first_name }}
                  </option>
                  <!-- <option>Asia Pacific</option> -->
                  <!-- <option
                  *ngFor="let vendor of vendorType "
                  [value]="vendor.vendor_name "
                >
                  {{ vendor.name }}
                </option> -->
                </select>
                        </div>
                    </div>
                    <!--col end-->
                </div>
                <!--row-->
            </div>
            <div class="modal-footer">
                <!-- <button type="button " class="btn btn-secondary" data-dismiss="modal">
            Close
          </button> -->
                <button type="button" data-dismiss="modal" (click)="transfertoOtherRoc()" class="btn btn-primary btn_requst">
            Submit
          </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="publishModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 150px;">
    <div class="modal-dialog modal-lg" role="document ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="font-size: 14px; color: #ff7900;margin-bottom: 0px;">Publish Request</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Comments</label>
                            <textarea class="form-control form_width-textarea" rows="3 " placeholder="Enter Your Comments ">
                </textarea>
                        </div>
                    </div>
                    <!--col end-->
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Orange Learning Intrance URL(SSO)</label>
                            <input type="text " placeholder="Enter Orange Learning Intrance URL(SSO) " class="form-control form_width" />
                        </div>
                    </div>
                    <!--col end-->
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Orange Learning Internet URL</label>
                            <input type="text " placeholder="Enter Orange Learning Internet URL " class="form-control form_width" />
                        </div>
                    </div>
                    <!--col end-->
                </div>
                <!--row-->
            </div>
            <div class="modal-footer">
                <!-- <button type="button " class="btn btn-secondary " data-dismiss="modal ">Close</button> -->
                <button type="button" class="btn btn-primary btn_requst">
            Submit
          </button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
</div>