<div id="right-panel" class="right-panel">
    <!-- Header-->
    <app-header></app-header>
    <!-- /header -->
    <!-- Header-->
    <div class="breadcrumbs" style="background-color: #fbfbf7; padding: 9px 9px 20px 9px">
        <div class="col-sm-6">
            <div class="page-header float-left" style="background: transparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/creatnew.png" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span style="font-size: 20px" class="mb-1">Create new course </span>
                        <span style="color: #aba3a3; font-size: 13px">People Development & Learning Strives on Providing you with the
              best customer service we can drive</span
            >
          </div>
                </div>
            </div>
        </div>
       
        <div class="col-sm-5 float-right">
       <div class="page-header float-right" style="background: transparent">
        <div class="page-title d-flex end_just">
          <ol class="breadcrumb text-right" style="background: transparent">
            <li>
              <a href="# ">
                <i class="fa fa-home" style="color: #5161ce"></i>
              </a>
            </li>
            <li>
              <a [routerLink]="['/dashboard']" style="color: #ff7901"
                >Dashboard</a
              >
            </li>
            <li>
              <a [routerLink]="['/dashboard/cources/']" style="color: #ff7901"
                >Create new Course</a
              >
            </li>
          </ol>
        </div>
        </div>
      
    </div>
    </div>
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="padding: 0.45rem 1.25rem; background-color: #fff">
                            <div class="d-flex">
                                <img src="../../../../assets/images/formm.png" class="ml-2" style="width: 40px" />
                                <p class="mt-3 ml-2 view-re_css">
                                    <span>View Request</span>
                        <span class="cc-text_css">( {{ routegetdata.request_id }} ) -
                  </span>
                        <span style="color: #ff7900">Request Status</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .animated -->
</div>
<!-- .content -->
</div>

<div class="content mt-3">
    <div class="animated fadeIn">

        <div class="card">
            <div class="card-body">
                <div class="Requs_btn_inl">
                    <div class="Requs_btn_inl-child">

                        <button type="button" class="btn btn-primary btn_requst ml-2" data-toggle="modal" data-target="#publishModal" *ngIf="getUserrole.id==4 ">
  <img src="../../../../assets/images/publish.png " />Publish
</button>


                        <button type="button" class="btn btn-primary btn_requst ml-2" data-toggle="modal" data-target="#exampleModal" *ngIf="getUserrole.id==3 " (click)="getPublisher() ">
  <img src="../../../../assets/images/publish.png " /> Transfer to  Publisher
</button>


                        <button class="btn btn-primary btn_requst ml-2 " (click)="updateCource() ">
                  <img src="../../../../assets/images/update.png " />Update
                </button>
                        <button type="button" class="btn btn-primary btn_requst ml-2" data-toggle="modal" data-target="#rejectModal" *ngIf="getUserrole.id==3 " (click)="getPublisher() ">
   <img src="../../../../assets/images/reject.png " />Reject
</button>

                    </div>
                    <div class="Requs_btn_inl-child1">
                        <button type="button" class="btn btn-primary btn_requst ml-2" data-toggle="modal" data-target="#publishRequest" (click)="transferOtherroc() ">
     <img src="../../../../assets/images/trans.png " />Transfer to other ROC
</button>

                    </div>
                </div>
            </div>
            <!--colensd-->
        </div>

        <div class="row ">
            <div class="col-md-12 ">
                <div class="card ">
                    <div class=" ">
                        <div class="row ">
                            <div class="col-sm-12 ">
                                <div class="user_image ">
                                    <i class="fa fa-user-o " aria-hidden="true "></i>
                                </div>
                                <p class="text-center user_info ">View Request</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="container-fluid animate__fadeInDown ">
                            <div class="row ">
                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Request Number</p>
                                            <label class="label_text ">{{
                          routegetdata.request_id
                        }}</label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Request Name</p>
                                            <label class="label_text ">{{routegetdata.user_name}}
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Training Title</p>
                                            <label class="label_text ">{{ routegetdata.title }}
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                            </div>
                            <!--row end-->
                            <div class="row ">
                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Training Duration</p>
                                            <label class="label_text ">{{ routegetdata.duration }}
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Description</p>
                                            <label class="label_text ">{{ routegetdata.description }}
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Level</p>
                                            <label class="label_text ">{{ routegetdata.level }}
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                            </div>
                            <!--row end-->
                            <div class="row mb-2 ">
                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Manage Approval</p>
                                            <label class="label_text "><button class="btn btn-primary ">
                            {{ routegetdata.manager_approval }}
                          </button>
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->

                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">
                                                Does this course integrate digital?
                                            </p>
                                            <label class="label_text "><button class="btn btn-success ">
                            {{ routegetdata.digital }}
                          </button>
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Certification</p>
                                            <label class="label_text "><button class="btn btn-primary ">
                            {{ routegetdata.certification }}
                          </button>
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                            </div>
                            <!--row end-->
                            <div class="row mb-2 ">
                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">External Vendor</p>
                                            <label class="label_text "><button class="btn btn-primary ">
                            {{ routegetdata.external_vendor }}
                          </button>
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->

                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Purchase order required</p>
                                            <label class="label_text "><button class="btn btn-success ">
                            {{ routegetdata.purchase_order ? routegetdata.purchase_order : 'no' }}
                          </button>
                        </label>
                                        </div>
                                    </div>
                                </div>



                                <!--cole dn-->


                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Learning Type</p>
                                            <label class="label_text ">{{routegetdata.learning_type}}
                        </label>
                                        </div>
                                    </div>
                                </div>


                                <!--cole dn-->



                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Email of content owner</p>
                                            <label class="label_text ">{{routegetdata.email_content_owner}}
                        </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Training Provided By</p>
                                            <label class="label_text ">{{routegetdata.training_provided_by}}
                        </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Created At</p>
                                            <label class="label_text ">{{routegetdata.created_at | date :'short'}}
                        </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Subject </p>
                                            <label class="label_text ">{{routegetdata.subject}}
                        </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Updated At </p>
                                            <label class="label_text ">{{routegetdata.updated_at | date :'short'}}
                        </label>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Objective </p>
                                            <label class="label_text ">{{routegetdata.objective}}
                        </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">Prerequisite </p>
                                            <label class="label_text ">{{routegetdata.prerequisite ? routegetdata.prerequisite : '-'}}
                        </label>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-sm-4 ">
                                    <div class="pl-3 border_user ">
                                        <div class="form-group mt-3 ">
                                            <p class="user_span_text ">For Whoom ? </p>
                                            <label class="label_text ">{{routegetdata.for_whoom ? routegetdata.for_whoom : '-'}}
                        </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--row end-->
                        </div>
                    </div>
                    <!--colensd-->
                </div>
            </div>
        </div>
        <!-- .animated -->
    </div>
    <!-- .content -->
</div>

<!-- /#right-panel -->

<!-- Right Panel -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 250px ">
    <div class="modal-dialog modal-lg " role="document ">
        <div class="modal-content ">
            <div class="modal-body ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="form-group ">
                            <label>Transfer to Publisher</label>
                            <select name="select " id="select " class="form-control " (change)="getPublisherselected($event)">
                  <option value="0 ">Please select</option>
                  <option *ngFor="let publisher of publisherList " [value]="publisher.id">{{publisher.first_name}}</option>
                </select>
                        </div>
                    </div>
                    <!--col end-->
                </div>
                <!--row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="transfertoPublisher()">Save changes</button>
            </div>
        </div>
    </div>
    <!-- </ng-template> -->
</div>
<div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 250px ">
    <div class="modal-dialog modal-lg " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 style="font-size: 14px; color: #ff7900 ">Reject Request</h4>
            </div>

            <div class="modal-body ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="form-group ">
                            <label>Comments</label>
                            <textarea class="form-control form_width-textarea " rows="3 " placeholder="Enter Your Comments ">
                </textarea>
                        </div>
                    </div>
                    <!--col end-->
                </div>
                <!--row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="reject()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="publishRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 250px ">
    <div class="modal-dialog modal-lg " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 style="font-size: 14px; color: #ff7900 ">
                    Transfer the requet to other ROC
                </h4>
            </div>

            <div class="modal-body ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="form-group ">
                            <label>Regional Operation Coordinator</label>
                            <select class="form-control form_width " (change)="getRoc($event)">
                  <option value=" ">Please select any</option>
                  <option *ngFor="let otherroc of otherRocsList" [value]="otherroc.id">{{otherroc.first_name}}</option>
                  <!-- <option>Asia Pacific</option> -->
                  <!-- <option
                  *ngFor="let vendor of vendorType "
                  [value]="vendor.vendor_name "
                >
                  {{ vendor.name }}
                </option> -->
                </select>
                        </div>
                    </div>
                    <!--col end-->
                </div>
                <!--row-->
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-secondary " data-dismiss="modal ">
            Close
          </button>
                <button type="button " class="btn btn-primary btn_requst ">
            Save changes
          </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="publishModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 50px ">
    <div class="modal-dialog modal-lg " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 style="font-size: 14px;color: #ff7900; ">Publish Request</h4>

            </div>

            <div class="modal-body ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="form-group ">
                            <label>Comments</label>
                            <textarea class="form-control form_width-textarea " rows="3 " placeholder="Enter Your Comments ">
              </textarea>
                        </div>
                    </div>
                    <!--col end-->
                    <div class="col-sm-12 ">
                        <div class="form-group ">
                            <label>Orange Learning Intrance URL(SSO)</label>
                            <input type="text " placeholder="Enter Orange Learning Intrance URL(SSO) " class="form-control form_width " />
                        </div>
                    </div>
                    <!--col end-->
                    <div class="col-sm-12 ">
                        <div class="form-group ">
                            <label>Orange Learning Internet URL</label>
                            <input type="text " placeholder="Enter Orange Learning Internet URL " class="form-control form_width " />
                        </div>
                    </div>
                    <!--col end-->
                </div>
                <!--row-->
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-secondary " data-dismiss="modal ">Close</button>
                <button type="button " class="btn btn-primary btn_requst ">Save changes</button>
            </div>
        </div>
    </div>
</div>








<!-- Button trigger modal -->

<!-- Modal -->


</div>