<div id="right-panel" class="right-panel">
    <!-- Header-->
    <app-header></app-header>
    <!-- /header -->
    <!-- Header-->
    <div class="breadcrumbs" style="background-color: #fbfbf7; padding: 9px 9px 20px 9px">
        <div class="col-sm-1.5">
            <div class="page-header float-left" style="background: transparent">
                <div class="page-title d-flex">
                    <img src="../../../../assets/images/creatnew.png" style="width: 60px" />
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="margin-left: -30px">
            <div class="page-header float-left" style="background: transparent">
                <div class="page-title">
                    <div class="d-flex flex-column">
                        <span style="font-size: 20px">Create new course </span>
                        <span style="color: #aba3a3; font-size: 13px">People Development & Learning Strives on Providing you with the
              best customer service we can drive</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 float-right">
      <div class="page-header float-right" style="background: transparent">
        <div class="page-title d-flex">
          <ol class="breadcrumb text-right" style="background: transparent">
            <li>
              <a href="# ">
                <i class="fa fa-home" style="color: #5161ce"></i>
              </a>
            </li>
            <li>
              <a [routerLink]="['/dashboard/']" style="color: #5161ce">Dashboard</a>
            </li>
            <li><a [routerLink]="['/dashboard/cources/']">Create new Course</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="content mt-3">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div
              class="card-header"
              style="padding: 0.45rem 1.25rem; background-color: #fff"
            >
              <div class="d-flex">
                <img
                  src="../../../../assets/images/formm.png"
                  class="ml-2"
                  style="width: 40px"
                />
                <p class="mt-3 ml-2 view-re_css">
                  <span>View Request</span>
                        <span class="cc-text_css">( {{routegetdata.request_id}} ) - </span>
                        <span style="color: #ff7900">Request Status</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .animated -->
</div>
<!-- .content -->
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="d-flex justify-content-between">
            <div class="">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary btn_requst" *ngIf="getUserrole.id == 4">
                  <img src="../../../../assets/images/publish.png" />Publish
                </button>

                            <button class="btn btn-primary btn_requst ml-2" data-toggle="modal" data-target="#exampleModal" *ngIf="getUserrole.id == 3">
                  <img src="../../../../assets/images/publish.png" />Transfer to Publisher
                </button>

                            <button class="btn btn-primary btn_requst ml-2" (click)="updateCource()">
                  <img src="../../../../assets/images/update.png" />Update
                </button>
                            <button class="btn btn-primary btn_requst ml-2" data-toggle="modal" data-target="#rejectModal">
                  <img src="../../../../assets/images/reject.png" />Reject
                </button>
                        </div>
                    </div>
                    <!--colensd-->
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary btn_requst ml-2" data-toggle="modal" data-target="#publishRequest">
                  <img src="../../../../assets/images/trans.png" />Transfer to
                  other ROC
                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="user_image">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                </div>
                                <p class="text-center user_info">View Request</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid animate__fadeInDown">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="pl-3 border_user">
                                        <div class="form-group mt-3">
                                            <p class="user_span_text">Request Number</p>
                                            <label class="label_text">{{routegetdata.request_id}}</label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                                <div class="col-sm-4">
                                    <div class="pl-3 border_user">
                                        <div class="form-group mt-3">
                                            <p class="user_span_text">Request Name</p>
                                            <label class="label_text">varun.kaushal@orange.com
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                                <div class="col-sm-4">
                                    <div class="pl-3 border_user">
                                        <div class="form-group mt-3">
                                            <p class="user_span_text">Training Title</p>
                                            <label class="label_text">Healthy and Safety at OBS for
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                            </div>
                            <!--row end-->
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="pl-3 border_user">
                                        <div class="form-group mt-3">
                                            <p class="user_span_text">Training Duration</p>
                                            <label class="label_text">10 minutes </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                                <div class="col-sm-4">
                                    <div class="pl-3 border_user">
                                        <div class="form-group mt-3">
                                            <p class="user_span_text">Description</p>
                                            <label class="label_text">Healthy and Safety at OBS for
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                                <div class="col-sm-4">
                                    <div class="pl-3 border_user">
                                        <div class="form-group mt-3">
                                            <p class="user_span_text">Level</p>
                                            <label class="label_text">All Users </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                            </div>
                            <!--row end-->
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <div class="pl-3 border_user">
                                        <div class="form-group mt-3">
                                            <p class="user_span_text">Manage Approval</p>
                                            <label class="label_text"><button class="btn btn-primary">No</button>
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->

                                <div class="col-sm-4">
                                    <div class="pl-3 border_user">
                                        <div class="form-group mt-3">
                                            <p class="user_span_text">
                                                Does this course integrate digital?
                                            </p>
                                            <label class="label_text"><button class="btn btn-success">Yes</button>
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                                <div class="col-sm-4">
                                    <div class="pl-3 border_user">
                                        <div class="form-group mt-3">
                                            <p class="user_span_text">Certification</p>
                                            <label class="label_text"><button class="btn btn-primary">No</button>
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                            </div>
                            <!--row end-->
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <div class="pl-3 border_user">
                                        <div class="form-group mt-3">
                                            <p class="user_span_text">External Vendor</p>
                                            <label class="label_text"><button class="btn btn-primary">No</button>
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->

                                <div class="col-sm-4">
                                    <div class="pl-3 border_user">
                                        <div class="form-group mt-3">
                                            <p class="user_span_text">Purchase order required</p>
                                            <label class="label_text"><button class="btn btn-success">Yes</button>
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                                <div class="col-sm-4">
                                    <div class="pl-3 border_user">
                                        <div class="form-group mt-3">
                                            <p class="user_span_text">Certification</p>
                                            <label class="label_text"><button class="btn btn-primary">No</button>
                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!--cole dn-->
                            </div>
                            <!--row end-->
                        </div>
                    </div>
                    <!--colensd-->
                </div>
            </div>
        </div>
        <!-- .animated -->
    </div>
    <!-- .content -->
</div>

<!-- /#right-panel -->

<!-- Right Panel -->

<script src="vendors/jquery/dist/jquery.min.js"></script>
<script src="vendors/popper.js/dist/umd/popper.min.js"></script>
<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/js/main.js"></script>

<script src="vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="vendors/jszip/dist/jszip.min.js"></script>
<script src="vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="assets/js/init-scripts/data-table/datatables-init.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 250px">

    <!-- <ng-template #content let-modal> -->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Transfer to Publisher</label>
                            <select name="select" id="select" class="form-control">
                  <option value="0">Please select</option>
                  <option value="1">Option #1</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
                        </div>
                    </div>
                    <!--col end-->
                </div>
                <!--row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
                <button type="button" class="btn btn-primary btn_requst" (click)="saveChange()">
            Save changes
          </button>
            </div>
        </div>
    </div>
    <!-- </ng-template> -->
</div>


<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 250px;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="font-size: 14px;color: #ff7900;">Reject Request</h4>

            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Comments</label>
                            <textarea class="form-control form_width-textarea" rows="3" placeholder="Enter Your Comments">
              </textarea>
                        </div>
                    </div>
                    <!--col end-->

                </div>
                <!--row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn_requst">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="publishRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 50px;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="font-size: 14px;color: #ff7900;">Transfer the requet to other ROCR</h4>

            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Regional Operation Coordinator</label>
                            <select class="form-control form_width" formControlName="training_provided_by">
                <option value="">Please select any</option>
                <option>Asia Pacific</option>
                <!-- <option
                  *ngFor="let vendor of vendorType"
                  [value]="vendor.vendor_name"
                >
                  {{ vendor.name }}
                </option> -->
              </select>
                        </div>
                    </div>
                    <!--col end-->

                </div>
                <!--row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn_requst">Save changes</button>
            </div>
        </div>
    </div>
</div>





</div>