<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left bg-transparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/3.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">Promote on Carousel</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">
                            Request the creation of a new entry in the Orange Learning Carousel</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 float-right">
            <div class="page-header float-right bg-transparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right bg-transparent">
                        <li>
                            <a [routerLink]="['/dashboard']">
                                <i class="fa fa-home text_white"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">Dashboard</a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard/olcarousel']" class="text_white">Create new Carousel</a>
                        </li>
                        <li>
                            <span class="text_white span_dis">{{ carousel_id === 0 ? 'New Request' : 'Update Request'}}</span>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card_header_common">
        <div class="d-flex justify-content-between media_creat_couse_col">
            <div class="d-flex align-items-center">
                <img src="../../../../assets/images/formm.png" class="form_img_req" />
                <p class="mt-2 ml-2 mb-2 view-re_css">
                <span class="comlte_css">Complete this form and click on the submit button</span>
                </p>
            </div>
            <a class="float-right view_overall" data-toggle="collapse" href="#collapseExample"
                role="button" aria-expanded="false" aria-controls="collapseExample">
                View overall request status<img src="../../../../assets/images/Viewreq.png"
                    class="ml-2" width="40" />
            </a>
        </div>
    </div>
    <form [formGroup]="createOlcarouselForm">
        <div class="content mt-1">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="header_div_promt row">
                                    <strong class="font-16 col-md-12">I want my entry to appear in the following Carousel(s).</strong>
                                    <div class="chkbox_css_header ml-2 mt-2">
                                        <label formArrayName="languages"
                                            *ngFor="let language of lauguageFormArray.controls; let i = index"
                                            (change)="languageChange()" >
                                            <input type="checkbox" [formControlName]="i"  [attr.disabled]="isCreater ? null : true">
                                            <span class="mr-1 ml-1 font-13">{{languageList[i].name}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body card_width" formArrayName="metadata">
                                <div class="card_dis_promte col-md-6 col-sm-12"
                                    *ngFor="let carousel of carouselFormArray.controls; let i = index">
                                    <div class="card" [formGroupName]="i">
                                        <div class="card-header">
                                            <div class="header_div_promt">
                                                <strong class="font-16">{{carousel.value.languageName}}</strong>
                                                <div class="chkbox_css_header" *ngIf="isCreater">
                                                    <button class="btn btn-secondary btn-sm"
                                                        (click)="removeCarousel(carousel)">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body card_width">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label">
                                                            Title <span class="text-danger-ligth">* </span>
                                                            <a>
                                                                <i class="fa fa-info-circle info_circle"
                                                                    aria-hidden="true" placement="right"
                                                                    ngbTooltip="Provide an attractive, catchy and clear title for the Carousel entry (maximum 32 characters including spaces). "></i>
                                                            </a>
                                                        </label>
                                                        <input type="text" placeholder="Enter Title"  maxlength="32" 
                                                            formControlName="title" class="form-control form_width" />
                                                        <div
                                                            *ngIf="(carouselFormArray.controls[i].controls['title'].invalid && (carouselFormArray.controls[i].controls['title'].dirty || carouselFormArray.controls[i].controls['title'].touched)) || isSubmitted ">
                                                            <div class="error_message"
                                                                *ngIf="carouselFormArray.controls[i].controls['title'].errors?.required">
                                                                Title cannot be blank
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label">
                                                            Description <span class="text-danger-ligth">* </span>
                                                            <a>
                                                                <i class="fa fa-info-circle info_circle"
                                                                    aria-hidden="true" data-bs-toggle="tooltip"
                                                                    data-bs-placement="right"
                                                                    ngbTooltip="Provide 1-2 meaningful sentences describing the content of the Carousel entry (maximum 211 characters including spaces)."></i>
                                                            </a>
                                                        </label>
                                                        <textarea class="form-control form_width-textarea"
                                                            formControlName="description" maxlength="211" rows="3"
                                                            placeholder="Enter Description"></textarea>
                                                        <div
                                                            *ngIf="(carouselFormArray.controls[i].controls['description'].invalid && (carouselFormArray.controls[i].controls['description'].dirty || carouselFormArray.controls[i].controls['description'].touched)) || isSubmitted ">
                                                            <div class="error_message"
                                                                *ngIf="carouselFormArray.controls[i].controls['description'].errors?.required">
                                                                Description cannot be blank
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label">
                                                            Link <span class="text-danger-ligth">* </span>
                                                            <a>
                                                                <i class="fa fa-info-circle info_circle"
                                                                    aria-hidden="true" data-bs-toggle="tooltip"
                                                                    data-bs-placement="right"
                                                                    ngbTooltip="Provide the link of the learning object to which the Carousel entry points."></i>
                                                            </a>
                                                        </label>
                                                        <input type="url" placeholder="Enter Link"
                                                            formControlName="link" class="form-control form_width" />
                                                        <div
                                                            *ngIf="(carouselFormArray.controls[i].controls['link'].invalid && (carouselFormArray.controls[i].controls['link'].dirty || carouselFormArray.controls[i].controls['link'].touched)) || isSubmitted ">
                                                            <div class="error_message"
                                                                *ngIf="carouselFormArray.controls[i].controls['link'].errors?.required">
                                                                Link cannot be blank
                                                            </div>
                                                            <div class="error_message"
                                                                *ngIf="carouselFormArray.controls[i].controls['link'].errors?.pattern">
                                                                Link invalid
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group mb-0">
                                                        <label class="ml-1 manage-checkbox">
                                                            <input type="checkbox" formControlName="display_manager"
                                                                class="mr-1">I want my Carousel to be displayed to
                                                            Managers only</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <div class="header_div_promt">
                                    <strong class="font-16">Other Details</strong>
                                </div>
                            </div>
                            <div class="card-body card_width">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Images <span class="text-danger-ligth">* </span>
                                                <a>
                                                    <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                        data-bs-toggle="tooltip" data-bs-placement="right"
                                                        ngbTooltip="If possible , provide an image with the following ideal dimensions: 550 x 900. Alternatively, provide a raw image that you wish to display in the Carousel and the PD&L team will help you to crop it to a proper size. Note: Please avoid including text in your image."></i>
                                                </a>
                                            </label>
                                            <input type="file" id="carouselImage" class="form-control form_width mb-2" accept="image/*" 
                                                formControlName="image" (change)="handleFileInput($event)" />
                                            <div
                                                *ngIf="(createOlcarouselForm.controls['image'].invalid && (createOlcarouselForm.controls['image'].dirty || createOlcarouselForm.controls['image'].touched)) || isSubmitted">
                                                <div class="error_message"
                                                    *ngIf="createOlcarouselForm.controls['image'].errors?.required">
                                                    Image cannot be blank
                                                </div>
                                            </div>
                                            <span class="pt-2" *ngIf="carousel_details.imageUrl">
                                                Click here to <a href="{{carousel_details.imageUrl}}" target="_blank"
                                                    style="color:#ff7900">View</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Requested Publication Date <span class="text-danger-ligth">* </span>
                                                <a>
                                                    <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                        data-bs-toggle="tooltip" data-bs-placement="right"
                                                        ngbTooltip="Upon receipt of a correctly completed request, the entry will appear in the Orange Learning Carousel within 3-5 business days."></i>
                                                </a>
                                            </label>
                                            <input type="date" class="form-control form_width"
                                                formControlName="publication_date"  min="{{minDate}}" />
                                            <div
                                                *ngIf="(createOlcarouselForm.controls['publication_date'].invalid && (createOlcarouselForm.controls['publication_date'].dirty || createOlcarouselForm.controls['publication_date'].touched)) || isSubmitted">
                                                <div class="error_message"
                                                    *ngIf="createOlcarouselForm.controls['publication_date'].errors?.required">
                                                    Requested Publication Date cannot be blank
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Expiry Type <span class="text-danger-ligth">* </span>
                                                <a>
                                                    <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                        data-bs-toggle="tooltip" data-bs-placement="right"
                                                        ngbTooltip="Provide the date on which this entry should be removed from the Orange Learning Carousel. If the Expiry Date is unknown, the entry will be available in the Carousel for a maximum of 3 months."></i>
                                                </a>
                                            </label>
                                            <select class="form-control form_width" formControlName="expiry_type">
                                                <option value="">Please Select expiry</option>
                                                <option *ngFor="let cctExpiry of cctExpiryperiod"
                                                    [value]="cctExpiry.id">
                                                    {{ cctExpiry.name }}
                                                </option>
                                            </select>
                                            <div
                                                *ngIf="(createOlcarouselForm.controls['expiry_type'].invalid && (createOlcarouselForm.controls['expiry_type'].dirty || createOlcarouselForm.controls['expiry_type'].touched)) || isSubmitted">
                                                <div class="error_message"
                                                    *ngIf="createOlcarouselForm.controls['expiry_type'].errors?.required">
                                                    Expiry Type cannot be blank
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Additional Comments
                                            </label>
                                            <textarea class="form-control form_width-textarea" maxlength="500" rows="3"
                                                formControlName="additional_comment"
                                                placeholder="Enter Additional Comments"></textarea>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-12" *ngIf="isReviewer">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Publisher <span class="text-danger-ligth">* </span>
                                                <a>
                                                    <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                                        title="Provide the date on which this entry should be removed from the Orange Learning Carousel. If the Expiry Date is unknown, the entry will be available in the Carousel for a maximum of 3 months."></i>
                                                </a>
                                            </label>
                                            <select class="form-control form_width" formControlName="publisher_id">
                                                <option value="">Please Select Publisher</option>
                                                <option *ngFor="let publisher of carouselPublisher"
                                                    [value]="publisher.id">
                                                    {{ publisher.first_name }} {{publisher.last_name}}
                                                </option>
                                            </select>
                                            <div
                                                *ngIf="(createOlcarouselForm.controls['publisher_id'].invalid && (createOlcarouselForm.controls['publisher_id'].dirty || createOlcarouselForm.controls['publisher_id'].touched)) || isSubmitted">
                                                <div class="error_message"
                                                    *ngIf="createOlcarouselForm.controls['publisher_id'].errors?.required">
                                                    Publisher cannot be blank
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary mr-1" type="submit"  *ngIf="isSubmit()"
                                    (click)="saveCarousel('pending')"> <i class="fa fa-upload" aria-hidden="true"></i>{{ isReviewer ? 'Transfer To Publisher': 'Submit' }}</button>
                                <button class="btn btn-primary mr-1" type="submit" *ngIf="isPublish()"
                                    (click)="saveCarousel('publish')"><i aria-hidden="true" class="fa fa-upload"></i><span class="pl-1">Publish</span></button>
                                <button class="btn btn-secondary mr-1" type="submit" *ngIf="isReject()" (click)="statusChangeRequest(CarouselStatus.reject)"><i  aria-hidden="true" class="fa fa-times"></i><span class="pl-1">Reject</span></button>
                                <button class="btn btn-secondary" *ngIf="isDraft()" (click)="saveCarousel('draft')">Save
                                    as draft</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- .content -->
    <div class="collapse" id="collapseExample">
        <div class="card card-body req_status-card">
            <div class="card_header reqst_header">
                <p>Overall request Status</p>
                <i class="fa fa-times fa_cross mr-2" aria-hidden="true" data-toggle="collapse" href="#collapseExample"
                    role="button" aria-expanded="false" aria-controls="collapseExample"></i>
            </div>
            <div class="row ml-1 mr-1" data-aos="fade-right">
                <div class="col-sm-2 dash_wid">
                    <div class="alig_dashicon">
                        <div class="child_align_icon">
                            <div class="fa-icons-des bg-transparent">
                                <img src="../../../../assets/images/icon/draftsbl.png" />
                            </div>
                            <p>Draft</p>
                            <span class="number_css">
                                {{carousel_count.draft}}
                            </span>
                        </div>
                    </div>
                </div>
                <!--coled-->
                <div class="col-sm-2 dash_wid">
                    <div class="alig_dashicon">
                        <div class="child_align_icon">
                            <div class="fa-icons-des bg-transparent">
                                <img src="../../../../assets/images/icon/closedbl.png" />
                            </div>
                            <p>Submitted</p>
                            <span class="number_css">
                                {{carousel_count.submitted}}
                            </span>
                        </div>
                    </div>
                </div>
                <!--coled-->
                <div class="col-sm-2 dash_wid" *ngIf="isReviewer || isPublisher">
                    <div class="alig_dashicon">
                        <div class="child_align_icon">
                            <div class="fa-icons-des bg-transparent">
                                <img src="../../../../assets/images/icon/pendingbl.png" />
                            </div>
                            <p>Pending</p>
                            <span class="number_css">
                                {{carousel_count.pending}}
                            </span>
                        </div>
                    </div>
                </div>
                 <!--coled-->
                 <div class="col-sm-2 dash_wid" *ngIf="isReviewer">
                    <div class="alig_dashicon">
                        <div class="child_align_icon">
                            <div class="fa-icons-des bg-transparent">
                                <img src="../../../../assets/images/icon/transferbl.png" />
                            </div>
                            <p>Forwarded</p>
                            <span class="number_css">
                                {{carousel_count.transferred?carousel_count.transferred:0}}
                            </span>
                        </div>
                    </div>
                </div>
                 <!--coled-->
                 <div class="col-sm-2 dash_wid">
                    <div class="alig_dashicon">
                        <div class="child_align_icon">
                            <div class="fa-icons-des bg-transparent">
                                <img src="../../../../assets/images/icon/checkbl.png" />
                            </div>
                            <p data-toggle="tooltip" data-placement="top" title="Active in Orange Learning">Active in ....</p>
                            <span class="number_css">
                                {{carousel_count.closed?carousel_count.closed:0}}
                            </span>
                        </div>
                    </div>
                </div>
                 <!--coled-->
                 <div class="col-sm-2 dash_wid">
                    <div class="alig_dashicon">
                        <div class="child_align_icon">
                            <div class="fa-icons-des bg-transparent">
                                <img src="../../../../assets/images/icon/rejectbl.png" />
                            </div>
                            <p>Rejected</p>
                            <span class="number_css">
                                {{carousel_count.rejected?carousel_count.rejected:0}}
                            </span>
                        </div>
                    </div>
                </div>
                 <!--coled-->
                 <div class="col-sm-2 dash_wid">
                    <div class="alig_dashicon">
                        <div class="child_align_icon">
                            <div class="fa-icons-des bg-transparent">
                                <img src="../../../../assets/images/icon/expiredbl.png" />
                            </div>
                            <p>Expired</p>
                            <span class="number_css">
                                {{carousel_count.expired?carousel_count.expired:0}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view-comple-req_div">
                <button class="btn btn-primary view-comple-req justify-content-center p-1"
                    [routerLink]="['/dashboard/cources/view-complete-report']">
                    <i class="fa fa-database mr-1" aria-hidden="true"></i>View all activity Request
                </button>
            </div>
            <!--ROW END-->
        </div>
    </div>
</div>