<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs" style="background-color: #fbfbf7; padding: 6px 9px 6px 9px">
        <div class="col-sm-7">
            <div class="page-header float-left" style="background: transparent">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/creatnew.png" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span style="font-size: 20px">Promote Carousel</span>
                        <span class="divider"></span>
                        <span style="color: #aba3a3; font-size: 13px;margin-top: 6px;">
                            <b style="color: #000">Instructor-Led (ILT)</b>-Instructor-Led
                            Training is face to face training delivered in a classroom.
                        </span>
                        <span style="color: #aba3a3; font-size: 13px;margin-top: 2px;"><b style="color: #000">
                            Virtual Instructor-Led Training(vILT)-
                        </b>virtual instrutor-Led Training(vILT)is delivered remotely</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5 float-right">
            <div class="page-header float-right" style="background: transparent">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right" style="background: transparent">
                        <li>
                            <a [routerLink]="['/dashboard']">
                                <i class="fa fa-home" style="color: #5161ce"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" style="color: #ff7900">Dashboard</a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard/cources']" style="color: #ff7900">Create new Course</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="padding: 0.75rem 1.25rem !important; background-color: #fff">
                            <div class="d-flex justify-content-between media_creat_couse_col">
                                <div class="d-flex align-items-center">
                                    <img src="../../../../assets/images/formm.png" class="ml-2" style="width: 40px" />
                                    <!-- <img
                    src="../../../../assets/images/form.png"
                    style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px"
                    class="mr-2"
                  /> -->
                                    <span class="comlte_css">Complete this form and click on the submit button</span>
                                </div>
                                <a class="float-right view_overall" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    View overall request status<img src="../../../../assets/images/Viewreq.png"
                                        class="ml-2" style="width: 40px" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- .content -->
    </div>
    <!-- <form [formGroup]="createCourceForm"> -->
    <div class="content mt-1">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <span class="indicate_css"><span style="color: red">*</span>Indicates required field</span>
                  <div class="card">
                    <div class="card-header">
                        <div class="header_div_promt">
                        <strong _ngcontent-jet-c125="" style="font-size: 13px;">I want my entry to appear in the following Carousel(s). (English/French)</strong>
                        <div class="chkbox_css_header">
                            <input type="checkbox">
                            <label class="mr-1 ml-1">English</label>
                            <input type="checkbox">
                            <label class="ml-1">French</label>
                            </div><!--chkbox-->
                            </div><!--headerdiv-->
                    </div>
                    <!-- <form [formGroup]="createCourceForm"> -->
                    <div class="card-body card_width">
                        <div class="card_dis_promte">
                            
                                <div class="card">
                                    <div class="card-header">
                                        <div class="header_div_promt">
                                        <strong _ngcontent-jet-c125="" style="font-size: 13px;">English</strong>
                                        <div class="chkbox_css_header">
                                            <button class="btn btn-secondary">Remove Carousel</button>
                                            </div><!--chkbox-->
                                            </div><!--headerdiv-->
                                    </div>
                                    <!-- <form [formGroup]="createCourceForm"> -->
                                    <div class="card-body card_width">
                                        <div class="row">
                                        <div class="col-sm-12">
                                          
                                                <div class="form-group">
                                                    <label class="form-control-label">
                                                        Title <span style="color: red">* </span>
                                                        <a>
                                                            <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="Provide an attractive, catchy and clear title for the Carousel entry (maximum 32 characters including spaces). "></i>
                                                        </a>
                                                    </label>
                                                    <input type="text" placeholder="Enter Title" class="form-control form_width"  />
    
                                                    <div class="error_message" *ngIf="commonCreateCourceForm_playlist.controls['title_single'].hasError('required') && commonCreateCourceForm_playlist.controls['title_single'].touched">
                                                        Title cannot be blank
                                                    </div>
    
                                                </div>
    
                                               
                                           
    
                                        </div><!--colend-->
                                        <div class="col-sm-12">
                                          
                                            <div class="form-group">
                                                <label class="form-control-label">
                                                    Description <span style="color: red">* </span>
                                                    <a>
                                                        <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                                            title="Provide 1-2 meaningful sentences describing the content of the Carousel entry (maximum 211 characters including spaces)."></i>
                                                    </a>
                                                </label>
                                                <textarea class="form-control form_width-textarea" maxlength="500" rows="3" placeholder="Enter Description" ></textarea>

                                                <div class="error_message" *ngIf="commonCreateCourceForm_playlist.controls['title_single'].hasError('required') && commonCreateCourceForm_playlist.controls['title_single'].touched">
                                                    Title cannot be blank
                                                </div>

                                            </div>

                                           
                                       

                                    </div><!--colend-->
                                    <div class="col-sm-12">
                                          
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Link <span style="color: red">* </span>
                                                <a>
                                                    <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                                        title="Provide the link of the learning object to which the Carousel entry points."></i>
                                                </a>
                                            </label>
                                            <input type="text" placeholder="Enter Link" class="form-control form_width"  />

                                            <div class="error_message" *ngIf="commonCreateCourceForm_playlist.controls['title_single'].hasError('required') && commonCreateCourceForm_playlist.controls['title_single'].touched">
                                                Title cannot be blank
                                            </div>

                                        </div>

                                       
                                   

                                </div><!--colend-->
                                        </div><!--row-->
                                       
                                        </div><!--cardbody-->
                                        <div class="card-footer">
                                            <input type="checkbox">
                                            <label class="ml-1" style="position: relative;top: -2px;">I want my Carousel to be displayed to Managers only</label>
                                            </div><!--ffoter-->
                                      </div><!--card-->
                                
                               
                                      <div class="card">
                                        <div class="card-header">
                                            <div class="header_div_promt">
                                            <strong _ngcontent-jet-c125="" style="font-size: 13px;">French</strong>
                                            <div class="chkbox_css_header">
                                                <button class="btn btn-secondary">Remove Carousel</button>
                                                </div><!--chkbox-->
                                                </div><!--headerdiv-->
                                        </div>
                                        <!-- <form [formGroup]="createCourceForm"> -->
                                        <div class="card-body card_width">
                                            <div class="row">
                                            <div class="col-sm-12">
                                              
                                                    <div class="form-group">
                                                        <label class="form-control-label">
                                                            Title <span style="color: red">* </span>
                                                            <a>
                                                                <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                                    title="Provide an attractive, catchy and clear title for the Carousel entry (maximum 32 characters including spaces). "></i>
                                                            </a>
                                                        </label>
                                                        <input type="text" placeholder="Enter Title" class="form-control form_width"  />
        
                                                        <div class="error_message" *ngIf="commonCreateCourceForm_playlist.controls['title_single'].hasError('required') && commonCreateCourceForm_playlist.controls['title_single'].touched">
                                                            Title cannot be blank
                                                        </div>
        
                                                    </div>
        
                                                   
                                               
        
                                            </div><!--colend-->
                                            <div class="col-sm-12">
                                              
                                                <div class="form-group">
                                                    <label class="form-control-label">
                                                        Description <span style="color: red">* </span>
                                                        <a>
                                                            <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="Provide 1-2 meaningful sentences describing the content of the Carousel entry (maximum 211 characters including spaces)."></i>
                                                        </a>
                                                    </label>
                                                    <textarea class="form-control form_width-textarea" maxlength="500" rows="3" placeholder="Enter Description" ></textarea>
    
                                                    <div class="error_message" *ngIf="commonCreateCourceForm_playlist.controls['title_single'].hasError('required') && commonCreateCourceForm_playlist.controls['title_single'].touched">
                                                        Title cannot be blank
                                                    </div>
    
                                                </div>
    
                                               
                                           
    
                                        </div><!--colend-->
                                        <div class="col-sm-12">
                                              
                                            <div class="form-group">
                                                <label class="form-control-label">
                                                    Link <span style="color: red">* </span>
                                                    <a>
                                                        <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                                            title="Provide the link of the learning object to which the Carousel entry points."></i>
                                                    </a>
                                                </label>
                                                <input type="text" placeholder="Enter Link" class="form-control form_width"  />
    
                                                <div class="error_message" *ngIf="commonCreateCourceForm_playlist.controls['title_single'].hasError('required') && commonCreateCourceForm_playlist.controls['title_single'].touched">
                                                    Title cannot be blank
                                                </div>
    
                                            </div>
    
                                           
                                       
    
                                    </div><!--colend-->
                                            </div><!--row-->
                                           
                                            </div><!--cardbody-->
                                            <div class="card-footer">
                                                <input type="checkbox">
                                                <label class="ml-1" style="position: relative;top: -2px;">I want my Carousel to be displayed to Managers only</label>
                                                </div><!--ffoter-->
                                          </div><!--card-->
                            </div><!--row end-->
                      
                        </div><!--cardbody-->
                      </div><!--card-->




                      <div class="card">
                        <div class="card-header">
                            <div class="header_div_promt">
                            <strong _ngcontent-jet-c125="" style="font-size: 13px;">Other Details</strong>
                            
                                </div><!--headerdiv-->
                        </div>
                        <!-- <form [formGroup]="createCourceForm"> -->
                        <div class="card-body card_width">
                            <div class="row">
                            <div class="col-sm-12">
                              
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Images <span style="color: red">* </span>
                                            <a>
                                                <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="If possible , provide an image with the following ideal dimensions: 550 x 900. Alternatively, provide a raw image that you wish to display in the Carousel and the PD&L team will help you to crop it to a proper size. Note: Please avoid including text in your image."></i>
                                            </a>
                                        </label>
                                        <input type="file" id="upload" class="form-control form_width"/>
                                       

                                        <div class="error_message" *ngIf="commonCreateCourceForm_playlist.controls['title_single'].hasError('required') && commonCreateCourceForm_playlist.controls['title_single'].touched">
                                            Title cannot be blank
                                        </div>

                                    </div>

                                   
                               

                            </div><!--colend-->
                            <div class="col-sm-12">
                              
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Requested Publication Date <span style="color: red">* </span>
                                        <a>
                                            <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Upon receipt of a correctly completed request, the entry will appear in the Orange Learning Carousel within 3-5 business days."></i>
                                        </a>
                                    </label>
                                    <input type="date" class="form-control form_width" formControlName="expiry_date" />

                                    <div class="error_message" *ngIf="commonCreateCourceForm_playlist.controls['title_single'].hasError('required') && commonCreateCourceForm_playlist.controls['title_single'].touched">
                                        Title cannot be blank
                                    </div>

                                </div>

                               
                           

                        </div><!--colend-->
                        <div class="col-sm-12">
                              
                            <div class="form-group">
                                <label class="form-control-label">
                                    Expiry Date <span style="color: red">* </span>
                                    <a>
                                        <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Provide the date on which this entry should be removed from the Orange Learning Carousel. If the Expiry Date is unknown, the entry will be available in the Carousel for a maximum of 3 months."></i>
                                    </a>
                                </label>
                                <input type="date" class="form-control form_width" formControlName="expiry_date" />

                                <div class="error_message" *ngIf="commonCreateCourceForm_playlist.controls['title_single'].hasError('required') && commonCreateCourceForm_playlist.controls['title_single'].touched">
                                    Title cannot be blank
                                </div>

                            </div>

                           
                       

                    </div><!--colend-->

                    <div class="col-sm-12">
                                          
                        <div class="form-group">
                            <label class="form-control-label">
                                Additional Comments <span style="color: red">* </span>
                                
                            </label>
                            <textarea class="form-control form_width-textarea" maxlength="500" rows="3" placeholder="Enter Additional Comments" ></textarea>

                            <div class="error_message" *ngIf="commonCreateCourceForm_playlist.controls['title_single'].hasError('required') && commonCreateCourceForm_playlist.controls['title_single'].touched">
                                Title cannot be blank
                            </div>

                        </div>

                       
                   

                </div><!--colend-->
                <div class="col-sm-12">
                    <div class="form-group">
                        
                        <select class="form-control form_width">
                            <option value="">Please Select </option>
                            <option>
                                
                            </option>
                        </select>
                    </div>
                </div>
                <!--colend-->
                        
                           </div><!--row end-->
                            </div><!--cardbody-->
                            <div class="card-footer">
                               <button class="btn btn-primary">Submit</button>
                                </div><!--ffoter-->
                          </div><!--card-->
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- .content -->
    </div>

    <!-- </form> -->
    <!-- .content -->
    <div class="collapse" id="collapseExample">
        <div class="card card-body req_status-card">
            <div class="card_header reqst_header">
                <p>Overall request Status</p>
                <i class="fa fa-times fa_cross mr-2" aria-hidden="true" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"></i>
            </div>
            <div class="row ml-1 mr-1" data-aos="fade-right">
                <div class="col-sm-2 dash_wid">
                    <div class="alig_dashicon">
                        <div class="child_align_icon">
                            <div class="fa-icons-des" style="background-color: transparent">
                                <img src="../../../../assets/images/icon/draftsbl.png" />
                            </div>

                            <p>Draft</p>
                            <span class="number_css">
                               1
                            </span>
                        </div>
                    </div>
                </div>
                <!--coled-->
                <div class="col-sm-2 dash_wid">
                    <div class="alig_dashicon">
                        <div class="child_align_icon">
                            <div class="fa-icons-des" style="background-color: transparent">
                                <img src="../../../../assets/images/icon/closedbl.png" />
                            </div>

                            <p>Submitted</p>
                            <span class="number_css">
                                1
                            </span>
                        </div>
                    </div>
                </div>
                <!--coled-->
                
              
                <div class="col-sm-2 dash_wid">
                    <div class="alig_dashicon">
                        <div class="child_align_icon">
                            <div class="fa-icons-des" style="background-color: transparent">
                                <img src="../../../../assets/images/icon/checkbl.png" />
                            </div>

                            <p>In Active Learning</p>
                            <span class="number_css">
                                {{
                                closedRequests && closedRequests.length
                                ? closedRequests.length
                                : "0"
                                }}
                            </span>
                        </div>
                    </div>
                </div>
                <!--coled-->
                <div class="col-sm-2 dash_wid">
                    <div class="alig_dashicon">
                        <div class="child_align_icon">
                            <div class="fa-icons-des" style="background-color: transparent">
                                <img src="../../../../assets/images/icon/rejectbl.png" />
                            </div>

                            <p>Rejected</p>
                            <span class="number_css">
                               1
                            </span>
                        </div>
                    </div>
                </div>
                <!--coled-->
                <div class="col-sm-2 dash_wid">
                    <div class="alig_dashicon">
                        <div class="child_align_icon">
                            <div class="fa-icons-des" style="background-color: transparent">
                                <img src="../../../../assets/images/icon/expiredbl.png" />
                            </div>

                            <p>Expired</p>
                            <span class="number_css">
                               1
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--ROW END-->
            <div class="view-comple-req_div">
                <button class="btn btn-primary view-comple-req justify-content-center p-1"
                [routerLink]="['/dashboard/cources/view-complete-report']">
                   <i class="fa fa-database mr-1" aria-hidden="true"></i>View Complete Request
                </button>
            </div>
            <!--ROW END-->
        </div>
    </div>
</div>
<!--end-->

