<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left">
                <div class="page-title d-flex align-items-center">
                    <img src="../../assets/images/first.jpg" class="home_Css_img">
                    <div class="d-flex flex-column ml-3 mt-6 ">
                        <span class="breade_text_span1">{{lableConstant.dashboard}}</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">{{lableConstant.development_customer_service}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 float-right ">
            <div class="page-header float-right cursor_pointer" *ngIf="!isFavoutite" (click)="onlyFavourite()">
                <div class="page-title d-flex end_just mt-3">
                    <i class="fa fa-star star-css"></i>
                    <span class="mt-1 ml-1 see-fav">{{lableConstant.see_favourites}}</span>
                </div>
            </div>
            <div class="page-header float-right cursor_pointer" (click)="showAll()" *ngIf="isFavoutite">
                <div class="page-title d-flex end_just mt-3">
                    <i class="fa fa-star star-css star-css-color"></i>
                    <span class="mt-1 ml-1 see-fav">See All</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="tabbed round">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation" *ngIf="isOrangeLearningRelated()">
                    <a class="nav-link" [ngClass]="{ 'active':activeTab==='pills-home'}" id="pills-home-tab" (click)="activeTabChange('pills-home')" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">{{lableConstant.learning_request}}</a>
                </li>
                <li class="nav-item" role="presentation" *ngIf="isLearningAndDevelopment()">
                    <a class="nav-link" id="pills-profile-tab"  [ngClass]="{ 'active':activeTab==='pills-profile'}"  (click)="activeTabChange('pills-profile')" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">{{lableConstant.ld_request}}</a>
                </li>
                <!--   *ngIf="isPdlMember" -->
                <li class="nav-item" role="presentation" *ngIf="isPdlMemberTab()">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" [ngClass]="{ 'active':activeTab==='pills-contact'}"  (click)="activeTabChange('pills-contact')"  href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">{{lableConstant.internal_tools}}</a>
                </li>
            </ul>
        </div>

        <div class="tab-content border-0" id="pills-tabContent">
            <div class="tab-pane fade" [ngClass]="{ 'show active':activeTab==='pills-home'}" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">
                    <ng-container *ngFor="let item of modulesArray_tab1">
                        <div class="col-md-3 col-sm-12 mb-2" *ngIf="item.showFavourite">
                            <a [routerLink]="[item.routerLink]">
                                <div class="img_div ">
                                    <img [src]=item.image />
                                </div>
                                <div class="text_div_sec ">
                                    <a [routerLink]="[item.routerLink]"
                                        class="create_course color-orange">{{item.lableConstantModule}}</a>

                                    <p class="p__text_divcss text-center " data-toggle="tooltip" data-placement="top"
                                        title=" {{item.lableConstantCatalog}}">
                                        {{item.lableConstantCatalog}}
                                    </p>
                                </div>
                            </a>
                            <div class="sec_footer">
                                <div class="footer_sec_ano" (click)="navigatetoPending(item.navigateTo)">
                                    <button>
                                        <p class="footer_p"
                                            [ngClass]="{'backgound_green': item.pendingRequestCount === 0}">
                                            {{item.pendingRequestCount}}</p>
                                    </button>
                                    <span class="text_white">{{lableConstant.pending}}</span>
                                </div>
                                <div class="p-2 bd-highlight ">
                                    <a (click)="sendEmail('item.routerLink')">
                                        <img src="../../assets/images/share.png " class="mr-2 w_22" />
                                    </a>
                                    <a (click)="setFavourite(item)">
                                        <img *ngIf="!item.favourite" src="../../assets/images/star.png "
                                            class="width_22" />
                                        <img src="../../assets/images/yellow_star.png " *ngIf="item.favourite"
                                            class="width_22" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="tab-pane fade" [ngClass]="{ 'show active':activeTab==='pills-profile'}" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="row">
                    <ng-container *ngFor="let item of modulesArray_tab2">
                        <div class="col-md-3 col-sm-12 mb-2" *ngIf="item.showFavourite">
                            <a [routerLink]="[ item.routerLink] ">
                                <div class="img_div ">
                                    <img [src]=item.image />
                                </div>
                                <div class="text_div_sec ">
                                    <a [routerLink]="[item.routerLink]"
                                        class="create_course color-orange">{{item.lableConstantModule}}</a>

                                    <p class="p__text_divcss text-center " data-toggle="tooltip" data-placement="top"
                                        title=" {{item.lableConstantCatalog}}">
                                        {{item.lableConstantCatalog}}
                                    </p>
                                </div>
                            </a>
                            <div class="sec_footer">
                                <div class="footer_sec_ano" (click)="navigatetoPending(item.navigateTo)">
                                    <button>
                                        <p class="footer_p"
                                            [ngClass]="{'backgound_green': item.pendingRequestCount === 0}">
                                            {{item.pendingRequestCount}}</p>
                                    </button>
                                    <span class="text_white">{{lableConstant.pending}}</span>
                                </div>
                                <div class="p-2 bd-highlight ">
                                    <a (click)="sendEmail('item.routerLink')">
                                        <img src="../../assets/images/share.png " class="mr-2 w_22" />
                                    </a>
                                    <a (click)="setFavourite(item)">
                                        <img *ngIf="!item.favourite" src="../../assets/images/star.png "
                                            class="width_22" />
                                        <img src="../../assets/images/yellow_star.png " *ngIf="item.favourite"
                                            class="width_22" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="tab-pane fade" [ngClass]="{ 'show active':activeTab==='pills-contact'}" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="row">
                    <ng-container *ngFor="let item of modulesArray_tab3">
                        <div class="col-md-3 col-sm-12 mb-2" *ngIf="item.showFavourite">
                            <a [routerLink]="[ item.routerLink] ">
                                <div class="img_div ">
                                    <img [src]=item.image />
                                </div>
                                <div class="text_div_sec ">
                                    <a [routerLink]="[ '/dashboard/cct'] "
                                        class="create_course color-orange">{{item.lableConstantModule}}</a>

                                    <p class="p__text_divcss text-center " data-toggle="tooltip" data-placement="top"
                                        title=" {{item.lableConstantCatalog}}">
                                        {{item.lableConstantCatalog}}
                                    </p>
                                </div>
                            </a>
                            <div class="sec_footer">
                                <div class="footer_sec_ano" (click)="navigatetoPending(item.navigateTo)">
                                    <button>
                                        <p class="footer_p"
                                            [ngClass]="{'backgound_green': item.pendingRequestCount === 0}">
                                            {{item.pendingRequestCount}}</p>
                                    </button>
                                    <span class="text_white">{{lableConstant.pending}}</span>
                                </div>
                                <div class="p-2 bd-highlight ">
                                    <a (click)="sendEmail(item.name)">
                                        <img src="../../assets/images/share.png " class="mr-2 w_22" />
                                    </a>
                                    <a (click)="setFavourite(item)">
                                        <img *ngIf="!item.favourite" src="../../assets/images/star.png "
                                            class="width_22" />
                                        <img src="../../assets/images/yellow_star.png " *ngIf="item.favourite"
                                            class="width_22" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal_conten_width">
            <div class="modal-header">
                <h5 class="modal-title fon_15" id="exampleModalLabel">{{lableConstant.get_a_report}}</h5>
                <!-- Boosted mod: using visually hidden text instead of aria-label -->
                <button type="button" class="close close_widhei" data-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <p class="fon_15 text-center">
                    {{lableConstant.request_training_vc_report}}</p>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal_conten_width">
            <div class="modal-header">
                <h5 class="modal-title fon_15" id="exampleModalLabel1">{{lableConstant.access_learning_tool}}</h5>
                <!-- Boosted mod: using visually hidden text instead of aria-label -->
                <button type="button" class="close close_widhei" data-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <p class="fon_15 text-center">
                    {{lableConstant.dna_tool_feature}}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal_conten_width">
            <div class="modal-header">
                <h5 class="modal-title fon_15" id="exampleModalLabel2">{{lableConstant.sme_database}}</h5>
                <!-- Boosted mod: using visually hidden text instead of aria-label -->
                <button type="button" class="close close_widhei" data-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <p class="fon_15 text-center">{{lableConstant.sme_learning_community_feature}}</p>
            </div>
        </div>
    </div>
</div>