<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left">
                <div class="page-title d-flex align-items-center">
                    <img src="../../assets/images/first.jpg" class="home_Css_img">
                    <div class="d-flex flex-column ml-3 mt-6 ">
                        <span class="breade_text_span1">{{lableConstant.dashboard}}</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">{{lableConstant.development_customer_service}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 float-right ">
            <div class="page-header float-right" (click)="getFavouriteList()">
                <div class="page-title d-flex end_just mt-3">
                    <i class="fa fa-star star-css"></i>
                    <span class="mt-1 ml-1 see-fav" >{{lableConstant.see_favourites}}</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="tabbed round ">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">{{lableConstant.learning_request}}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">{{lableConstant.ld_request}}</a>
                </li>
                <li class="nav-item" role="presentation" *ngIf="isPdlMember">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">{{lableConstant.internal_tools}}</a>
                </li>
            </ul>
        </div>
        <div class="tab-content border-0" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="course_box ">
                    <div class="course_box_child">
                        <div>
                            <a [routerLink]="[ '/dashboard/cources'] ">
                                <div class="img_div ">
                                    <img src="../../assets/images/first.jpg " />
                                </div>
                                <div class="text_div_sec ">
                                    <a [routerLink]="[ '/dashboard/cources'] "
                                        class="create_course color-orange">{{lableConstant.create_new_course}}</a>

                                    <p class="p__text_divcss text-center " data-toggle="tooltip" data-placement="top"
                                        title=" {{lableConstant.request_course_catalog}}">
                                        {{lableConstant.request_course_catalog}}
                                    </p>
                                </div>
                            </a>
                            <div class="sec_footer ">
                                <div class="footer_sec_ano">
                                    <button [disabled]="pendingFlag" (click)="navigatetoPending('pending')">
                                        <p class="footer_p"
                                            [ngClass]="{'backgound_green': pendingRequestCount.course_pending === 0}">
                                            {{pendingRequestCount.course_pending}}</p>
                                    </button>
                                    <span class="text_white">{{lableConstant.pending}}</span>
                                </div>
                                <div class="p-2 bd-highlight ">
                                    <a (click)="sendEmail('/dashboard/cources')">
                                      <img src="../../assets/images/share.png " class="mr-2 w_22" />
                                    </a>
                                    <a (click)="getFavourite()">
                                        <img src="../../assets/images/star.png " class="w_22" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course_box_child">
                        <a [routerLink]="[ '/dashboard/sct'] ">
                            <div class="img_div ">
                                <img src="../../assets/images/Open course session.jpg " />
                            </div>
                            <div class="text_div_sec ">
                                <a [routerLink]="[ '/dashboard/sct'] "
                                    class="create_course ">{{lableConstant.open_course_session}}
                                </a>
                                <p class="p__text_divcss text-center " data-toggle="tooltip" data-placement="top"
                                    title="   {{lableConstant.request_create_session}}">
                                    {{lableConstant.request_create_session}}
                                </p>
                            </div>
                        </a>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <button [disabled]="pendingFlag" (click)="navigatetoPending('pending')">
                                    <p class="footer_p"
                                        [ngClass]="{'backgound_green': pendingRequestCount.session_pending === 0}">
                                        {{pendingRequestCount.session_pending}}</p>
                                </button>
                                <span class="text_white">{{lableConstant.pending}}</span>
                            </div>
                            <div class="p-2 bd-highlight ">
                                <a (click)="sendEmail('/dashboard/sct')">
                                 <img src="../../assets/images/share.png " class="mr-2 width_22" />
                                </a>
                                <a (click)="getFavourite()">
                                    <img src="../../assets/images/star.png " class="width_22" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="course_box_child">
                        <a [routerLink]="[ '/dashboard/olcarousel'] ">
                            <div class="img_div ">
                                <img src="../../assets/images/Promote on Carousel.jpg" />
                            </div>
                            <div class="text_div_sec ">
                                <a [routerLink]="[ '/dashboard/olcarousel'] "
                                    class="create_course ">{{lableConstant.promote_on_carousel}}
                                </a>
                                <p class="p__text_divcss text-center " data-toggle="tooltip" data-placement="top"
                                    title="  {{lableConstant.request_create_entity}}">
                                    {{lableConstant.request_create_entity}}
                                </p>
                            </div>
                        </a>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <button [disabled]="pendingFlag" (click)="navigatetoPendingCarousel()">
                                    <p class="footer_p"
                                        [ngClass]="{'backgound_green': pendingRequestCount.carousel_pending === 0}">
                                        {{pendingRequestCount.carousel_pending}}</p>
                                </button>
                                <span class="text_white">{{lableConstant.pending}}</span>
                            </div>
                            <div class="p-2 bd-highlight ">
                            <a (click)="sendEmail('/dashboard/olcarousel')">
                              <img src="../../assets/images/share.png " class="mr-2 width_22" />
                            </a>
                              <a (click)="getFavourite()">
                                <img src="../../assets/images/star.png " class="width_22" />
                              </a>
                            </div>
                        </div>
                    </div>
                    <div class="course_box_child">
                        <a [routerLink]="[ '/dashboard/back-office'] ">
                            <div class="img_div ">
                                <img src="../../assets/images/4.jpg " />
                            </div>
                            <div class="text_div_sec ">
                                <a [routerLink]="[ '/dashboard/back-office'] "
                                    class="create_course ">{{lableConstant.request_back_office_role}}
                                </a>
                                <p class="p__text_divcss text-center " data-toggle="tooltip" data-placement="top"
                                    title="  {{lableConstant.request_specific_role}}">
                                    {{lableConstant.request_specific_role}}
                                </p>
                            </div>
                        </a>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano">
                                <button [disabled]="pendingFlag" (click)="navigatetoPendingBackOffice()">
                                    <p class="footer_p"
                                        [ngClass]="{'backgound_green': pendingRequestCount.office_role_pending === 0}">
                                        {{pendingRequestCount.office_role_pending}}</p>
                                </button>
                                <span class="text_white">{{lableConstant.pending}}</span>
                            </div>
                            <div class="p-2 bd-highlight ">
                             <a (click)="sendEmail('/dashboard/back-office')">
                              <img src="../../assets/images/share.png " class="mr-2 width_22" />
                              </a>
                              <a (click)="getFavourite()">
                                <img src="../../assets/images/star.png " class="width_22" />
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="course_box ">
                    <div class="course_box_child">
                        <a>
                            <div class="img_div ">
                                <img src="../../assets/images/Design learning module.jpg" />
                            </div>
                            <div class="text_div_sec ">
                                <a class="create_course ">{{lableConstant.design_learning_module}}</a>
                                <p class="p__text_divcss text-center " data-toggle="tooltip" data-placement="top"
                                    title="  {{lableConstant.request_learning_team}}">
                                    {{lableConstant.request_learning_team}}
                                </p>
                            </div>
                        </a>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <p class="footer_p ">0</p>
                                <span class="text_white">{{lableConstant.pending}}</span>
                            </div>
                            <div class="p-2 bd-highlight ">
                             <a href="mailto:someone@yoursite.com" target="_top">
                              <img src="../../assets/images/share.png " class="mr-2 width_22" />
                            </a>
                              <a (click)="getFavourite()">
                                <img src="../../assets/images/star.png " class="width_22" />
                              </a>
                            </div>
                        </div>
                    </div>
                    <div class="course_box_child ">
                        <a [routerLink]="[ '/dashboard/olreport'] ">
                            <div class="img_div ">
                                <img src="../../assets/images/get a report.jpg" />
                            </div>
                            <div class="text_div_sec ">
                                <a class="create_course"
                                    [routerLink]="[ '/dashboard/olreport'] ">{{lableConstant.get_a_report}}</a>
                                <p class="p__text_divcss text-center d-flex flex-column" data-toggle="tooltip"
                                    data-placement="top" title="  {{lableConstant.request_training_vc_report}}">
                                    {{lableConstant.request_training_vc_report}}
                                </p>
                            </div>
                        </a>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <p class="footer_p ">0</p>
                                <span class="text_white">{{lableConstant.pending}}</span>
                            </div>
                            <div class="p-2 bd-highlight ">
                            <a (click)="sendEmail('/dashboard/olreport')">
                              <img src="../../assets/images/share.png " class="mr-2 width_22" />
                              </a>
                              <a (click)="getFavourite()">
                                <img src="../../assets/images/star.png " class="width_22" />
                              </a>
                            </div>
                        </div>
                    </div>
                    <div class="course_box_child ">
                        <a>
                            <div class="img_div ">
                                <img src="../../assets/images/Access Learning Needs tool(DNA).jpg" />
                            </div>
                            <div class="text_div_sec ">
                                <a href="creatnew.html " class="create_course ">{{lableConstant.access_learning_tool}}
                                </a>
                                <p class="p__text_divcss text-center d-flex flex-column" data-toggle="tooltip"
                                    data-placement="top" title=" {{lableConstant.dna_tool_feature}}">
                                    {{lableConstant.dna_tool_feature}}
                                    <!-- <a  data-toggle="modal" data-target="#exampleModal1" class="text_orange fon_weight_read">
                                    Read More
                                </a>    -->
                                </p>
                            </div>
                        </a>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <p class="footer_p ">0</p>
                                <span class="text_white">{{lableConstant.pending}}</span>
                            </div>
                            <div class="p-2 bd-highlight ">
                             <img src="../../assets/images/share.png " class="mr-2 width_22" />
                             <a (click)="getFavourite()">
                                <img src="../../assets/images/star.png " class="width_22" />
                             </a>
                            </div>
                        </div>
                    </div>
                    <div class="course_box_child ">
                        <a>
                            <div class="img_div ">
                                <img src="../../assets/images/SME_DB.jpg" />
                            </div>
                            <div class="text_div_sec ">
                                <a class="create_course ">{{lableConstant.sme_database}}</a>
                                <p class="p__text_divcss text-center d-flex flex-column" data-toggle="tooltip"
                                    data-placement="top" title="{{lableConstant.sme_learning_community_feature}}">
                                    {{lableConstant.sme_learning_community_feature}}
                                    <!-- <a  data-toggle="modal" data-target="#exampleModal2" class="text_orange fon_weight_read">
                                    Read More
                                </a>  -->
                                </p>
                            </div>
                        </a>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <p class="footer_p ">0</p>
                                <span class="text_white">{{lableConstant.pending}}</span>
                            </div>
                            <div class="p-2 bd-highlight ">
                              <img src="../../assets/images/share.png " class="mr-2 width_22" />
                              <a (click)="getFavourite()">
                                <img src="../../assets/images/star.png " class="width_22" />
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="course_box" >
                    <div class="course_box_child course_box_child_width">
                        <a [routerLink]="[ '/dashboard/vendormanagement'] ">
                            <div class="img_div ">
                                <img src="../../assets/images/manage vendor.jpg" />
                            </div>
                            <div class="text_div_sec ">
                                <a class="create_course ">{{lableConstant.manage_vendors}}</a>

                                <p class="p__text_divcss text-center " data-toggle="tooltip" data-placement="top"
                                    title="  {{lableConstant.view_manage_workshops}}">
                                    {{lableConstant.view_manage_workshops}}
                                </p>
                            </div>
                        </a>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <p class="footer_p ">2</p>
                                <span class="text_white">{{lableConstant.pending}}</span>
                            </div>
                            <div class="p-2 bd-highlight ">
                              <img src="../../assets/images/share.png " class="mr-2 width_22" />
                              <a (click)="getFavourite()">
                                <img src="../../assets/images/star.png " class="width_22" />
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal_conten_width">
            <div class="modal-header">
                <h5 class="modal-title fon_15" id="exampleModalLabel">{{lableConstant.get_a_report}}</h5>
                <!-- Boosted mod: using visually hidden text instead of aria-label -->
                <button type="button" class="close close_widhei" data-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <p class="fon_15 text-center">
                    {{lableConstant.request_training_vc_report}}</p>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal_conten_width">
            <div class="modal-header">
                <h5 class="modal-title fon_15" id="exampleModalLabel1">{{lableConstant.access_learning_tool}}</h5>
                <!-- Boosted mod: using visually hidden text instead of aria-label -->
                <button type="button" class="close close_widhei" data-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <p class="fon_15 text-center">
                    {{lableConstant.dna_tool_feature}}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal_conten_width">
            <div class="modal-header">
                <h5 class="modal-title fon_15" id="exampleModalLabel2">{{lableConstant.sme_database}}</h5>
                <!-- Boosted mod: using visually hidden text instead of aria-label -->
                <button type="button" class="close close_widhei" data-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <p class="fon_15 text-center">{{lableConstant.sme_learning_community_feature}}</p>
            </div>
        </div>
    </div>
</div>