<div id="right-panel" class="right-panel">
    <!-- Header-->
    <app-header></app-header>
    <!-- /header -->
    <!-- Header-->
    
    <div class="breadcrumbs cm_breadcums">
        
        <div class="col-sm-8">
            <div class="page-header float-left">
                <div class="page-title d-flex align-items-center">
                    <img src="../../assets/images/first.jpg" class="home_Css_img">
                    <div class="d-flex flex-column ml-3 mt-6 ">
                        <span class="breade_text_span1">Dashboard </span>
                        <span class="divider"></span>
                        <span class="breade_text_span">People Development &amp; Learning Strives on
                            Providing you with
                            the best customer service we can drive</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 float-right ">
            <div class="page-header float-right ">
                <div class="page-title d-flex end_just mt-3">
                    <i class="fa fa-star star-css "></i>
                    <span class="mt-1 ml-1 see-fav ">See Your Favourites </span>
                </div>
            </div>
        </div>
    </div>
   
    <div>
        <div class="tabbed round ">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Orange Learning related request</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> Learning and Development request</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"> PD&L internal tools</a>
                </li>
            </ul>
        </div>
        <div class="tab-content border-0" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="course_box ">
                    <div class="course_box_child">
                        <div>
                            <div class="img_div ">
                                <img src="../../assets/images/first.jpg "/>
                            </div>
                            <div class="text_div_sec ">
                                <a [routerLink]="[ '/dashboard/cources'] " class="create_course color-orange">Create new course</a>

                                <p class="p__text_divcss text-center ">
                                    Request the creation of a new learning object (course) in the Orange Learning catalog.
                                </p>

                                <!--text_div_sec-->
                            </div>
                           
                            <div class="sec_footer ">
                              
                                <div class="footer_sec_ano" >
                                   <button [disabled]="pendingFlag" (click)="navigatetoPending('pending')">
                                    <p class="footer_p" [ngClass]="{'backgound_green': pendingRequestCount === 0}">{{pendingRequestCount}}</p>
                                   </button>
                                    <span class="text_white">Pending</span>
                                </div>
                               
                          

                                <div class="p-2 bd-highlight ">
                                    <img src="../../assets/images/share.png " class="mr-2 w_22" />
                                    <img src="../../assets/images/star.png " class="w_22" />
                                </div>
                            </div>
                            <!--sec_footer-->
                        </div>
                        <!--maindiv-->
                    </div>
                    <!--cole end-->
                    <div class="course_box_child">
                        <div class="img_div ">
                            <img src="../../assets/images/second.jpg " />
                        </div>
                        <div class="text_div_sec ">
                            <a  [routerLink]="[ '/dashboard/open'] " class="create_course ">Open course session (s)
                            </a>

                            <p class="p__text_divcss text-center ">
                                Request the creation of one or more sessions in Orange Learning.
                            </p>

                            <!--text_div_sec-->
                        </div>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <p class="footer_p ">2</p>
                                <span class="text_white">Pending</span>
                            </div>

                            <div class="p-2 bd-highlight ">
                                <img src="../../assets/images/share.png " class="mr-2 width_22" />
                                <img src="../../assets/images/star.png " class="width_22" />
                            </div>
                        </div>
                        <!--sec_footer-->
                    </div>
                    <!--cole end-->
                    <div class="course_box_child">
                        <div class="img_div ">
                            <img src="../../assets/images/3.jpg " />
                        </div>
                        <div class="text_div_sec ">
                            <a [routerLink]="[ '/dashboard/olcarousel'] " class="create_course ">Promote on Carousel
                            </a>

                            <p class="p__text_divcss text-center ">
                                Request the creation of a new entry in the Orange Learning Carousel.
                            </p>

                            <!--text_div_sec-->
                        </div>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <button [disabled]="pendingFlag" (click)="navigatetoPending('pending')">
                                    <p class="footer_p" [ngClass]="{'backgound_green': pendingRequestCount === 0}">{{pendingRequestCount}}</p>
                                   </button>
                                <span class="text_white">Pending</span>
                            </div>

                            <div class="p-2 bd-highlight ">
                                <img src="../../assets/images/share.png " class="mr-2 width_22" />
                                <img src="../../assets/images/star.png " class="width_22" />
                            </div>
                        </div>
                        <!--sec_footer-->
                    </div>
                    <!--cole end-->
                    <div class="course_box_child">
                        <div class="img_div ">
                            <img src="../../assets/images/4.jpg " />
                        </div>
                        <div class="text_div_sec ">
                            <a [routerLink]="[ '/dashboard/back-office'] " class="create_course ">Request back-office role
                            </a>

                            <p class="p__text_divcss text-center ">
                                Request a specific Orange Learning role.
                            </p> 

                            <!--text_div_sec-->
                        </div>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <p class="footer_p ">2</p>
                                <span class="text_white">Pending</span>
                            </div>

                            <div class="p-2 bd-highlight ">
                                <img src="../../assets/images/share.png "class="mr-2 width_22" />
                                <img src="../../assets/images/star.png " class="width_22" />
                            </div>
                        </div>
                        <!--sec_footer-->
                    </div>
                    <!--cole end-->
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="course_box ">
                    <div class="course_box_child ">
                        <div class="img_div ">
                            <img src="../../assets/images/5.png "/>
                        </div>
                        <div class="text_div_sec ">
                            <a class="create_course ">Design learning odule</a>

                            <p class="p__text_divcss text-center ">
                                Request the creation of a new learning object (course) in the Orange Learning catalog.
                            </p>

                            <!--text_div_sec-->
                        </div>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <p class="footer_p ">2</p>
                                <span class="text_white">Pending</span>
                            </div>

                            <div class="p-2 bd-highlight ">
                                <img src="../../assets/images/share.png " class="mr-2 width_22" />
                                <img src="../../assets/images/star.png " class="width_22" />
                            </div>
                        </div>
                        <!--sec_footer-->
                    </div>
                    <!--cole end-->
                    <div class="course_box_child ">
                        <div class="img_div ">
                            <img src="../../assets/images/6.png " />
                        </div>
                        <div class="text_div_sec ">
                            <a class="create_course ">Get a Report </a>

                            <p class="p__text_divcss text-center ">
                                Request the creation of one or more sessions in Orange Learning.
                            </p>

                            <!--text_div_sec-->
                        </div>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <p class="footer_p ">2</p>
                                <span class="text_white">Pending</span>
                            </div>

                            <div class="p-2 bd-highlight ">
                                <img src="../../assets/images/share.png " class="mr-2 width_22" />
                                <img src="../../assets/images/star.png " class="width_22" />
                            </div>
                        </div>
                        <!--sec_footer-->
                    </div>
                    <!--cole end-->
                    <div class="course_box_child ">
                        <div class="img_div ">
                            <img src="../../assets/images/7.png "/>
                        </div>
                        <div class="text_div_sec ">
                            <a href="creatnew.html " class="create_course ">Access Learning Needs tool(DNA)
                            </a>

                            <p class="p__text_divcss text-center ">
                                Request the creation of a new entry in the Orange Learning Carousel.
                            </p>

                            <!--text_div_sec-->
                        </div>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <p class="footer_p ">2</p>
                                <span class="text_white">Pending</span>
                            </div>

                            <div class="p-2 bd-highlight ">
                                <img src="../../assets/images/share.png " class="mr-2 width_22" />
                                <img src="../../assets/images/star.png " class="width_22" />
                            </div>
                        </div>
                        <!--sec_footer-->
                    </div>
                    <!--cole end-->
                    <div class="course_box_child ">
                        <div class="img_div ">
                            <img src="../../assets/images/8.png " />
                        </div>
                        <div class="text_div_sec ">
                            <a class="create_course ">SME Database </a>

                            <p class="p__text_divcss text-center ">
                                Request a specific Orange Learning role.
                            </p>

                            <!--text_div_sec-->
                        </div>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <p class="footer_p ">2</p>
                                <span class="text_white">Pending</span>
                            </div>

                            <div class="p-2 bd-highlight ">
                                <img src="../../assets/images/share.png " class="mr-2 width_22" />
                                <img src="../../assets/images/star.png " class="width_22" />
                            </div>
                        </div>
                        <!--sec_footer-->
                    </div>
                    <!--cole end-->
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="course_box " >
                    <div class="course_box_child ">
                        <div class="img_div ">
                            <img src="../../assets/images/9.png "  />
                        </div>
                        <div class="text_div_sec ">
                            <a class="create_course ">Manage Vendors</a>

                            <p class="p__text_divcss text-center ">
                                Request the creation of a new learning object (course) in the Orange Learning catalog.
                            </p>

                            <!--text_div_sec-->
                        </div>
                        <div class="sec_footer ">
                            <div class="footer_sec_ano ">
                                <p class="footer_p ">2</p>
                                <span class="text_white">Pending</span>
                            </div>
                            <div class="p-2 bd-highlight ">
                                <img src="../../assets/images/share.png " class="mr-2 width_22" />
                                <img src="../../assets/images/star.png " class="width_22" />
                            </div>
                        </div>
                        <!--sec_footer-->
                    </div>
                    <!--cole end-->
                </div>
            </div>
        </div>
    </div>


</div>