<div id="right-panel" class="right-panel">
    <app-header></app-header>
  
    <div class="breadcrumbs cm_breadcums">
      <div class="col-sm-8">
        <div class="page-header float-left bac_trasparent">
          <div class="page-title d-flex align-items-center">
            <img src="../../../../assets/images/first.jpg" class="home_Css_img" />
            <div class="d-flex flex-column ml-3">
              <span class="breade_text_span1">label</span>
              <span class="divider"></span>
              <span class="breade_text_span">label</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-sm-4 float-right">
        <div class="page-header float-right bac_trasparent">
          <div class="page-title d-flex end_just">
            <ol class="breadcrumb text-right bac_trasparent">
              <li>
                <a [routerLink]="['/dashboard']">
                  <i class="fa fa-home text_white"></i>
                </a>
              </li>
              <li>
                <a [routerLink]="['/dashboard']" class="text_white">label</a>
              </li>
              <li>
                <span class="text_white span_dis">label</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- Button trigger modal -->
    <div class="content mt-2">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header cm-card-header">
                            <div class="overall_css">
                              <h4 class="mb-0"><span class="text_orange mr-1">New Request:</span> <span class="color-black">Create a Orange Learning test </span></h4>
                                
                            </div>
                        </div>
                        <div class="card-body card_course_body mt-2">
                          <div class="row">
                            <div class="col-sm-12">
                                <div class="d-flex align-items-center">
                                    <div class="form-group w-100">
                                        <label class="form-control-label">
                                          Test Name <span class="text_red">* </span>
                                            <a>
                                                <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                    data-bs-toggle="tooltip" placement="right"
                                                    ngbTooltip=""></i>
                                            </a>
                                        </label>
                                        <input type="text" placeholder="Enter Title"
                                            class="form-control form_width" formControlName="title_single" />
  
                                        <div class="error_message">
                                           
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                              <div class="d-flex align-items-center">
                                  <div class="form-group w-100">
                                      <label class="form-control-label">
                                        Test Description <span class="text_red">* </span>
                                          <a>
                                              <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                  data-bs-toggle="tooltip" placement="right"
                                                  ngbTooltip=""></i>
                                          </a>
                                      </label>
                                      <input type="text" placeholder="Enter Title"
                                          class="form-control form_width" formControlName="title_single" />
  
                                      <div class="error_message">
                                         
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="d-flex align-items-center">
                                  <div class="form-group w-100">
                                      <label class="form-control-label">
                                        Training Hours / Duration <span class="text_red">* </span>
                                          <a>
                                              <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                  data-bs-toggle="tooltip" placement="right"
                                                  ngbTooltip=""></i>
                                          </a>
                                      </label>
                                      <input type="text" placeholder="Enter Title"
                                          class="form-control form_width" formControlName="title_single" />
  
                                      <div class="error_message">
                                         
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <div class="form-group w-100">
                                    <label class="form-control-label">
                                      Test duration [HH:MM:SS] <span class="text_red">* </span>
                                        <a>
                                            <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                data-bs-toggle="tooltip" placement="right"
                                                ngbTooltip=""></i>
                                        </a>
                                    </label>
                                    <input type="text" placeholder="Enter Title"
                                        class="form-control form_width" formControlName="title_single" />
  
                                    <div class="error_message">
                                       
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="d-flex align-items-center">
                              <div class="form-group w-100">
                                  <label class="form-control-label">
                                    Questions attempts allowed <span class="text_red">* </span>
                                      <a>
                                          <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                              data-bs-toggle="tooltip" placement="right"
                                              ngbTooltip=""></i>
                                      </a>
                                  </label>
                                  <input type="text" placeholder="Enter Title"
                                      class="form-control form_width" formControlName="title_single" />
  
                                  <div class="error_message">
                                     
                                  </div>
                              </div>
                              
                          </div>
                      </div>
  
  
  
  
                          <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <div class="form-group w-100">
                                    <label class="form-control-label">
                                      Question submission  <span class="text_red">* </span>
                                        <a>
                                            <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                                data-bs-toggle="tooltip" placement="right"
                                                ngbTooltip=""></i>
                                        </a>
                                    </label>
                                    <ng-select placeholder="Please select subject" 
                                                  formControlName="subject" class="w_100">
                                              </ng-select>
  
                                    <div class="error_message">
                                       
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="d-flex align-items-center">
                              <div class="form-group w-100">
                                  <label class="form-control-label">
                                    Allow Review After Every Attempt  <span class="text_red">* </span>
                                      <a>
                                          <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                              data-bs-toggle="tooltip" placement="right"
                                              ngbTooltip=""></i>
                                      </a>
                                  </label>
                                  <ng-select placeholder="Please select subject" 
                                                formControlName="subject" class="w_100">
                                            </ng-select>
  
                                  <div class="error_message">
                                     
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="form-group w-100">
                                <label class="form-control-label">
                                  Timer  <span class="text_red">* </span>
                                    <a>
                                        <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                            data-bs-toggle="tooltip" placement="right"
                                            ngbTooltip=""></i>
                                    </a>
                                </label>
                                <ng-select placeholder="Please select subject" 
                                              formControlName="subject" class="w_100">
                                          </ng-select>
  
                                <div class="error_message">
                                   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="d-flex align-items-center">
                          <div class="form-group w-100">
                              <label class="form-control-label">
                                Do you wish to randomize Sections?  <span class="text_red">* </span>
                                  <a>
                                      <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                          data-bs-toggle="tooltip" placement="right"
                                          ngbTooltip=""></i>
                                  </a>
                              </label>
                              <ng-select placeholder="Please select subject" 
                                            formControlName="subject" class="w_100">
                                        </ng-select>
  
                              <div class="error_message">
                                 
                              </div>
                          </div>
                          
                      </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="form-group w-100">
                            <label class="form-control-label">
                              Number of attempts  <span class="text_red">* </span>
                                <a>
                                    <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                        data-bs-toggle="tooltip" placement="right"
                                        ngbTooltip=""></i>
                                </a>
                            </label>
                            <ng-select placeholder="Please select subject" 
                                          formControlName="subject" class="w_100">
                                      </ng-select>
  
                            <div class="error_message">
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-6">
                  <div class="d-flex align-items-center">
                      <div class="form-group w-100">
                        <div class="d-flex">
                        <input type="checkbox" aria-label="Checkbox for following text input chekbox_ol">
                          <label class="form-control-label">
                            Time to complete the quiz [MM:SS] <span class="text_red">* </span>
                              <a>
                                  <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                      data-bs-toggle="tooltip" placement="right"
                                      ngbTooltip=""></i>
                              </a>
                          </label>
                          </div>
                          <input type="text" placeholder="Enter Title"
                              class="form-control form_width" formControlName="title_single" />
  
                          <div class="error_message">
                             
                          </div>
                      </div>
                      
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="d-flex align-items-center">
                      <div class="form-group w-100">
                        
                          <label class="form-control-label">
                            Language<span class="text_red">* </span>
                              <a>
                                  <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                      data-bs-toggle="tooltip" placement="right"
                                      ngbTooltip=""></i>
                              </a>
                          </label>
                         
                          <input type="text" placeholder="Enter Title"
                              class="form-control form_width" formControlName="title_single" />
  
                          <div class="error_message">
                             
                          </div>
                      </div>
                      
                  </div>
              </div>
  
  
  
  
                 
  
  
  
  
  
  
  
  
  
  
                        
                      </div>
                    </div>
  
                   
                    <div class="card-footer">
                      <button class="btn btn-primary">Next</button>
                      </div>
                </div>
                <div class="card">
                  <div class="card-header cm-card-header">
                      <div class="overall_css d-flex">
                        <h4 class="mb-0 mr-2"> <span class="color-black font_bold">Scoring Type </span></h4>
                        <input type="radio" aria-label="Radio button for following text input" class="chekbox_ol">
                        <label class="color-black fon_14 mr-1">By passing score
                        </label>
                        <input type="radio" aria-label="Radio button for following text input" class="chekbox_ol">
                        <label class="color-black fon_14">By passing score
                        </label>
                          
                      </div>
                  </div>
                  <div class="card-body card_course_body mt-2">
                    <div class="row">
                      <div class="col-sm-6">
                          <div class="d-flex align-items-center">
                              <div class="form-group w-100">
                                  <label class="form-control-label">
                                    Passing Score (%))
                                    <span class="text_red">* </span>
                                      <a>
                                          <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                              data-bs-toggle="tooltip" placement="right"
                                              ngbTooltip=""></i>
                                      </a>
                                  </label>
                                  <input type="text" placeholder="Enter Title"
                                      class="form-control form_width" formControlName="title_single" />
  
                                  <div class="error_message">
                                     
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="form-group w-100">
                                <label class="form-control-label">
                                  Passed
  
                                  <span class="text_red">* </span>
                                    <a>
                                        <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                            data-bs-toggle="tooltip" placement="right"
                                            ngbTooltip=""></i>
                                    </a>
                                </label>
                                <input type="text" placeholder="Enter Title"
                                    class="form-control form_width" formControlName="title_single" />
  
                                <div class="error_message">
                                   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="d-flex align-items-center">
                          <div class="form-group w-100">
                              <label class="form-control-label">
                                Failed
                                <span class="text_red">* </span>
                                  <a>
                                      <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                          data-bs-toggle="tooltip" placement="right"
                                          ngbTooltip=""></i>
                                  </a>
                              </label>
                              <input type="text" placeholder="Enter Title"
                                  class="form-control form_width" formControlName="title_single" />
  
                              <div class="error_message">
                                 
                              </div>
                          </div>
                          
                      </div>
                  </div>
                    </div>
                    </div>
                    
            </div>
        </div>
    </div>
  
  
  </div>
  
  