.das_header_card{
    background-color: #fff  !important;
  }
  .das_header_card .card-title{
    color: #000 !important;
    font-size: 13px;
  }
  .form_width_dash {
    width: 100%;
    padding: 8px !important;
    background: #ffff !important;
    height: 29px !important;
    border-radius: 4px !important;
    border: 1px solid #ced4da !important;
    font-size: 12px;
  }
  .manger_name{
    background: green;
    padding: 3px 15px;
    color: #fff;
    border-radius: 5px;
    font-size: 11px;
    margin-bottom: 7px;
  }
  .bac_card_total{
  background-color: #ff7900;
  }
  .bac_card_pen{
    background: #ffd200;
  }
  .bac_card_closed{
    background-color: #50be87;
  }
  .bac_card_parti{
  background-color: #4bb4e6;
  }
  .bac_card_total_deafult{
    background-color: grey !important;
  }
  .bac_card_total_deafult1{
    background-color: #ccc !important;
  }
  
  .bac_card_total_deafult2{
    background-color: #eee !important;
  }
  
  .bell_noti{
    color: #999 !important;
      font-size: 26px;
  }
  .def_bell_text{
    color: #000;
    font-size: 13px;
    padding: 1px 17px;
    margin-top: -12px;
  }
  .imae_card_pen{
    width: 29px;
    
  }
  .card_footer_dash{
    background: #00000036;
    padding: 6px 14px;
    border-radius: 5px;
    border-color: #00000000;
  }
  
  .card_footer_dash p{
    margin-bottom: 0px;
    color: #fff !important;
    font-size: 15px;
  }
  
  .rotaete_text li {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    background: dodgerblue;
    margin: 0 1em;
    display: inline-block;
    color: white;
    position: relative;
  }
  
  .rotaete_text li::before {
    content: '';
    position: absolute;
    top: .9em;
    left: -4em;
    width: 4em;
    height: .2em;
    background: dodgerblue;
    z-index: -1;
  }
  
  .rotaete_text li:first-child::before {
    display: none;
  }
  
  .rotaete_text .active {
    background: dodgerblue;
  }
  
  .rotaete_text .active ~ li {
    background: lightblue;
  }
  
  .rotaete_text .active ~ li::before {
    background: lightblue;
  }
  
  .rotaete_text{
    transform: rotate(91deg);
      position: relative;
      top: 75px;
  }