.das_header_card{
    background-color: #fff  !important;
  }
  .das_header_card .card-title{
    color: #000 !important;
    font-size: 13px;
  }
  .form_width_dash {
    width: 100%;
    padding: 8px !important;
    background: #ffff !important;
    height: 29px !important;
    border-radius: 4px !important;
    border: 1px solid #ced4da !important;
    font-size: 12px;
  }
 .table_height_scroll{
   width: 1277px;
    overflow-x: auto;
   }
  .manger_name{
    background: green;
    padding: 3px 15px;
    color: #fff;
    border-radius: 5px;
    font-size: 11px;
    margin-bottom: 7px;
  }
  .bac_card_total{
  background-color: #ff7900;
  }
  .bac_card_pen{
    background: #ffd200;
  }
  .bac_card_closed{
    background-color: #50be87;
  }
  .bac_card_parti{
  background-color: #4bb4e6;
  }
  .bac_card_total_deafult{
    background-color: grey !important;
  }
  .bac_card_total_deafult1{
    background-color: #ccc !important;
  }
  
  .bac_card_total_deafult2{
    background-color: #eee !important;
  }
  
  .bell_noti{
    color: #999 !important;
      font-size: 26px;
  }
  .def_bell_text{
    color: #000;
    font-size: 13px;
    padding: 1px 17px;
    margin-top: -12px;
  }
  .imae_card_pen{
    width: 29px;
    
  }
  .card_footer_dash{
    background: #00000036;
    padding: 6px 14px;
    border-radius: 5px;
    border-color: #00000000;
  }
  
  .card_footer_dash p{
    margin-bottom: 0px;
    color: #fff !important;
    font-size: 15px;
  }
  
  
 

  .top_circle{background: red;
    padding: 10px;
    width: 11px;
    border-radius: 50px;
    margin: 10px;
    height: 11px;}
	
	.line_hieght{
	position: relative;
    border-left: 1px solid red;
    margin: 10px;
    padding: 10px;
    top: -15px;
    left: 10px;
    height: 115px;}
	.mt_26_minus{
	margin-top:-26px;}
  