<div class="card mb-0">
    <div class="card-header color-orange">
        <div class="d-flex justify-content-between">
            Forward Request
            <a (click)="closeModal()"><i class="fa fa-times color-black" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title" style="font-size: 0.9rem;">
            <b class="color-orange">({{objectDetail.request_id}})</b>
        </h5>
        <form [formGroup]="publishCarouselForm">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-control-label">
                        Publisher <span class="text-danger-ligth">* </span>
                        <a>
                            <i class="fa fa-info-circle info_circle" aria-hidden="true"
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Provide the date on which this entry should be removed from the Orange Learning Carousel. If the Expiry Date is unknown, the entry will be available in the Carousel for a maximum of 3 months."></i>
                        </a>
                    </label>
                    <select class="form-control form_width" formControlName="publisher_id">
                        <option value="">Please Select Publisher</option>
                        <option *ngFor="let publisher of carouselPublisher"
                            [value]="publisher.id">
                            {{ publisher.first_name }} {{publisher.last_name}}
                        </option>
                    </select>
                    <div
                        *ngIf="(publishCarouselForm.controls['publisher_id'].invalid && (publishCarouselForm.controls['publisher_id'].dirty || publishCarouselForm.controls['publisher_id'].touched)) || isSubmitted">
                        <div class="error_message"
                            *ngIf="publishCarouselForm.controls['publisher_id'].errors?.required">
                            Publisher cannot be blank
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary mr-1" type="submit" (click)="transferToPublisher()">Publish</button>
        <button class="btn btn-secondary" type="submit" (click)="closeModal()">Cancel</button>
    </div>
</div>