<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/second.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">Gold tool request</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">{{lableConstant.request_create_session}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="page-header float-right">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a [routerLink]="['/']" class="text_white">
                                <i class="fa fa-home" aria-colcount=""></i> {{lableConstant.home}}
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/gold-tool']" class="text_white">Gold Tool Request</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card_header_common">
        <div class="d-flex justify-content-between media_creat_couse_col">
            <div class="d-flex align-items-center">

                <img src="../../../../assets/images/formm.png" class="form_img_req" />
                <p class="mt-2 ml-2 mb-2 view-re_css">
                    <span>{{lableConstant.Complete_this_form_and_click_on_the_submit_button}}</span>
                </p>
            </div>
        </div>
    </div>
</div>
<form [formGroup]="createGoldToolForm" enctype="multipart/form-data">
    <div class="content mt-1">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="card">
                        <div class="card-body card_width"> -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Requester Name<span class="text_red">* </span>
                                </label>
                                <input type="text" class="form-control form_width" placeholder="Enter Requester Name"
                                    formControlName="requester_name" disabled>
                                <!-- <div
                                            *ngIf="(createGoldToolForm.controls['requester_name'].invalid && (createGoldToolForm.controls['requester_name'].dirty || createGoldToolForm.controls['requester_name'].touched)) || isSubmitted">
                                            <div class="error_message"
                                                *ngIf="createGoldToolForm.controls['requester_name'].errors?.required">
                                                {{requiredMessage(this.lableConstant.Event_requester_name)}}
                                            </div>
                                        </div> -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Requester Email<span class="text_red">* </span>
                                </label>
                                <input type="text" class="form-control form_width" placeholder="Enter Requester Email"
                                    formControlName="requester_email" disabled>
                                <!-- <div
                                            *ngIf="(createGoldToolForm.controls['requester_email'].invalid && (createGoldToolForm.controls['requester_email'].dirty || createGoldToolForm.controls['requester_email'].touched)) || isSubmitted">
                                            <div class="error_message"
                                                *ngIf="createGoldToolForm.controls['requester_email'].errors?.required">
                                                {{requiredMessage(this.lableConstant.Region_Name)}}
                                            </div>
                                            <div class="error_message"
                                                *ngIf="createGoldToolForm.controls['requester_email'].errors?.invalid">
                                                Email is not valid.
                                            </div>
                                        </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- </div>
                    </div> -->
                    <strong _ngcontent-jet-c125=""> Add following details for each
                        request of required GOLD tool
                    </strong>
                    <div class="mt-3 px-0">
                        <ng-container *ngIf="metadataArray.controls.length > 0">
                            <ngb-accordion #a="ngbAccordion" formArrayName="metadata"
                                *ngFor="let tool of metadataArray.controls; let i = index"
                                activeIds="custom-panel-1">
                                <div class="card">
                                    <div class="ng_container_header">
                                        <ngb-panel id="custom-panel-1">
                                            <ng-template ngbPanelHeader>
                                                <div class="card-header">
                                                    <div class="heeader_button justify-content-end">
                                                        <div class="button_div d-flex">
                                                            <button (click)="copyMetadata(tool.value)"
                                                                class="btn btn-primary btn_creat_session1"><span
                                                                    class="fon_12">+ Copy
                                                                </span>
                                                            </button>
                                                            <button (click)="addMetadata()"
                                                                class="btn btn-success btn_creat_session1"><span
                                                                    class="fon_12">+ Add More
                                                                </span>
                                                            </button>
                                                            <button ngbPanelToggle
                                                                class="btn btn-link btn_minimize p-0"><span>-</span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <ng-template ngbPanelContent>
                                                <div [formGroupName]="i" class="card-body card_width">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    Name<span class="text_red">* </span>
                                                                </label>
                                                                <input type="text" class="form-control form_width"
                                                                    placeholder="Enter Name" formControlName="name">
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['name'].invalid && (metadataArray.controls[i].controls['name'].dirty || metadataArray.controls[i].controls['name'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['name'].errors?.required">
                                                                        {{requiredMessage('Name')}}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    Email addresses for participants<span
                                                                        class="text_red">*
                                                                    </span>
                                                                </label>
                                                                <input type="text" class="form-control form_width"
                                                                    placeholder="Enter Location"
                                                                    formControlName="email_for_participant">
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['email_for_participant'].invalid && (metadataArray.controls[i].controls['email_for_participant'].dirty || metadataArray.controls[i].controls['email_for_participant'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['email_for_participant'].errors?.required">
                                                                        {{requiredMessage('Email addresses for participants')}}
                                                                    </div>
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['email_for_participant'].errors?.pattern">
                                                                        Email is not valid.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    CUID/FTID<span class="text_red">* </span>
                                                                </label>
                                                                <input type="text" class="form-control form_width"
                                                                    placeholder="Enter CUID/FTID"
                                                                    formControlName="cuid_ftid">
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['cuid_ftid'].invalid && (metadataArray.controls[i].controls['cuid_ftid'].dirty || metadataArray.controls[i].controls['cuid_ftid'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['cuid_ftid'].errors?.required">
                                                                        {{requiredMessage('CUID/FTID')}}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    PI<span class="text_red">* </span>
                                                                </label>
                                                                <input type="text" class="form-control form_width"
                                                                    placeholder="Enter PI" formControlName="p1">
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['p1'].invalid && (metadataArray.controls[i].controls['p1'].dirty || metadataArray.controls[i].controls['p1'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['p1'].errors?.required">
                                                                        {{requiredMessage('PI')}}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    Data scope<span class="text_red">* </span>
                                                                </label>
                                                                <input type="text" class="form-control form_width"
                                                                    placeholder="Enter Data scope"
                                                                    formControlName="data_scope">
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['data_scope'].invalid && (metadataArray.controls[i].controls['data_scope'].dirty || metadataArray.controls[i].controls['data_scope'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['data_scope'].errors?.required">
                                                                        {{requiredMessage('Data scope')}}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    Gold level of access<span class="text_red">*
                                                                    </span>
                                                                </label>
                                                                <ng-select
                                                                    placeholder="Please select Gold level of access"
                                                                    [items]="goldLevelAccess" bindLabel="name"
                                                                    bindValue="id" formControlName="gold_level_access"
                                                                    class="w_100">
                                                                </ng-select>
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['gold_level_access'].invalid && (metadataArray.controls[i].controls['gold_level_access'].dirty || metadataArray.controls[i].controls['gold_level_access'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['gold_level_access'].errors?.required">
                                                                        {{requiredMessage('Gold level of access')}}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    HRBP email<span class="text_red">* </span>
                                                                </label>
                                                                <input type="text" class="form-control form_width"
                                                                    placeholder="Enter HRBP email"
                                                                    formControlName="hrbp_email">
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['hrbp_email'].invalid && (metadataArray.controls[i].controls['hrbp_email'].dirty || metadataArray.controls[i].controls['hrbp_email'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['hrbp_email'].errors?.required">
                                                                        {{requiredMessage('HRBP email')}}
                                                                    </div>
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['hrbp_email'].errors?.pattern">
                                                                        Email is not valid.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    Business justification <span class="text_red">*
                                                                    </span>
                                                                </label>
                                                                <textarea class="form-control form_width-textarea"
                                                                    formControlName="business_justification"></textarea>
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['business_justification'].invalid && (metadataArray.controls[i].controls['business_justification'].dirty || metadataArray.controls[i].controls['business_justification'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['business_justification'].errors?.required">
                                                                        {{requiredMessage('Business justification')}}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--row-->
                                                </div>
                                            </ng-template>
                                        </ngb-panel>
                                    </div>
                                </div>
                            </ngb-accordion>
                        </ng-container>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Additional Comments
                                </label>
                                <textarea class="form-control form_width-textarea" rows="3"
                                    formControlName="additional_comment"></textarea>
                            </div>
                        </div>
                        <!--col-->
                    </div>
                    <div class="card-footer1">
                        <button class="btn btn-primary mr-1" type="submit"
                            (click)="createGoldTool('pending')">{{lableConstant.submit}}</button>

                        <button class="btn btn-secondary" (click)="createGoldTool('draft')">
                            {{lableConstant.Save_as_draft}}
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>