<div id="right-panel" class="right-panel">
    <app-header></app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/second.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">Gold access request</span>
                        <span class="divider"></span>
                        <span class="breade_text_span">{{lableConstant.request_create_session}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="page-header float-right">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a [routerLink]="['/']" class="text_white">
                                <i class="fa fa-home" aria-colcount=""></i> {{lableConstant.home}}
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/gold-tool']" class="text_white">Gold access request</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card_header_common">
        <div class="d-flex justify-content-between media_creat_couse_col">
            <div class="d-flex align-items-center">

                <img src="../../../../assets/images/formm.png" class="form_img_req" />
                <p class="mt-2 ml-2 mb-2 view-re_css">
                    <span>{{lableConstant.Complete_this_form_and_click_on_the_submit_button}}</span>
                </p>
            </div>
        </div>
    </div>
</div>
<form [formGroup]="createGoldToolForm" enctype="multipart/form-data">
    <div class="content mt-1">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="card">
                        <div class="card-body card_width"> -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Requester Name<span class="text_red">* </span>
                                </label>
                                <input type="text" class="form-control form_width" placeholder="Enter Requester Name"
                                    formControlName="requester_name" disabled>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Requester Email<span class="text_red">* </span>
                                </label>
                                <input type="text" class="form-control form_width" placeholder="Enter Requester Email"
                                    formControlName="requester_email" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="px-0">
                        <ng-container *ngIf="metadataArray.controls.length > 0">
                            <ngb-accordion #a="ngbAccordion" formArrayName="metadata"
                                *ngFor="let tool of metadataArray.controls; let i = index" activeIds="custom-panel-1">
                                <div class="card">
                                    <div class="ng_container_header">
                                        <ngb-panel id="custom-panel-1">
                                            <ng-template ngbPanelHeader>
                                                <div class="card-header">
                                                    <div class="justify-content-between row">
                                                        <strong class="request-detail"> Provide new GOLD user
                                                            information
                                                        </strong>
                                                        <div class="heeader_button justify-content-end">
                                                            <div class="button_div d-flex">
                                                                <button (click)="copyMetadata(tool.value)"
                                                                    class="btn btn-primary btn_creat_session1"><span
                                                                        class="fon_12">+ Copy
                                                                    </span>
                                                                </button>
                                                                <button (click)="addMetadata()"
                                                                    class="btn btn-success btn_creat_session1"><span
                                                                        class="fon_12">+ Add More
                                                                    </span>
                                                                </button>
                                                                <!-- <button ngbPanelToggle
                                                                    class="btn btn-link btn_minimize p-0"><span>-</span></button> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <ng-template ngbPanelContent class="m-0">
                                                <div [formGroupName]="i" class="card-body card_width m-0">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    {{lableConstant.Email_Address}} <span
                                                                        class="text_red">*
                                                                    </span>
                                                                </label>
                                                                <ng-select placeholder="Please select email"
                                                                    [items]="searchedPreferedInstructor"
                                                                    [multiple]="false" bindLabel="email_id"
                                                                    bindValue="email_id"
                                                                    (change)="changeEmail($event, i)"
                                                                    formControlName="email_for_participant"
                                                                    (search)="searchInstructor($event.term)">
                                                                </ng-select>
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['email_for_participant'].invalid && (metadataArray.controls[i].controls['email_for_participant'].dirty || metadataArray.controls[i].controls['email_for_participant'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['email_for_participant'].errors?.required">
                                                                        {{requiredMessage(this.lableConstant.Email_Address)}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    Name<span class="text_red">* </span>
                                                                </label>
                                                                <input type="text" class="form-control form_width"
                                                                    placeholder="Enter Name" formControlName="name">
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['name'].invalid && (metadataArray.controls[i].controls['name'].dirty || metadataArray.controls[i].controls['name'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['name'].errors?.required">
                                                                        {{requiredMessage('Name')}}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    CUID/FTID<span class="text_red">* </span>
                                                                </label>
                                                                <input type="text" class="form-control form_width"
                                                                    placeholder="Enter CUID/FTID"
                                                                    formControlName="cuid_ftid">
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['cuid_ftid'].invalid && (metadataArray.controls[i].controls['cuid_ftid'].dirty || metadataArray.controls[i].controls['cuid_ftid'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['cuid_ftid'].errors?.required">
                                                                        {{requiredMessage('CUID/FTID')}}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                    </div>
                                                    <div class="row">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <strong>GOLD data perimeter</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label">
                                                                                {{lableConstant.business_unit_m1_level}}
                                                                            </label>
                                                                            <ng-select [items]="bussinessUnitObj"
                                                                                bindLabel="team_name"
                                                                                bindValue="id" formControlName="business_unit_id"
                                                                                class="w_100">
                                                                            </ng-select>
                                                                            <div
                                                                                *ngIf="(metadataArray.controls[i].controls['business_unit_id'].invalid && (metadataArray.controls[i].controls['business_unit_id'].dirty || metadataArray.controls[i].controls['business_unit_id'].touched)) || isSubmitted">
                                                                                <div class="error_message"
                                                                                    *ngIf="metadataArray.controls[i].controls['business_unit_id'].errors?.required">
                                                                                    {{requiredMessage('PI')}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <div class="form-group">
                                                                            <label
                                                                                class="form-control-label">{{lableConstant.region}}</label>
                                                                            <ng-select [items]="regionDnaObj"
                                                                                (change)="getSelectedRegion($event, i)"
                                                                                [multiple]="false"
                                                                                bindLabel="region_name" bindValue="region_name"
                                                                                formControlName="region">
                                                                            </ng-select>
                                                                            <div
                                                                                *ngIf="(metadataArray.controls[i].controls['region'].invalid && (metadataArray.controls[i].controls['region'].dirty || metadataArray.controls[i].controls['region'].touched)) || isSubmitted">
                                                                                <div class="error_message"
                                                                                    *ngIf="metadataArray.controls[i].controls['region'].errors?.required">
                                                                                    {{requiredMessage(this.lableConstant.region)}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <div class="form-group">
                                                                            <label class="form-control-label">
                                                                                {{lableConstant.Country}}
                                                                            </label>
                                                                            <ng-select [items]="countries[i]"
                                                                                bindLabel="country_name"
                                                                                bindValue="country_name"
                                                                                formControlName="country" class="w_100">
                                                                            </ng-select>
                                                                            <div
                                                                                *ngIf="(metadataArray.controls[i].controls['country'].invalid && (metadataArray.controls[i].controls['country'].dirty || metadataArray.controls[i].controls['country'].touched)) || isSubmitted">
                                                                                <div class="error_message"
                                                                                    *ngIf="metadataArray.controls[i].controls['country'].errors?.required">
                                                                                    {{requiredMessage(this.lableConstant.Country)}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    Gold level of access<span class="text_red">*
                                                                    </span>
                                                                </label>
                                                                <ng-select
                                                                    placeholder="Please select Gold level of access"
                                                                    [items]="goldLevelAccess" bindLabel="name"
                                                                    bindValue="id" formControlName="gold_level_access"
                                                                    class="w_100">
                                                                </ng-select>
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['gold_level_access'].invalid && (metadataArray.controls[i].controls['gold_level_access'].dirty || metadataArray.controls[i].controls['gold_level_access'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['gold_level_access'].errors?.required">
                                                                        {{requiredMessage('Gold level of
                                                                        access')}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    HRBP email<span class="text_red">* </span>
                                                                </label>
                                                                <ng-select [items]="hrbpEmails"
                                                                                bindLabel="email"
                                                                                bindValue="email"
                                                                                formControlName="hrbp_email" class="w_100">
                                                                            </ng-select>
                                                                <!-- <input type="text" class="form-control form_width"
                                                                    placeholder="Enter HRBP email"
                                                                    formControlName="hrbp_email"> -->
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['hrbp_email'].invalid && (metadataArray.controls[i].controls['hrbp_email'].dirty || metadataArray.controls[i].controls['hrbp_email'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['hrbp_email'].errors?.required">
                                                                        {{requiredMessage('HRBP email')}}
                                                                    </div>
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['hrbp_email'].errors?.pattern">
                                                                        Email is not valid.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--col-->
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="form-control-label">
                                                                    Business justification <span class="text_red">*
                                                                    </span>
                                                                </label>
                                                                <textarea class="form-control form_width-textarea"
                                                                    formControlName="business_justification"></textarea>
                                                                <div
                                                                    *ngIf="(metadataArray.controls[i].controls['business_justification'].invalid && (metadataArray.controls[i].controls['business_justification'].dirty || metadataArray.controls[i].controls['business_justification'].touched)) || isSubmitted">
                                                                    <div class="error_message"
                                                                        *ngIf="metadataArray.controls[i].controls['business_justification'].errors?.required">
                                                                        {{requiredMessage('Business justification')}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--row-->
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label (change)="agreeChange($event)">
                                                                <input type="checkbox" formControlName="agree">
                                                                <span class="mr-1 ml-1 font-13">I agree with the data protection policy</span>
                                                            </label>
                                                            <div
                                                                *ngIf="(metadataArray.controls[i].controls['agree'].invalid && (metadataArray.controls[i].controls['agree'].dirty || metadataArray.controls[i].controls['agree'].touched)) || isSubmitted">
                                                                <div class="error_message"
                                                                    *ngIf="metadataArray.controls[i].controls['agree'].errors">
                                                                    {{requiredMessage('I agree with the data protection policy')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ngb-panel>
                                    </div>
                                </div>
                            </ngb-accordion>
                        </ng-container>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Additional Comments
                                </label>
                                <textarea class="form-control form_width-textarea" rows="3"
                                    formControlName="additional_comment"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-primary mr-1" type="submit"
                                (click)="createGoldTool('pending')">{{lableConstant.submit}}</button>

                            <button class="btn btn-secondary" (click)="createGoldTool('draft')">
                                {{lableConstant.Save_as_draft}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>