<div id="right-panel" class="right-panel">
    <app-header>
    </app-header>
    <div class="breadcrumbs cm_breadcums">
        <div class="col-sm-8">
            <div class="page-header float-left">
                <div class="page-title d-flex align-items-center">
                    <img src="../../../../assets/images/second.jpg" class="home_Css_img" />
                    <div class="d-flex flex-column ml-3">
                        <span class="breade_text_span1">Session Workflow Status </span>
                        <span class="divider_setbackup"></span>
                        <!-- <span class="breade_text_span">People Development & Learning Strives on
                            Providing you with the
                            best customer service we can drive</span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 float-right">
            <div class="page-header float-right">
                <div class="page-title d-flex end_just">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text_white">Dashboard</a>
                        </li>
                        <li>
                            <span  class="text_white span_dis" >Session Workflow Status</span>
                         
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-user-law-and-crime-kiranshastry-lineal-kiranshastry.png" class="w_40" /> <strong>Session Workflow Status</strong>
                        </div>
                        <div class="card-body">
                            <!--colend-->
                            <div class="row" >
                            <label>If "SCT Workflow Status" is off than RTC(Regional Training Coordinator) will be able to directly publish Session creation templates without forwarding to  Session Publisher !</label>
                            </div>
                            <!--rowend-->
                            <div class="row">
                                <strong>SCT Workflow Status</strong>
                            </div>
                              <div class="onoff_div">
                              <input type="checkbox" [(ngModel)]="onOffFlag" class="input_onf">
                              </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary mt-1 mr-2" (click)="save()">Save</button>
                            <!--row-->
                        </div>
                    </div>
                </div>
                <!-- .animated -->
            </div>
            <!-- .content -->
        </div>
    </div>
    <!-- /#right-panel -->
   
</div>


