<div class="card mb-0">
    <div class="card-header color-orange">
        <div class="d-flex justify-content-between">
            Forward Request
            <a (click)="closeModal()"><i class="fa fa-times color-black" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="dnaForwardForm">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-control-label">
                        <span> Selected learning objects titles</span>
                    </label>
                    <h4 *ngFor="let item of titleLists">{{item.title}}</h4>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-control-label">
                       <span> Select strategic level and enter comments to proceed.</span>
                    </label>
                    <input type="radio" value="strategic_1" formControlName="strategic" (change)="getStrategic($event)">
                    <strong class="font-16 ml-2">Strategic for BU</strong>

                     <input type="radio" value="strategic_2" formControlName="strategic" (change)="getStrategic($event)">
                     <strong class="font-16 ml-2">Not strategic but action required</strong>
            
                     <input type="radio" value="strategic_3" formControlName="strategic" (change)  ="getStrategic($event)">
                      <strong class="font-16 ml-2">Not a priority or no action required</strong>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-control-label">
                        <span>  Comments</span>
                    </label>
                    <textarea class="form-control form_width-textarea" maxlength="500" rows="3" formControlName="status_comment" maxlength="500"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary mr-1" type="submit" (click)="forward()">Submit</button>
    </div>
</div>

