<div class="card mb-0">
    <div class="card-header color-orange">
        <div class="d-flex justify-content-between">
        Forward Request
            <a (click)="closeModal()"><i class="fa fa-times color-black" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title" style="font-size: 0.9rem;">
            <b class="color-orange">
                Selected learning objects titles
            </b>
        </h5>
        <h5>Select strategic level and enter comments to proceed.</h5>
       
    </div>
</div>
