<div class="card mb-0">
    <div class="card-header color-orange">
        <div class="d-flex justify-content-between">
            {{title}} 
            <a (click)="closeModal()"><i class="fa fa-times color-black" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="dnaForwardForm">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-control-label">
                        <span> Selected learning objects titles</span>
                    </label>
                    <h4 *ngFor="let item of titleLists" class="fon_12 text_orange">{{item}}</h4>
                </div>
            </div>

            <div class="col-sm-12" *ngIf="isBussinessConsultant">
                <div class="form-group">
                    <label class="form-control-label">
                       <span> Select strategic level and enter comments to proceed.</span>
                    </label>
                    <div>
                    <input type="radio" value="Strategic for BU" formControlName="strategic" (change)="getStrategic($event)">
                    <strong class="fon_12 ml-1 text_orange mr-2">Strategic for BU</strong>

                     <input type="radio" value="Not strategic but action required" formControlName="strategic" (change)="getStrategic($event)">
                     <strong class="fon_12 ml-1 text_orange mr-2">Not strategic but action required</strong>
            
                     <input type="radio" value="Not a priority or no action required" formControlName="strategic" (change)  ="getStrategic($event)">
                      <strong class="fon_12 ml-1 text_orange mr-2">Not a priority or no action required</strong>
                      </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-control-label">
                        <span>  Comments</span>
                    </label>
                    <textarea class="form-control form_width-textarea" maxlength="500" rows="3" formControlName="status_comment" maxlength="500"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary mr-1" type="submit" *ngIf="isBussinessConsultant" (click)="forward('pending')">Submit</button>
        <button class="btn btn-primary mr-1" type="submit" *ngIf="!isBussinessConsultant" (click)="forward('close')">Submit</button>
    </div>
</div>

