<div class="card mb-0">
    <div class="card-header color-orange">
        <div class="d-flex justify-content-between">
           {{title}}
            <a (click)="closeModal()"><i class="fa fa-times color-black" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="forwardDesignForm">
            <div class="col-sm-6" *ngIf="isChange">
                <div class="form-group">
                  <label>{{lableConstant.change_status}} <span class="text-danger-ligth">* </span></label>
                  <ng-select [items]="statusObj" 
                  bindLabel="name" bindValue="id"
                  formControlName="status"
                  class="w_100">
                   </ng-select>
                   <div *ngIf="(forwardDesignForm.controls['status'].invalid && (forwardDesignForm.controls['status'].dirty || forwardDesignForm.controls['status'].touched)) || isSubmitted ">
                        <div class="error_message"
                            *ngIf="forwardDesignForm.controls['status'].errors?.required">
                            {{requiredMessage(this.lableConstant.change_status)}}
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-6" *ngIf="isApprove">
                <div class="form-group">
                  <label>{{lableConstant.project_manager}} <span class="text-danger-ligth">* </span></label>
                  <ng-select [items]="projectManagerList" 
                  bindLabel="user_name" bindValue="id"
                  formControlName="project_manager"
                  class="w_100">
                   </ng-select>
                   <div *ngIf="(forwardDesignForm.controls['project_manager'].invalid && (forwardDesignForm.controls['project_manager'].dirty || forwardDesignForm.controls['project_manager'].touched)) || isSubmitted ">
                        <div class="error_message"
                            *ngIf="forwardDesignForm.controls['project_manager'].errors?.required">
                            {{requiredMessage(this.lableConstant.project_manager)}}
                        </div>
                    </div>
                </div>
              </div>
             
      
              
            <div class="col-sm-12">
                <div class="form-group">
                  <label>{{lableConstant.Comments}} <span class="text-danger-ligth" *ngIf="status == designStatus.reject">* </span></label>
                  <textarea class="form-control form_width-textarea" rows="3" placeholder="Enter Comments"
                  formControlName="status_comment"></textarea>
                   <div *ngIf="(forwardDesignForm.controls['status_comment'].invalid &&     (forwardDesignForm.controls['status_comment'].dirty || forwardDesignForm.controls['status_comment'].touched)) || isSubmitted ">
                        <div class="error_message"
                            *ngIf="forwardDesignForm.controls['status_comment'].errors?.required">
                            {{requiredMessage(this.lableConstant.Comments)}}
                        </div>
                    </div>
                </div>
              </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary mr-1" type="submit" (click)="submit()">{{status == designStatus.reject ? lableConstant.reject : lableConstant.submit }}</button>
        <button class="btn btn-secondary" type="submit" (click)="closeModal()">{{lableConstant.cancel}}</button>
    </div>
</div>